# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [55]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [56]:
# your code here
orders = pd.read_csv("../data/Orders.csv")

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [57]:
orders_copy = orders.copy()

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [78]:
# your code here
orders_customer = pd.DataFrame(orders.groupby("CustomerID")["amount_spent"].sum())

quantile_95 = float(orders_customer.quantile(.95))
quantile_75 = float(orders_customer.quantile(.75))

orders_customer["VIP"]       = orders_customer["amount_spent"] >= quantile_95
orders_customer["Preferred"] = (orders_customer["amount_spent"] >= quantile_75) & (orders_customer["amount_spent"] < quantile_95)

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [79]:
# change column name for orders_customer
orders_customer = orders_customer.rename(columns = {"amount_spent":"spent_costumer"})

In [84]:
customer_country = pd.DataFrame(orders.groupby("CustomerID")["Country"])

customer_country.head()

       0                                                  1
0  12346  37126    United Kingdom
Name: Country, dtype: ...
1  12347  10516     Iceland
10517     Iceland
10518     ...
2  12348  23010     Finland
23011     Finland
23012     ...
3  12349  358156    Italy
358157    Italy
358158    Ital...
4  12350  49326    Norway
49327    Norway
49328    Norwa...

In [60]:
orders = orders.merge(right=orders_costumer, how="left", on="CustomerID")

In [76]:
# your code here
orders_country = pd.DataFrame(orders.groupby(["Country","CustomerID"])["VIP"].value_counts())

orders_country.head(50)

                            VIP
Country   CustomerID VIP
Australia 12386      False   10
          12388      False  100
          12393      False   64
          12415      True   716
          12422      False   21
          12424      False   30
          12431      True   182
          12434      False   50
          16321      False   12
Austria   12358      False   19
          12360      False  129
          12370      False    8
          12373      False   14
          12374      False   33
          12414      False   18
          12429      False   21
          12453      False   43
          12817      False    4
          12818      False   14
          12865      False   95
Bahrain   12353      False    4
          12355      False   13
Belgium   12361      False   10
          12362      False  266
          12364      False   85
          12379      False   40
          12380      False  104
          12383      False   99
          12390      False   32
          12394      False   21
          12395      False  156
          12397      False  126
          12399      False   59
          12401      False    5
          12402      False   11
          12407      False   77
          12408      False  105
          12417      False  169
          12423      False  125
          12431      True    54
          12447      False   26
          12449      False  191
          12463      False   83
          12464      False   29
          12465      False   47
          12866      False   26
          12876      False   85
Brazil    12769      False   32
Canada    15388      False   10
          17443      False    1

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here