# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [84]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [85]:
# your code here
orders = pd.read_csv('../data/Orders.csv', index_col=0)
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [86]:
# # aggregating the amount_spent for unique customersID thanks to sum agg in amount_spent
total_spent_unique_customer = orders.groupby('CustomerID')['amount_spent'].agg('sum' , axis = 'columns').reset_index().sort_values(by='amount_spent',ascending=False)
total_spent_unique_customer.head()

      CustomerID  amount_spent
1690       14646     280206.02
4202       18102     259657.30
3729       17450     194550.79
3009       16446     168472.50
1880       14911     143825.06

In [97]:
#quantile by 4 group, the 4th is the highest range
total_spent_unique_customer['Quantiles']= pd.qcut(total_spent_unique_customer['amount_spent'], q=4, labels=['Quantile-1', 'Quantile-2','Quantile-3','Quantile-4']).sort_values(ascending=False)
total_spent_unique_customer.head(5)

   level_0  index  CustomerID  amount_spent   Quantiles customer_level
0        0   1690       14646     280206.02  Quantile-4            VIP
1        1   4202       18102     259657.30  Quantile-4            VIP
2        2   3729       17450     194550.79  Quantile-4            VIP
3        3   3009       16446     168472.50  Quantile-4            VIP
4        4   1880       14911     143825.06  Quantile-4            VIP

In [114]:
#we create a new column 'customer level' to difference between vip and preferred according to quantile (quantile4 == vip)
total_spent_unique_customer['customer_level'] = np.where( total_spent_unique_customer['Quantiles'] == 'Quantile-4', 'VIP', 'Preferred')
total_spent_unique_customer.reset_index(inplace=True, drop=True)
total_spent_unique_customer.head()
vip_customer = total_spent_unique_customer[total_spent_unique_customer['customer_level'] =='VIP']

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [115]:
vip_customer.merge(orders, sort=True,on=["CustomerID",'amount_spent'])[['Country']].max()

Country    United Kingdom
dtype: object

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [116]:
# in this tabl
total_spent_unique_customer.merge(orders, sort=True,on=["CustomerID",'amount_spent'])[['Country']].max()

Country    United Kingdom
dtype: object