# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:

# import libraries
import pandas as pd

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import data set
df_pokemon = pd.read_csv('pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [5]:
# your code here
df_pokemon.head(10)

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [9]:
# your code here

array_pokemon = df_pokemon[['Type 1', 'Type 2']]
array_pokemon

       Type 1  Type 2
0       Grass  Poison
1       Grass  Poison
2       Grass  Poison
3       Grass  Poison
4        Fire     NaN
5        Fire     NaN
6        Fire  Flying
7        Fire  Dragon
8        Fire  Flying
9       Water     NaN
10      Water     NaN
11      Water     NaN
12      Water     NaN
13        Bug     NaN
14        Bug     NaN
15        Bug  Flying
16        Bug  Poison
17        Bug  Poison
18        Bug  Poison
19        Bug  Poison
20     Normal  Flying
21     Normal  Flying
22     Normal  Flying
23     Normal  Flying
24     Normal     NaN
25     Normal     NaN
26     Normal  Flying
27     Normal  Flying
28     Poison     NaN
29     Poison     NaN
..        ...     ...
770     Fairy     NaN
771  Fighting  Flying
772  Electric   Fairy
773      Rock   Fairy
774    Dragon     NaN
775    Dragon     NaN
776    Dragon     NaN
777     Steel   Fairy
778     Ghost   Grass
779     Ghost   Grass
780     Ghost   Grass
781     Ghost   Grass
782     Ghost   Grass
783     Ghost   Grass
784     Ghost   Grass
785     Ghost   Grass
786     Ghost   Grass
787     Ghost   Grass
788       Ice     NaN
789       Ice     NaN
790    Flying  Dragon
791    Flying  Dragon
792     Fairy     NaN
793      Dark  Flying
794    Dragon  Ground
795      Rock   Fairy
796      Rock   Fairy
797   Psychic   Ghost
798   Psychic    Dark
799      Fire   Water

[800 rows x 2 columns]

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [18]:
# your code here


# test transformed data
df_pokemon['Name'] = df_pokemon['Name'].replace(regex=r'.+Mega', value='Mega')
df_pokemon.loc["NaN"]

KeyError: 'NaN'

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [22]:
# your code here
df_pokemon['A/D Ratio'] = df_pokemon['Attack'] / df_pokemon['Defense']
df_pokemon.columns

Index(['Unnamed: 0', '#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary',
       'A/D Ratio'],
      dtype='object')

#### Identify the pokemon with the highest `A/D Ratio`.

In [24]:
# your code here
df_pokemon.sort_values(['A/D Ratio'], ascending = False).head(1)

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [25]:
df_pokemon.sort_values(['A/D Ratio'], ascending = True).head(1)

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [34]:
# your code here
def combo_join(row):
    if type(row['Type 2']) != float:
        return (str((row["Type 1"])) + " " + str(row["Type 2"]))
    else:
        return row["Type 1"]
    
df_pokemon['Combo Type'] = df_pokemon.apply(combo_join, axis = 1)
df_pokemon.head()

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass Poison
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass Poison
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass Poison
3,3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass Poison
4,4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [35]:
df_pokemon.sort_values(["A/D Ratio"], ascending = False).head(5)

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water Dark
19,19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug Poison
453,453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [38]:
# your code here
list_top_5 = df_pokemon.sort_values(["A/D Ratio"], ascending = False).head(5)
list_top_5 = list_top_5['Combo Type']
list_top_5

429       Psychic
347    Water Dark
19     Bug Poison
453          Rock
348    Water Dark
Name: Combo Type, dtype: object

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [40]:
# your code here
df_pokemon.groupby(["Combo Type"]).mean()

,Unnamed: 0,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,,
Bug,397.294118,361.352941,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.000000,0.940179
Bug Electric,656.500000,595.500000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.000000,1.111667
Bug Fighting,231.500000,214.000000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.000000,1.637681
Bug Fire,697.500000,636.500000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.000000,1.234266
Bug Flying,314.571429,286.285714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.000000,1.146274
Bug Ghost,316.000000,292.000000,236.000000,1.000000,90.000000,45.000000,30.000000,30.000000,40.000000,3.000000,0.000000,2.000000
Bug Grass,394.000000,354.833333,384.000000,55.000000,73.833333,76.666667,57.333333,76.666667,44.500000,3.500000,0.000000,0.983165
Bug Ground,386.500000,351.500000,345.000000,45.500000,62.000000,97.500000,44.500000,57.500000,38.000000,3.500000,0.000000,0.626190
Bug Poison,220.333333,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315989
Bug Rock,489.000000,442.666667,435.000000,46.666667,56.666667,146.666667,36.666667,113.333333,35.000000,4.000000,0.000000,0.522728
Bug Steel,456.714286,416.000000,509.714286,67.714286,114.714286,112.428571,68.142857,83.285714,63.428571,3.571429,0.000000,1.037527
Bug Water,307.000000,283.000000,269.000000,40.000000,30.000000,32.000000,50.000000,52.000000,65.000000,3.000000,0.000000,0.937500
Dark,451.500000,408.900000,436.200000,60.500000,88.800000,61.200000,81.300000,61.700000,82.700000,3.800000,0.100000,1.560107
Dark Dragon,695.000000,634.000000,440.000000,72.000000,85.000000,70.000000,78.333333,70.000000,64.666667,5.000000,0.000000,1.226984
Dark Fighting,620.500000,559.500000,418.000000,57.500000,82.500000,92.500000,40.000000,92.500000,53.000000,5.000000,0.000000,0.927019
Dark Fire,247.000000,228.666667,476.666667,65.000000,80.000000,56.666667,110.000000,73.333333,91.666667,2.000000,0.000000,1.600000
Dark Flying,573.000000,520.800000,494.000000,93.200000,92.200000,73.800000,84.200000,70.400000,80.200000,4.400000,0.200000,1.431797
Dark Ghost,326.500000,302.000000,430.000000,50.000000,80.000000,100.000000,75.000000,90.000000,35.000000,3.000000,0.000000,0.840000
Dark Ice,372.500000,338.000000,470.000000,62.500000,107.500000,60.000000,40.000000,80.000000,120.000000,3.000000,0.000000,1.786713
Dark Psychic,756.500000,686.500000,385.000000,69.500000,73.000000,70.500000,52.500000,60.500000,59.000000,6.000000,0.000000,1.032161
Dark Steel,685.500000,624.500000,415.000000,55.000000,105.000000,85.000000,50.000000,55.000000,65.000000,5.000000,0.000000,1.232143
Dragon,559.545455,509.727273,413.363636,61.818182,92.181818,67.090909,59.818182,71.636364,60.818182,4.181818,0.000000,1.388624
Dragon Electric,707.000000,644.000000,680.000000,100.000000,150.000000,120.000000,120.000000,100.000000,90.000000,5.000000,1.000000,1.250000
Dragon Fairy,366.000000,334.000000,590.000000,75.000000,110.000000,110.000000,110.000000,105.000000,80.000000,3.000000,0.000000,1.000000
Dragon Fire,706.000000,643.000000,680.000000,100.000000,120.000000,100.000000,150.000000,120.000000,90.000000,5.000000,1.000000,1.200000
Dragon Flying,365.666667,332.833333,641.666667,94.333333,135.666667,97.500000,121.666667,94.166667,98.333333,2.666667,0.333333,1.409643
Dragon Ground,552.800000,499.000000,522.000000,90.000000,112.000000,88.200000,74.200000,75.000000,82.600000,4.400000,0.200000,1.322660
Dragon Ice,711.000000,646.000000,686.666667,125.000000,140.000000,93.333333,140.000000,93.333333,95.000000,5.000000,1.000000,1.492593
Dragon Psychic,418.500000,380.500000,650.000000,80.000000,100.000000,97.500000,135.000000,127.500000,110.000000,3.000000,1.000000,1.036806
Electric,334.222222,303.962963,413.555556,60.000000,69.222222,55.296296,78.148148,66.370370,84.518519,2.888889,0.037037,1.323922
...,...,...,...,...,...,...,...,...,...,...,...,...
Rock Grass,377.500000,345.500000,425.000000,76.000000,61.000000,87.000000,71.000000,97.000000,33.000000,3.000000,0.000000,0.683760
Rock Ground,146.166667,135.500000,380.000000,55.000000,81.333333,104.166667,45.000000,50.833333,43.666667,1.333333,0.000000,0.885069
Rock Ice,768.500000,698.500000,441.500000,100.000000,68.000000,61.000000,83.000000,77.500000,52.000000,6.000000,0.000000,1.124722
Rock Psychic,369.500000,337.500000,440.000000,70.000000,75.000000,75.000000,75.000000,75.000000,70.000000,3.000000,0.000000,0.981900
Rock Steel,479.666667,432.333333,456.666667,50.000000,49.666667,143.666667,54.666667,125.333333,33.333333,4.000000,0.000000,0.348255
Rock Water,353.166667,322.500000,417.666667,51.500000,75.333333,100.333333,69.666667,63.666667,57.166667,2.666667,0.000000,0.758882
Steel,546.400000,497.000000,494.000000,62.000000,90.000000,132.000000,64.000000,92.000000,54.000000,4.200000,0.200000,0.721216
Steel Dragon,540.000000,483.000000,680.000000,100.000000,120.000000,120.000000,150.000000,100.000000,90.000000,4.000000,1.000000,1.000000
Steel Fairy,478.000000,437.666667,443.333333,52.333333,90.000000,100.333333,63.333333,79.000000,58.333333,4.000000,0.000000,0.906374
Steel Fighting,699.000000,638.000000,580.000000,91.000000,90.000000,129.000000,90.000000,72.000000,108.000000,5.000000,1.000000,0.697674
Steel Flying,245.000000,227.000000,465.000000,65.000000,80.000000,140.000000,40.000000,70.000000,70.000000,2.000000,0.000000,0.571429
Steel Ghost,749.500000,680.250000,453.250000,56.000000,97.500000,112.500000,70.000000,71.500000,45.750000,6.000000,0.000000,1.216667
Steel Ground,223.500000,208.000000,560.000000,75.000000,105.000000,215.000000,55.000000,80.000000,30.000000,2.000000,0.000000,0.484239
Steel Psychic,434.571429,394.142857,488.571429,69.142857,89.000000,108.857143,70.428571,91.714286,59.428571,3.285714,0.142857,0.784134
Steel Rock,331.000000,305.000000,430.000000,60.000000,90.000000,140.000000,50.000000,50.000000,40.000000,3.000000,0.000000,0.651323
Water,333.949153,302.881356,413.745763,66.847458,71.830508,69.203390,72.949153,65.033898,67.881356,2.864407,0.050847,1.083157
Water Dark,380.833333,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949
Water Dragon,395.000000,357.000000,610.000000,82.500000,107.500000,97.500000,122.500000,107.500000,92.500000,3.000000,0.500000,1.100000
Water Electric,184.500000,170.500000,395.000000,100.000000,48.000000,48.000000,66.000000,66.000000,67.000000,2.000000,0.000000,1.000000
Water Fairy,198.500000,183.500000,335.000000,85.000000,35.000000,65.000000,40.000000,65.000000,45.000000,2.000000,0.000000,0.512500
Water Fighting,498.000000,452.000000,556.666667,90.666667,79.666667,91.666667,109.333333,90.000000,95.333333,3.666667,0.000000,0.866667
Water Flying,396.857143,361.714286,404.000000,63.142857,56.571429,63.142857,67.285714,81.857143,72.000000,3.285714,0.000000,0.902094
Water Ghost,653.500000,592.500000,407.500000,77.500000,50.000000,60.000000,75.000000,95.000000,50.000000,5.000000,0.000000,0.828571
Water Grass,294.000000,271.000000,346.666667,60.000000,50.000000,50.000000,63.333333,73.333333,50.000000,3.000000,0.000000,1.000000
Water Ground,367.100000,334.300000,433.900000,87.100000,84.400000,71.400000,69.400000,68.400000,53.200000,3.300000,0.000000,1.165399
Water Ice,111.333333,103.000000,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.000000,0.821759
Water Poison,128.000000,118.666667,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.000000,1.162149
Water Psychic,120.400000,111.800000,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.000000,0.783668
Water Rock,473.750000,430.000000,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.000000,0.727170
Water Steel,440.000000,395.000000,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.000000,0.977273