# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [2]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import re

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import data set from Ironhack's database
driver   = 'mysql+pymysql:'
user     = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
ip       = '34.65.10.136'
database = 'pokemon'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
pokemon = pd.read_sql('SELECT * FROM pokemon_stats', engine)

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
pokemon.head(10)
pokemon.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary     object
dtype: object

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# your code here
type1 = pokemon['Type 1'].unique()
type2 = pokemon['Type 2'].unique()
type12 = np.concatenate((type1, type2), axis=None)
newarray = np.unique(type12)
newarray

array(['', 'Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting',
       'Fire', 'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal',
       'Poison', 'Psychic', 'Rock', 'Steel', 'Water'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [10]:
def Mega_remover(x):
    return re.sub('\w+Mega','Mega', x)

In [18]:
pokemon['Name'] = pokemon['Name'].apply(lambda x: Mega_remover(x))

In [19]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False

In [5]:
# your code here
pattern = '\w+Mega \w+'
pokemon['Name'].replace(pattern, np.NaN)
# test transformed data
# pokemon.head(10)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']

#### Identify the pokemon with the highest `A/D Ratio`.

In [7]:
# your code here
pokemon[['Name','A/D Ratio']].max()

Name         Zygarde50% Forme
A/D Ratio                   9
dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [8]:
# your code here
pokemon[['Name','A/D Ratio']].min()

Name         Abomasnow
A/D Ratio    0.0434783
dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [35]:
# your code here

pokemon['Combo Type'] = pokemon.apply(lambda row: row['Type 1'] + '-' + row['Type 2'] if row['Type 2'] != "" else row['Type 1'] , axis=1)
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False,0.738462,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [39]:
# your code here
top5 = pokemon.sort_values(by='A/D Ratio', ascending=False).head(5)
top5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [50]:
# your code here
top5list = list(top5['Combo Type'].unique())

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [59]:
top5list in pokemon['Combo Type']

TypeError: unhashable type: 'list'

In [49]:
pokemon.groupby('Combo Type',as_index=False).agg({'#':'mean','Total':'mean','HP':'mean','Attack':'mean'})

        Combo Type           #       Total         HP      Attack
0              Bug  361.352941  289.705882  53.058824   50.352941
1     Bug-Electric  595.500000  395.500000  60.000000   62.000000
2     Bug-Fighting  214.000000  550.000000  80.000000  155.000000
3         Bug-Fire  636.500000  455.000000  70.000000   72.500000
4       Bug-Flying  286.285714  419.500000  63.000000   70.142857
..             ...         ...         ...        ...         ...
149      Water-Ice  103.000000  511.666667  90.000000   83.333333
150   Water-Poison  118.666667  426.666667  61.666667   68.333333
151  Water-Psychic  111.800000  481.000000  87.000000   73.000000
152     Water-Rock  430.000000  428.750000  70.750000   82.750000
153    Water-Steel  395.000000  530.000000  84.000000   86.000000

[154 rows x 5 columns]

In [44]:
# your code here
top5.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
count,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000
mean,289.20000,442.000000,59.400000,133.000000,32.000000,77.000000,38.000000,102.600000,2.800000,4.67500
std,158.41938,117.611649,11.148991,33.837849,10.954451,65.440813,24.899799,43.316279,1.095445,2.48998
min,15.00000,305.000000,45.000000,90.000000,20.000000,15.000000,20.000000,58.000000,1.000000,3.00000
25%,318.00000,350.000000,50.000000,120.000000,20.000000,30.000000,20.000000,65.000000,3.000000,3.12500
50%,319.00000,460.000000,65.000000,125.000000,40.000000,65.000000,30.000000,95.000000,3.000000,3.75000
75%,386.00000,495.000000,67.000000,150.000000,40.000000,95.000000,40.000000,145.000000,3.000000,4.50000
max,408.00000,600.000000,70.000000,180.000000,40.000000,180.000000,80.000000,150.000000,4.000000,9.00000

In [2]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import re

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import data set from Ironhack's database
driver   = 'mysql+pymysql:'
user     = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
ip       = '34.65.10.136'
database = 'pokemon'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
pokemon = pd.read_sql('SELECT * FROM pokemon_stats', engine)

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
pokemon.head(10)
pokemon.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary     object
dtype: object

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# your code here
type1 = pokemon['Type 1'].unique()
type2 = pokemon['Type 2'].unique()
type12 = np.concatenate((type1, type2), axis=None)
newarray = np.unique(type12)
newarray

array(['', 'Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting',
       'Fire', 'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal',
       'Poison', 'Psychic', 'Rock', 'Steel', 'Water'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [10]:
def Mega_remover(x):
    return re.sub('\w+Mega','Mega', x)

In [18]:
pokemon['Name'] = pokemon['Name'].apply(lambda x: Mega_remover(x))

In [19]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False

In [5]:
# your code here
pattern = '\w+Mega \w+'
pokemon['Name'].replace(pattern, np.NaN)
# test transformed data
# pokemon.head(10)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']

#### Identify the pokemon with the highest `A/D Ratio`.

In [7]:
# your code here
pokemon[['Name','A/D Ratio']].max()

Name         Zygarde50% Forme
A/D Ratio                   9
dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [8]:
# your code here
pokemon[['Name','A/D Ratio']].min()

Name         Abomasnow
A/D Ratio    0.0434783
dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [35]:
# your code here

pokemon['Combo Type'] = pokemon.apply(lambda row: row['Type 1'] + '-' + row['Type 2'] if row['Type 2'] != "" else row['Type 1'] , axis=1)
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False,0.738462,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [39]:
# your code here
top5 = pokemon.sort_values(by='A/D Ratio', ascending=False).head(5)
top5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [50]:
# your code here
top5list = list(top5['Combo Type'].unique())

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [59]:
top5list in pokemon['Combo Type']

TypeError: unhashable type: 'list'

In [49]:
pokemon.groupby('Combo Type',as_index=False).agg({'#':'mean','Total':'mean','HP':'mean','Attack':'mean'})

        Combo Type           #       Total         HP      Attack
0              Bug  361.352941  289.705882  53.058824   50.352941
1     Bug-Electric  595.500000  395.500000  60.000000   62.000000
2     Bug-Fighting  214.000000  550.000000  80.000000  155.000000
3         Bug-Fire  636.500000  455.000000  70.000000   72.500000
4       Bug-Flying  286.285714  419.500000  63.000000   70.142857
..             ...         ...         ...        ...         ...
149      Water-Ice  103.000000  511.666667  90.000000   83.333333
150   Water-Poison  118.666667  426.666667  61.666667   68.333333
151  Water-Psychic  111.800000  481.000000  87.000000   73.000000
152     Water-Rock  430.000000  428.750000  70.750000   82.750000
153    Water-Steel  395.000000  530.000000  84.000000   86.000000

[154 rows x 5 columns]

In [44]:
# your code here
top5.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
count,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000
mean,289.20000,442.000000,59.400000,133.000000,32.000000,77.000000,38.000000,102.600000,2.800000,4.67500
std,158.41938,117.611649,11.148991,33.837849,10.954451,65.440813,24.899799,43.316279,1.095445,2.48998
min,15.00000,305.000000,45.000000,90.000000,20.000000,15.000000,20.000000,58.000000,1.000000,3.00000
25%,318.00000,350.000000,50.000000,120.000000,20.000000,30.000000,20.000000,65.000000,3.000000,3.12500
50%,319.00000,460.000000,65.000000,125.000000,40.000000,65.000000,30.000000,95.000000,3.000000,3.75000
75%,386.00000,495.000000,67.000000,150.000000,40.000000,95.000000,40.000000,145.000000,3.000000,4.50000
max,408.00000,600.000000,70.000000,180.000000,40.000000,180.000000,80.000000,150.000000,4.000000,9.00000