# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv("../data/orders.csv")

In [3]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [4]:
len(orders["CustomerID"].unique())

4339

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [5]:
# first find the amount spent for different quantiles
orders.groupby("CustomerID").aggregate({"amount_spent":"sum"}).describe([.50,.75,.95])

        amount_spent
count    4339.000000
mean     2053.793018
std      8988.248381
min         0.000000
50%       674.450000
75%      1661.640000
95%      5840.182000
max    280206.020000

In [9]:
# your code here

# use the amount spent information from the quantiles data to filter for the VIP or Preferred customers

agg_amt_CID = orders.groupby("CustomerID", as_index=False).aggregate({"amount_spent":"sum"})
VIP_Customers = agg_amt_CID.loc[agg_amt_CID["amount_spent"] > 5840.182000]
Preferred_Customers = agg_amt_CID.loc[(agg_amt_CID["amount_spent"] > 674.450000) 
                                      & (agg_amt_CID["amount_spent"] < 1661.640000)]

In [10]:
orders["VIP_or_Preferred"] = None

In [11]:
orders.loc[orders["CustomerID"].isin(VIP_Customers["CustomerID"]), "VIP_or_Preferred"] = "VIP"
orders.loc[orders["CustomerID"].isin(Preferred_Customers["CustomerID"]), "VIP_or_Preferred"] = "Preferred"

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [12]:
# your code here
orders[orders["VIP_or_Preferred"] == "VIP"]["Country"].value_counts().index[0]

'United Kingdom'

In [13]:
orders[orders["VIP_or_Preferred"] == "VIP"]["Country"].value_counts()

United Kingdom     84185
EIRE                7077
France              3290
Germany             3127
Netherlands         2080
Australia            898
Portugal             681
Switzerland          594
Spain                511
Norway               420
Channel Islands      364
Finland              294
Cyprus               248
Singapore            222
Japan                205
Sweden               198
Belgium               54
Denmark               36
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [14]:
# your code here

orders[orders["VIP_or_Preferred"].notna()]["Country"].value_counts().index[0]

'United Kingdom'