# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import pandas as pd
import numpy as np
import sqlalchemy
import datetime

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
# import data set from Ironhack's database
connection_string = 'mysql+pymysql://ironhacker_read:ir0nhack3r@35.239.232.23/orders'
engine = sqlalchemy.create_engine(connection_string)
engine.table_names()

['orders']

In [3]:
query = 'SELECT * FROM orders;'
orders = pd.read_sql(query, engine)

In [4]:
orders.to_csv('orders')

In [7]:
pd.read_csv('orders', parse_dates=[['year', 'month', 'day', 'hour']])

,year_month_day_hour,Unnamed: 0,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,2010 12 3 8,0,0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,2010 12 3 8,1,1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2010 12 3 8,2,2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,2010 12 3 8,3,3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,2010 12 3 8,4,4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,2010 12 3 8,5,5,536365,22752,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,2010 12 3 8,6,6,536365,21730,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,2010 12 3 8,7,7,536366,22633,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,2010 12 3 8,8,8,536366,22632,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,2010 12 3 8,9,9,536367,84879,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08
10,2010 12 3 8,10,10,536367,22745,poppy s playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
11,2010 12 3 8,11,11,536367,22748,poppy s playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
12,2010 12 3 8,12,12,536367,22749,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00
13,2010 12 3 8,13,13,536367,22310,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90
14,2010 12 3 8,14,14,536367,84969,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
15,2010 12 3 8,15,15,536367,22623,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
16,2010 12 3 8,16,16,536367,22622,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90
17,2010 12 3 8,17,17,536367,21754,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
18,2010 12 3 8,18,18,536367,21755,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
19,2010 12 3 8,19,19,536367,21777,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
20,2010 12 3 8,20,20,536367,48187,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
21,2010 12 3 8,21,21,536368,22960,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
22,2010 12 3 8,22,22,536368,22913,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
23,2010 12 3 8,23,23,536368,22912,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
24,2010 12 3 8,24,24,536368,22914,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
25,2010 12 3 8,25,25,536369,21756,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom,17.85
26,2010 12 3 8,26,26,536370,22728,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00
27,2010 12 3 8,27,27,536370,22727,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00
28,2010 12 3 8,28,28,536370,22726,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00
29,2010 12 3 8,29,29,536370,21724,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20
...,...,...,...,...,...,...,...,...,...,...,...,...
397894,2011 12 5 12,397894,397894,581585,22726,alarm clock bakelike green,8,2011-12-09 12:31:00,3.75,15804,United Kingdom,30.00
397895,2011 12 5 12,397895,397895,581585,22727,alarm clock bakelike red,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00
397896,2011 12 5 12,397896,397896,581585,16016,large chinese style scissor,10,2011-12-09 12:31:00,0.85,15804,United Kingdom,8.50
397897,2011 12 5 12,397897,397897,581585,21916,set 12 retro white chalk sticks,24,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.08
397898,2011 12 5 12,397898,397898,581585,84692,box of 24 cocktail parasols,25,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.50
397899,2011 12 5 12,397899,397899,581585,84946,antique silver t-light glass,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.00
397900,2011 12 5 12,397900,397900,581585,21684,small medina stamped metal bowl,12,2011-12-09 12:31:00,0.85,15804,United Kingdom,10.20
397901,2011 12 5 12,397901,397901,581585,22398,magnets pack of 4 swallows,12,2011-12-09 12:31:00,0.39,15804,United Kingdom,4.68
397902,2011 12 5 12,397902,397902,581585,23328,set 6 school milk bottles in crate,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00
397903,2011 12 5 12,397903,397903,581585,23145,zinc t-light holder star large,12,2011-12-09 12:31:00,0.95,15804,United Kingdom,11.40
397904,2011 12 5 12,397904,397904,581585,22466,fairy tale cottage night light,12,2011-12-09 12:31:00,1.95,15804,United Kingdom,23.40
397905,2011 12 5 12,397905,397905,581586,22061,large cake stand hanging strawbery,8,2011-12-09 12:49:00,2.95,13113,United Kingdom,23.60
397906,2011 12 5 12,397906,397906,581586,23275,set of 3 hanging owls ollie beak,24,2011-12-09 12:49:00,1.25,13113,United Kingdom,30.00
397907,2011 12 5 12,397907,397907,581586,21217,red retrospot round cake tins,24,2011-12-09 12:49:00,8.95,13113,United Kingdom,214.80
397908,2011 12 5 12,397908,397908,581586,20685,doormat red retrospot,10,2011-12-09 12:49:00,7.08,13113,United Kingdom,70.80
397909,2011 12 5 12,397909,397909,581587,22631,circus parade lunch box,12,2011-12-09 12:50:00,1.95,12680,France,23.40
397910,2011 12 5 12,397910,397910,581587,22556,plasters in tin circus parade,12,2011-12-09 12:50:00,1.65,12680,France,19.80
397911,2011 12 5 12,397911,397911,581587,22555,plasters in tin strongman,12,2011-12-09 12:50:00,1.65,12680,France,19.80
397912,2011 12 5 12,397912,397912,581587,22728,alarm clock bakelike pink,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397913,2011 12 5 12,397913,397913,581587,22727,alarm clock bakelike red,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397914,2011 12 5 12,397914,397914,581587,22726,alarm clock bakelike green,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397915,2011 12 5 12,397915,397915,581587,22730,alarm clock bakelike ivory,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397916,2011 12 5 12,397916,397916,581587,22367,childrens apron spaceboy design,8,2011-12-09 12:50:00,1.95,12680,France,15.60
397917,2011 12 5 12,397917,397917,581587,22629,spaceboy lunch box,12,2011-12-09 12:50:00,1.95,12680,France,23.40
397918,2011 12 5 12,397918,397918,581587,23256,childrens cutlery spaceboy,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397919,2011 12 5 12,397919,397919,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,2011 12 5 12,397920,397920,581587,22899,children s apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,2011 12 5 12,397921,397921,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,2011 12 5 12,397922,397922,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,2011 12 5 12,397923,397923,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [5]:
orders.head()

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [6]:
orders.dtypes

index             int64
InvoiceNo         int64
StockCode        object
year              int64
month             int64
day               int64
hour              int64
Description      object
Quantity          int64
InvoiceDate      object
UnitPrice       float64
CustomerID        int64
Country          object
amount_spent    float64
dtype: object

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [ ]:
# So that I can join date and hour into a single columns
orders.iloc[:,3:7] = orders.iloc[:,3:7].astype(str, copy=False)

In [ ]:
orders['datetime'].head()

In [ ]:
int(orders['datetime'][0]).strftime('%Y %-m %-d %H')

In [ ]:
orders['datetime'] = pd.to_datetime(orders['year'] + orders['month'] + orders['day'] + orders['hour'], format = '%Y %-m %-d %-H')

In [ ]:
orders.head()

In [ ]:
orders['year'] + orders['month'] + orders['day'] + orders['hour']

In [ ]:
# your code here
pd.to_datetime(orders['year'] + orders['month'] + orders['day'] + orders['hour'], format='%Y%d%m%H')

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here