# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [12]:
# import libraries
import pandas as pd

In [13]:
import numpy as np

In [14]:
import re

#### Import data set.

Import `pokemon_stats` table from the file `Pokemon.csv` from the `data` folder. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [15]:
# import data set from Ironhack's database
pokemon=pd.read_csv("../data/Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [16]:
# your code here
pokemon.head(11)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Extract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [17]:
# your code here
arr1=pokemon["Type 1"].unique()

In [18]:
arr2=pokemon["Type 2"].unique()

In [19]:
arr = [next(iter(filter(None, values)), '') for values in zip(arr1, arr2)]

In [20]:
arr

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [21]:
#should be done with Regex 

# your code here

# test transformed data

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [32]:
string="VenusaurMega Venusaur"

In [33]:
re.sub(r"^.*Mega", "Mega", string)

'Mega Venusaur'

In [52]:
#collegs option
pokemon.replace(to_replace =r'\S*Mega', value = r'Mega',regex=True,inplace=True)

In [53]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [23]:
# your code here
ratio=pokemon["Attack"]/pokemon["Defense"]

In [24]:
pokemon["A/D Ratio"]=ratio

In [25]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [26]:
# your code here
pokemon["A/D Ratio"].max()

9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [27]:
# your code here
pokemon["A/D Ratio"].min()

0.043478260869565216

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [29]:
# your code here
type_1=pokemon["Type 1"]
type_2=pokemon["Type 2"]

In [41]:
import math

In [46]:
combo_list=[]
for word_1, word_2 in (zip(type_1, type_2)):
    if type(word_2) == str :
        combo_list.append(word_1+"-"+word_2)
    else:
        combo_list.append(word_1)

In [47]:
pokemon["Combo Type"]=combo_list

In [48]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [50]:
# your code here
top5=pokemon.sort_values(by=["A/D Ratio"]).head(5)

In [51]:
top5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478,Bug-Rock
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,0.181818,Water
484,436,Bronzor,Steel,Psychic,300,57,24,86,24,86,23,4,False,0.279070,Steel-Psychic
103,95,Onix,Rock,Ground,385,35,45,160,30,45,70,1,False,0.281250,Rock-Ground
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False,0.285714,Fire-Psychic

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [62]:
# your code here
top5_list=list(top5["Combo Type"].unique())

In [63]:
top5_list

['Bug-Rock', 'Water', 'Steel-Psychic', 'Rock-Ground', 'Fire-Psychic']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [65]:
# your code here
pokemon.groupby("Combo Type")["Total"].mean()

Combo Type
Bug              289.705882
Bug-Electric     395.500000
Bug-Fighting     550.000000
Bug-Fire         455.000000
Bug-Flying       419.500000
                    ...
Water-Ice        511.666667
Water-Poison     426.666667
Water-Psychic    481.000000
Water-Rock       428.750000
Water-Steel      530.000000
Name: Total, Length: 154, dtype: float64

In [66]:
pokemon.groupby("Combo Type")["HP"].mean()

Combo Type
Bug              53.058824
Bug-Electric     60.000000
Bug-Fighting     80.000000
Bug-Fire         70.000000
Bug-Flying       63.000000
                   ...
Water-Ice        90.000000
Water-Poison     61.666667
Water-Psychic    87.000000
Water-Rock       70.750000
Water-Steel      84.000000
Name: HP, Length: 154, dtype: float64

In [67]:
pokemon.groupby("Combo Type")["Attack"].mean()

Combo Type
Bug               50.352941
Bug-Electric      62.000000
Bug-Fighting     155.000000
Bug-Fire          72.500000
Bug-Flying        70.142857
                    ...
Water-Ice         83.333333
Water-Poison      68.333333
Water-Psychic     73.000000
Water-Rock        82.750000
Water-Steel       86.000000
Name: Attack, Length: 154, dtype: float64

In [69]:
pokemon.groupby("Combo Type")["Defense"].mean()

Combo Type
Bug               55.411765
Bug-Electric      55.000000
Bug-Fighting      95.000000
Bug-Fire          60.000000
Bug-Flying        61.571429
                    ...
Water-Ice        113.333333
Water-Poison      58.333333
Water-Psychic    104.000000
Water-Rock       112.750000
Water-Steel       88.000000
Name: Defense, Length: 154, dtype: float64

In [70]:
pokemon.groupby("Combo Type")["Sp. Atk"].mean()

Combo Type
Bug               39.294118
Bug-Electric      77.000000
Bug-Fighting      40.000000
Bug-Fire          92.500000
Bug-Flying        72.857143
                    ...
Water-Ice         80.000000
Water-Poison      61.666667
Water-Psychic     94.000000
Water-Rock        61.500000
Water-Steel      111.000000
Name: Sp. Atk, Length: 154, dtype: float64

In [71]:
pokemon.groupby("Combo Type")["Sp. Def"].mean()

Combo Type
Bug               43.647059
Bug-Electric      55.000000
Bug-Fighting     100.000000
Bug-Fire          80.000000
Bug-Flying        69.071429
                    ...
Water-Ice         78.333333
Water-Poison      91.666667
Water-Psychic     79.000000
Water-Rock        65.000000
Water-Steel      101.000000
Name: Sp. Def, Length: 154, dtype: float64

In [72]:
pokemon.groupby("Combo Type")["Speed"].mean()

Combo Type
Bug              47.941176
Bug-Electric     86.500000
Bug-Fighting     80.000000
Bug-Fire         80.000000
Bug-Flying       82.857143
                   ...
Water-Ice        66.666667
Water-Poison     85.000000
Water-Psychic    44.000000
Water-Rock       36.000000
Water-Steel      60.000000
Name: Speed, Length: 154, dtype: float64

In [73]:
pokemon.groupby("Combo Type")["Generation"].mean()

Combo Type
Bug              3.470588
Bug-Electric     5.000000
Bug-Fighting     2.000000
Bug-Fire         5.000000
Bug-Flying       2.857143
                   ...
Water-Ice        1.000000
Water-Poison     1.333333
Water-Psychic    1.200000
Water-Rock       3.750000
Water-Steel      4.000000
Name: Generation, Length: 154, dtype: float64

In [ ]:
pokemon.groupby("Combo Type")["Generation"].mean()