# Challenge 2

In this challenge we will continue working with the `Pokemon` dataset. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemon are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.


## Problem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
####LIBRARIES
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql

# import data set from Ironhack's database

In [2]:

##CONNECTION
driver = 'mysql+pymysql'
ip = '34.65.10.136'
username = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
db = 'pokemon'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'
engine = create_engine(connection_string)

#  WHICH TABLES WE WANT TO CHOOSE

In [3]:
query = 'SELECT * from pokemon_stats'
pokemon = pd.read_sql(query,engine)

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemon?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

 MY HYPOTHESIS IS THIS:

In [4]:
Hypothesis = pokemon['HP']+pokemon['Attack']+pokemon['Defense']+pokemon['Sp. Atk']+pokemon['Sp. Def']+pokemon['Speed']

check if the all values of TOTAL obbeys my hypothesis

In [5]:
all (pokemon['Total'] == Hypothesis)

True

## Problem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](../images/one-hot-encoding.png)


#   ENCODE STRING VARIABLES (letters) in numbers to make computation.

we use the get_dummies funcion from pandas to specify which columns from pokemon we want to encode.
the prefix and prefix_sep we use to remove prename that appears by default

In [6]:
encoding = pd.get_dummies(pokemon[['Type 1', 'Type 2']],prefix = '', prefix_sep='')
encoding.head()

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

As we have all pokemon types repeated in 'Types 1'  and 'Types 2' columns, we group by columns.

In [7]:
encoding_sum = encoding.groupby(encoding.columns, axis =1).sum()
encoding_sum.head()

,,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

## Problem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

Creation a new table with the encoding of type 1 and type 2 grouped by the sum of Total

In [8]:
#Addition column total to the table where we create the encoding
encoding_sum['Total'] = pokemon['Total']
encoding_total = encoding_sum.groupby(encoding_sum.Total).sum()
encoding_total.head()

,,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Total,,,,,,,,,,,,,,,,,,,
180,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
190,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
194,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
195,2,3,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
198,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0

Create the correlation

In [23]:

correlation = encoding_total.corr(method = 'pearson')
correlation

,,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
,1.000000,0.313821,0.409777,0.229982,0.475811,0.244148,0.554154,0.470642,0.339512,0.262354,0.498014,0.451003,0.365970,0.367002,0.528554,0.476183,0.284046,0.471503,0.654009
Bug,0.313821,1.000000,0.223333,0.091296,0.009203,-0.005253,0.148883,0.187332,0.216153,0.066220,0.113165,0.267439,0.026675,0.096212,0.390039,0.280447,0.358592,0.313502,0.248741
Dark,0.409777,0.223333,1.000000,0.470531,0.108201,0.220810,0.319425,0.287864,0.402329,0.193678,0.255408,0.504960,0.218086,0.212023,0.234871,0.499908,0.192028,0.539653,0.447414
Dragon,0.229982,0.091296,0.470531,1.000000,0.050276,0.231751,0.084319,0.308276,0.381513,0.198222,0.107499,0.416692,0.178767,0.141567,0.108781,0.669019,0.215177,0.511836,0.136704
Electric,0.475811,0.009203,0.108201,0.050276,1.000000,0.033375,0.357506,0.325224,0.315213,0.243184,0.307896,0.134824,0.284932,0.084631,0.152307,0.145405,0.057944,0.310166,0.382930
Fairy,0.244148,-0.005253,0.220810,0.231751,0.033375,1.000000,0.062780,0.111366,0.110879,0.222707,0.218286,0.150751,0.112579,0.150583,0.027816,0.229532,-0.007631,0.168744,0.162457
Fighting,0.554154,0.148883,0.319425,0.084319,0.357506,0.062780,1.000000,0.398940,0.496545,0.104543,0.267016,0.275204,0.398913,0.084875,0.224715,0.349957,0.195351,0.396704,0.357022
Fire,0.470642,0.187332,0.287864,0.308276,0.325224,0.111366,0.398940,1.000000,0.372504,0.233582,0.294957,0.260746,0.119725,0.049466,0.114744,0.408337,0.144101,0.358099,0.368628
Flying,0.339512,0.216153,0.402329,0.381513,0.315213,0.110879,0.496545,0.372504,1.000000,0.097931,0.181655,0.262405,0.245791,0.327339,0.228752,0.518306,0.155391,0.426523,0.286602
Ghost,0.262354,0.066220,0.193678,0.198222,0.243184,0.222707,0.104543,0.233582,0.097931,1.000000,0.555942,0.080786,0.144983,0.043715,0.126554,0.253113,0.066036,0.266091,0.216426
Grass,0.498014,0.113165,0.255408,0.107499,0.307896,0.218286,0.267016,0.294957,0.181655,0.555942,1.000000,0.217210,0.238441,0.133822,0.386903,0.255962,0.101740,0.293674,0.452807
Ground,0.451003,0.267439,0.504960,0.416692,0.134824,0.150751,0.275204,0.260746,0.262405,0.080786,0.217210,1.000000,0.319962,0.082731,0.323680,0.435812,0.315159,0.519201,0.457857
Ice,0.365970,0.026675,0.218086,0.178767,0.284932,0.112579,0.398913,0.119725,0.245791,0.144983,0.238441,0.319962,1.000000,0.020151,0.109905,0.130638,0.244789,0.328682,0.398469
Normal,0.367002,0.096212,0.212023,0.141567,0.084631,0.150583,0.084875,0.049466,0.327339,0.043715,0.133822,0.082731,0.020151,1.000000,0.325492,0.306032,0.094253,0.197513,0.188898
Poison,0.528554,0.390039,0.234871,0.108781,0.152307,0.027816,0.224715,0.114744,0.228752,0.126554,0.386903,0.323680,0.109905,0.325492,1.000000,0.264928,0.195209,0.215134,0.310246
Psychic,0.476183,0.280447,0.499908,0.669019,0.145405,0.229532,0.349957,0.408337,0.518306,0.253113,0.255962,0.435812,0.130638,0.306032,0.264928,1.000000,0.225894,0.600830,0.255645
Rock,0.284046,0.358592,0.192028,0.215177,0.057944,-0.007631,0.195351,0.144101,0.155391,0.066036,0.101740,0.315159,0.244789,0.094253,0.195209,0.225894,1.000000,0.369318,0.410467
Steel,0.471503,0.313502,0.539653,0.511836,0.310166,0.168744,0.396704,0.358099,0.426523,0.266091,0.293674,0.519201,0.328682,0.197513,0.215134,0.600830,0.369318,1.000000,0.444329
Water,0.654009,0.248741,0.447414,0.136704,0.382930,0.162457,0.357022,0.368628,0.286602,0.216426,0.452807,0.457857,0.398469,0.188898,0.310246,0.255645,0.410467,0.444329,1.000000

To choose the more 'powerful' type pokemon we remove the correlation with same type, because a correlation with itself is one.

We look foor the max value for each type: **value_type**

we search the types which coincides with these max value: **type**

In [62]:
top1 = correlation[(correlation <1)]    ## correlation table removing elements equal to 1 (same type correlation = 1)


type_pokemon = list(top1.idxmax())         ## types of pokemon that has the max corr for each column


value_type = top1.max().unique()        ##values of corr. for each kind of pokemon for each column.We choose the non-repeated ones.


lista =list(zip(top1.columns,type_pokemon, value_type))  ##creation a list with the combination of type1 (rows), 
                                                         #and type 2 (columns) and their correlation values

print(lista)

[('', 'Water', 0.6540093557859826), ('Bug', 'Poison', 0.3900385801620641), ('Dark', 'Steel', 0.5396532326308142), ('Dragon', 'Psychic', 0.6690194883693732), ('Electric', '', 0.4758112602720639), ('Fairy', '', 0.24414773343314047), ('Fighting', '', 0.5541538275142828), ('Fire', '', 0.47064178751390245), ('Flying', 'Psychic', 0.518306323868473), ('Ghost', 'Grass', 0.5559415557412519), ('Grass', 'Ghost', 0.5192010275813451), ('Ground', 'Steel', 0.39891329243314966), ('Ice', 'Fighting', 0.3670017713090088), ('Normal', '', 0.5285536416151103), ('Poison', '', 0.410466676104779), ('Psychic', 'Dragon', 0.6008301072914995)]

In [63]:
table = pd.DataFrame(lista)

table.rename(columns = {0:'Type 1',1:'Type 2', 2:'Correlation value'}, inplace = True)
table #order for each columns


table.sort_values('Correlation value', ascending = False,inplace = True)   #order for correlation value
table.reset_index(drop=True, inplace=True)   #reset the index.
table

      Type 1    Type 2  Correlation value
0     Dragon   Psychic           0.669019
1                Water           0.654009
2    Psychic    Dragon           0.600830
3      Ghost     Grass           0.555942
4   Fighting                     0.554154
5       Dark     Steel           0.539653
6     Normal                     0.528554
7      Grass     Ghost           0.519201
8     Flying   Psychic           0.518306
9   Electric                     0.475811
10      Fire                     0.470642
11    Poison                     0.410467
12    Ground     Steel           0.398913
13       Bug    Poison           0.390039
14       Ice  Fighting           0.367002
15     Fairy                     0.244148

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

We use the previous table and see what's the type who has more correlation value.

In [51]:
# your code here
table

      Type 1    Type 2  Correlation value
0     Dragon   Psychic           0.669019
1                Water           0.654009
2    Psychic    Dragon           0.600830
3      Ghost     Grass           0.555942
4   Fighting                     0.554154
5       Dark     Steel           0.539653
6     Normal                     0.528554
7      Grass     Ghost           0.519201
8     Flying   Psychic           0.518306
9   Electric                     0.475811
10      Fire                     0.470642
11    Poison                     0.410467
12    Ground     Steel           0.398913
13       Bug    Poison           0.390039
14       Ice  Fighting           0.367002
15     Fairy                     0.244148