# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [10]:
orders=pd.DataFrame(pd.read_csv("/Users/macbook/Documents/Ironhack/Week2/Day3/lab-df-calculation-and-transformation/lab-df-calculation-and-transformation/data/Orders.csv"))

In [11]:
orders.head(5)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [13]:
spent = pd.DataFrame(orders.groupby("CustomerID")["amount_spent"].sum())

In [14]:
spent.head(5)

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40

In [43]:
queant_95 = int(spent.quantile(.95))

In [44]:
queant_95

5840

In [45]:
queant_75 = int(spent.quantile(.75))

In [46]:
spent[spent["amount_spent"] >= queant_95]

            amount_spent
CustomerID
12346           77183.60
12357            6207.67
12359            6372.58
12409           11072.67
12415          124914.53
...                  ...
18109            8052.97
18139            8438.34
18172            7561.68
18223            6484.54
18229            7276.90

[217 rows x 1 columns]

In [49]:
spent[spent["amount_spent"] < queant_95]

            amount_spent
CustomerID
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
12352            2506.04
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4122 rows x 1 columns]

In [50]:
spent[spent["amount_spent"] >= queant_75]

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12352            2506.04
...                  ...
18259            2338.60
18260            2643.20
18272            3078.58
18283            2094.88
18287            1837.28

[1088 rows x 1 columns]

In [63]:
spent['amount_spent'].map(lambda x: "Preferred_Customers" if (x >= queant_75 and x < queant_95) else ('VIP_Customers' if x >= queant_95 else "Other")

SyntaxError: unexpected EOF while parsing (<ipython-input-63-6772731b9759>, line 1)

In [68]:
spent['amount_spent'].map(lambda x : "Preferred_Customers" if (x >= queant_75 and x < queant_95) else ("VIP_Customers" if x >= queant_95 else "Other"))

CustomerID
12346          VIP_Customers
12347    Preferred_Customers
12348    Preferred_Customers
12349    Preferred_Customers
12350                  Other
                ...
18280                  Other
18281                  Other
18282                  Other
18283    Preferred_Customers
18287    Preferred_Customers
Name: amount_spent, Length: 4339, dtype: object

In [70]:
categories = pd.DataFrame(spent['amount_spent'].map(lambda x : "Preferred_Customers" if (x >= queant_75 and x < queant_95) else ("VIP_Customers" if x >= queant_95 else "Other")))

AttributeError: 'DataFrame' object has no attribute 'names'

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

AttributeError: 'DataFrame' object has no attribute 'concat'

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here