# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np

#### Import data set.

Import `pokemon_stats` table from database `Pokemon` from Ironhack's databases. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
pokemon = pd.read_csv("../Datasets as CSV/Pokemon.csv")
pokemon = pokemon.drop("#", axis=1)
pokemon_original = pokemon.copy()

#### Print first 10 rows of `pokemon`.

In [3]:
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Extract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# Get set with unique value for Type 1 and Type 2
types_nan = set(list(pokemon["Type 1"]) + list(pokemon["Type 2"]))

# Convert set to list to eliminate NaN as a type
types = list(types_nan)[1:]
print(types)

['Fighting', 'Ground', 'Fairy', 'Ice', 'Grass', 'Ghost', 'Normal', 'Psychic', 'Fire', 'Water', 'Bug', 'Dark', 'Flying', 'Rock', 'Dragon', 'Poison', 'Electric', 'Steel']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [5]:
# .* = anything before (.*) Mega (?=Mega) you replace with [blank splace] ("")

    # (?=Mega) means that you replace anything before Mega, but KEEP Mega --> ".*(?=Mega)",""
    # (Mega) would mean you replace anything before Mega, but NOT KEEP Mega --> ".*(Mega)","Mega"

pokemon["Name"] = pokemon["Name"].str.replace(".*(?=Mega)","")

# test transformed data
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [6]:
pokemon["A/D Ratio"] = (pokemon["Attack"]/pokemon["Defense"])

In [7]:
pokemon.columns = ['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'A/D Ratio',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']
pokemon.head(15)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,A/D Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923
7,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171
8,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462
10,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,0.787500
11,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,0.830000
12,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,0.858333
13,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,0.857143
14,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,0.363636

#### Identify the pokemon with the highest `A/D Ratio`.

In [8]:
pokemon.iloc[pokemon['A/D Ratio'].idxmax()]

Name          Mega Mewtwo Y
Type 1              Psychic
Type 2                  NaN
Total                   780
HP                      106
Attack                  150
Defense                  70
A/D Ratio               194
Sp. Atk                 120
Sp. Def                 140
Speed                     1
Generation             True
Legendary           2.14286
Name: 164, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [9]:
pokemon.iloc[pokemon['A/D Ratio'].idxmin()]

Name            Shuckle
Type 1              Bug
Type 2             Rock
Total               505
HP                   20
Attack               10
Defense             230
A/D Ratio            10
Sp. Atk             230
Sp. Def               5
Speed                 2
Generation        False
Legendary     0.0434783
Name: 230, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [10]:
pokemon['Combo Type'] = np.where(pokemon["Type 2"].notnull(), pokemon['Type 1']+"-"+pokemon['Type 2'], pokemon["Type 1"])
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,A/D Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667,Rock-Fairy
796,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545,Rock-Fairy
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333,Psychic-Ghost
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667,Psychic-Dark
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667,Fire-Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [11]:
largest = pokemon.nlargest(5, "A/D Ratio")
largest

,Name,Type 1,Type 2,Total,HP,Attack,Defense,A/D Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type
164,Mega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,2.142857,Psychic
422,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,1.666667,Water
426,Mega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,1.800000,Dragon-Flying
429,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000000,Psychic
71,Mega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False,0.769231,Psychic

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [12]:
# Same thing, substituting largest for the expression above

combo_large = list(largest["Combo Type"]) #1
combo_large = list(pokemon.nlargest(5, "A/D Ratio")["Combo Type"]) #2
combo_large

['Psychic', 'Water', 'Dragon-Flying', 'Psychic', 'Psychic']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [21]:
top5 = pokemon.groupby("Combo Type").mean().loc[combo_large]
top5.drop_duplicates()

,Total,HP,Attack,Defense,A/D Ratio,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Combo Type,,,,,,,,,,
Psychic,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196
Water,413.745763,66.847458,71.830508,69.203390,72.949153,65.033898,67.881356,2.864407,0.050847,1.083157
Dragon-Flying,641.666667,94.333333,135.666667,97.500000,121.666667,94.166667,98.333333,2.666667,0.333333,1.409643