# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [10]:
# import libraries
import numpy as np
import pandas as pd
import re

#### Import data set.

Import `pokemon_stats` table from the file `Pokemon.csv` from the `data` folder. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import data set from Ironhack's database
pokemon = pd.read_csv('data/Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Extract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [50]:
# your code here
pokemon[['Type 1','Type 2']].to_numpy()

array([['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ...,
       ['Psychic', 'Ghost'],
       ['Psychic', 'Dark'],
       ['Fire', 'Water']], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [51]:
for i in range(len(pokemon)):
    if 'Mega' in pokemon['Name'][i]:
        pokemon['Name'][i] = re.sub(r'\w*Mega\s',r'Mega ',pokemon['Name'][i])
print(pokemon['Name'])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3            Mega Venusaur
4               Charmander
              ...
795                Diancie
796           Mega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, Length: 800, dtype: object

C:\Users\Jorge\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

#### Create a new column called A/D Ratio whose value equals to Attack devided by Defense.
For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding A/D Ratio is 49/49=1

In [52]:
len(pokemon)

800

In [53]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']

In [54]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass-Poison,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass-Poison,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass-Poison,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass-Poison,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Fire,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [55]:
# your code here
pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()]['Name']

429    DeoxysAttack Forme
Name: Name, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [56]:
# your code here
pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min()]['Name']

230    Shuckle
Name: Name, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [57]:
len(pokemon)

800

In [58]:
# your code here
pokemon['Combo Type'] = 0
for i in range(len(pokemon)):
    if (pokemon['Type 1'][i] == pokemon['Type 1'][i]) and (pokemon['Type 2'][i] == pokemon['Type 2'][i]):
        pokemon['Combo Type'][i] = pokemon['Type 1'][i] + '-' + pokemon['Type 2'][i]
    elif (pokemon['Type 1'][i] == pokemon['Type 1'][i]) and (pokemon['Type 2'][i] != pokemon['Type 2'][i]):
        pokemon['Combo Type'][i] = pokemon['Type 1'][i]
    elif (pokemon['Type 1'][i] != pokemon['Type 1'][i]) and (pokemon['Type 2'][i] == pokemon['Type 2'][i]):
        pokemon['Combo Type'][i] = pokemon['Type 2'][i]

C:\Users\Jorge\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Jorge\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Jorge\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [59]:
pokemon.head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass-Poison,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass-Poison,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass-Poison,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass-Poison,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Fire,1.209302
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,Fire,1.103448
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,Fire-Flying,1.076923
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,Fire-Dragon,1.171171
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,Fire-Flying,1.333333
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,Water,0.738462
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False,Water,0.787500
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False,Water,0.830000
12,9,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False,Water,0.858333
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,Bug,0.857143
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,Bug,0.363636

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [64]:
# your code here
top5 = pokemon.sort_values(by='A/D Ratio',ascending = False).iloc[0:5]
top5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Combo Type,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,Psychic,9.000
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,Water-Dark,4.500
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,Bug-Poison,3.750
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,Rock,3.125
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,Water-Dark,3.000

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [119]:
# your code here
combo_list = list(top5['Combo Type'].unique())
combo_list

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [127]:
# your code here

In [75]:
top5.groupby('Combo Type').mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Bug-Poison,15.0,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,False,3.750
Psychic,386.0,600.0,50.0,180.0,20.0,180.0,20.0,150.0,3.0,True,9.000
Rock,408.0,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,False,3.125
Water-Dark,318.5,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,False,3.750