# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [4]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [5]:
# import data set from Ironhack's database
driver = 'mysql+pymysql:'
user = 'ironhacker_read'
password = 'ir0nhack3r'
ip = '35.239.232.23'
database = 'pokemon'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
query = """
        SELECT * FROM pokemon_stats
"""

pokemon_stats = pd.read_sql(query, engine)
pokemon_stats

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '35.239.232.23' (timed out)")
(Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
pokemon_stats.to_csv("../pokemon_stats.csv", sep=",")

#### Print first 10 rows of `pokemon`.

In [8]:
# your code here
pokemon_stats.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [9]:
# your code here
array_of_types_1_and_2 = pokemon_stats[["Type 1","Type 2"]]
array_of_types_1_and_2.head(10)

  Type 1  Type 2
0  Grass  Poison
1  Grass  Poison
2  Grass  Poison
3  Grass  Poison
4   Fire
5   Fire
6   Fire  Flying
7   Fire  Dragon
8   Fire  Flying
9  Water

In [18]:
both_types = list(set(pokemon_stats["Type 1"])|set(pokemon_stats["Type 2"]))
print(both_types)
both_types = both_types[1:]#deleting the first position[0] because is an empty space.
print(both_types)

['', 'Psychic', 'Water', 'Poison', 'Fighting', 'Flying', 'Dragon', 'Fire', 'Fairy', 'Electric', 'Dark', 'Normal', 'Ghost', 'Grass', 'Steel', 'Bug', 'Ice', 'Ground', 'Rock']
['Psychic', 'Water', 'Poison', 'Fighting', 'Flying', 'Dragon', 'Fire', 'Fairy', 'Electric', 'Dark', 'Normal', 'Ghost', 'Grass', 'Steel', 'Bug', 'Ice', 'Ground', 'Rock']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [11]:
# your code here
array_pokemon_names = pokemon_stats[["Name"]]
array_pokemon_names.head(10)
correct_names_of_pokemons = []
for i in pokemon_stats["Name"]:
    if "Mega" in i:
        each_pokemon = i.find("Mega")
        i = i[each_pokemon:]
        correct_names_of_pokemons.append(i)
    else:
        correct_names_of_pokemons.append(i)
pokemon_stats["Name"] = correct_names_of_pokemons

# test transformed data
pokemon_stats.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [14]:
# your code here
pokemon_stats["A/D Ratio"] = pokemon_stats["Attack"]/pokemon_stats["Defense"]
pokemon_stats.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [15]:
# your code here
pokemon_stats.sort_values(by="A/D Ratio", ascending = False).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000

#### Identify the pokemon with the lowest A/D Ratio.

In [16]:
# your code here
pokemon_stats.sort_values(by="A/D Ratio", ascending = True).head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478
139,129,Magikarp,Water,,200,20,10,55,15,20,80,1,False,0.181818
484,436,Bronzor,Steel,Psychic,300,57,24,86,24,86,23,4,False,0.279070
103,95,Onix,Rock,Ground,385,35,45,160,30,45,70,1,False,0.281250
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False,0.285714

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [3]:
# your code here
pokemon_stats["Combo Type"] = pokemon_stats[["Type 1","Type 2"]].apply(lambda x: x[0]+"-"+x[1] if x[x] in both_types else x[0], axis=1)

NameError: name 'pokemon_stats' is not defined

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [ ]:
# your code here

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [ ]:
# your code here

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [ ]:
# your code here