# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here

Orders = pd.read_csv("../data/Orders.csv")
Orders.head(5)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here

amount_spent = Orders[["CustomerID", "amount_spent", "Country"]].groupby(["Country", "CustomerID"]).sum()
print(amount_spent)

                           amount_spent
Country        CustomerID
Australia      12386             401.90
               12388            2780.66
               12393            1582.60
               12415          124914.53
               12422             386.20
...                                 ...
United Kingdom 18287            1837.28
Unspecified    12363             552.00
               12743             546.43
               14265             530.18
               16320            1038.46

[4347 rows x 1 columns]

In [10]:
quantile95 = float(amount_spent["amount_spent"].quantile(.95))
quantile75 = float(amount_spent["amount_spent"].quantile(.75))

VIP_customers = amount_spent[amount_spent.loc[:,"amount_spent"] > quantile95]

Preferred_customers = amount_spent[(amount_spent.loc[:,"amount_spent"] > quantile75) &
                                   (amount_spent.loc[:,"amount_spent"] < quantile95)]

rank_customer = pd.concat([VIP_customers,Preferred_customers])
rank_customer["amount_spent"].sort_values(ascending=False)

Country         CustomerID
Netherlands     14646         280206.02
United Kingdom  18102         259657.30
                17450         194550.79
                16446         168472.50
EIRE            14911         143825.06
                                ...
United Kingdom  12912           1662.30
Germany         12530           1662.28
United Kingdom  13012           1661.84
                15214           1661.44
                15024           1661.33
Name: amount_spent, Length: 1087, dtype: float64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [14]:
# your code here

most_vip = VIP_customers["amount_spent"].sum()
most_vip["Country"]

IndexError: invalid index to scalar variable.

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [6]:
# your code here

most_country = VIP_customers + Preferred_customers