# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

In [2]:
from sqlalchemy import create_engine

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [4]:
# your code here
driver   = 'mysql+pymysql:'
user     = 'root'
password = 'Ironhack12'
ip       = '127.0.0.1'
database = 'orders'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)

In [41]:
pd.read_sql('SHOW TABLES;', engine)
orders=pd.read_sql('SELECT * FROM orders', engine)
original=orders
orders

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08
10,10,536367,22745,2010,12,3,8,poppy s playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
11,11,536367,22748,2010,12,3,8,poppy s playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
20,20,536367,48187,2010,12,3,8,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
21,21,536368,22960,2010,12,3,8,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
22,22,536368,22913,2010,12,3,8,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
23,23,536368,22912,2010,12,3,8,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
24,24,536368,22914,2010,12,3,8,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
25,25,536369,21756,2010,12,3,8,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom,17.85
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397894,397894,581585,22726,2011,12,5,12,alarm clock bakelike green,8,2011-12-09 12:31:00,3.75,15804,United Kingdom,30.00
397895,397895,581585,22727,2011,12,5,12,alarm clock bakelike red,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00
397896,397896,581585,16016,2011,12,5,12,large chinese style scissor,10,2011-12-09 12:31:00,0.85,15804,United Kingdom,8.50
397897,397897,581585,21916,2011,12,5,12,set 12 retro white chalk sticks,24,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.08
397898,397898,581585,84692,2011,12,5,12,box of 24 cocktail parasols,25,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.50
397899,397899,581585,84946,2011,12,5,12,antique silver t-light glass,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.00
397900,397900,581585,21684,2011,12,5,12,small medina stamped metal bowl,12,2011-12-09 12:31:00,0.85,15804,United Kingdom,10.20
397901,397901,581585,22398,2011,12,5,12,magnets pack of 4 swallows,12,2011-12-09 12:31:00,0.39,15804,United Kingdom,4.68
397902,397902,581585,23328,2011,12,5,12,set 6 school milk bottles in crate,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00
397903,397903,581585,23145,2011,12,5,12,zinc t-light holder star large,12,2011-12-09 12:31:00,0.95,15804,United Kingdom,11.40
397904,397904,581585,22466,2011,12,5,12,fairy tale cottage night light,12,2011-12-09 12:31:00,1.95,15804,United Kingdom,23.40
397905,397905,581586,22061,2011,12,5,12,large cake stand hanging strawbery,8,2011-12-09 12:49:00,2.95,13113,United Kingdom,23.60
397906,397906,581586,23275,2011,12,5,12,set of 3 hanging owls ollie beak,24,2011-12-09 12:49:00,1.25,13113,United Kingdom,30.00
397907,397907,581586,21217,2011,12,5,12,red retrospot round cake tins,24,2011-12-09 12:49:00,8.95,13113,United Kingdom,214.80
397908,397908,581586,20685,2011,12,5,12,doormat red retrospot,10,2011-12-09 12:49:00,7.08,13113,United Kingdom,70.80
397909,397909,581587,22631,2011,12,5,12,circus parade lunch box,12,2011-12-09 12:50:00,1.95,12680,France,23.40
397910,397910,581587,22556,2011,12,5,12,plasters in tin circus parade,12,2011-12-09 12:50:00,1.65,12680,France,19.80
397911,397911,581587,22555,2011,12,5,12,plasters in tin strongman,12,2011-12-09 12:50:00,1.65,12680,France,19.80
397912,397912,581587,22728,2011,12,5,12,alarm clock bakelike pink,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397913,397913,581587,22727,2011,12,5,12,alarm clock bakelike red,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397914,397914,581587,22726,2011,12,5,12,alarm clock bakelike green,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397915,397915,581587,22730,2011,12,5,12,alarm clock bakelike ivory,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397916,397916,581587,22367,2011,12,5,12,childrens apron spaceboy design,8,2011-12-09 12:50:00,1.95,12680,France,15.60
397917,397917,581587,22629,2011,12,5,12,spaceboy lunch box,12,2011-12-09 12:50:00,1.95,12680,France,23.40
397918,397918,581587,23256,2011,12,5,12,childrens cutlery spaceboy,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397919,397919,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,397920,581587,22899,2011,12,5,12,children s apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,397921,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,397922,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,397923,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
grouped_orders=orders.groupby(['CustomerID','Country']).agg({'amount_spent':'sum'})
grouped_orders=grouped_orders.sort_values(by='amount_spent', ascending=False)
VIP= grouped_orders[grouped_orders.amount_spent > grouped_orders.amount_spent.quantile(.95)]
Preferred= grouped_orders[(grouped_orders.amount_spent < grouped_orders.amount_spent.quantile(.95)) & (grouped_orders.amount_spent > grouped_orders.amount_spent.quantile(.75))]

grouped_orders.amount_spent.quantile(.95)

NameError: name 'orders' is not defined

In [84]:
# your code here
grouped_orders=orders.groupby(['CustomerID','Country']).agg({'amount_spent':'sum'})
grouped_orders=grouped_orders.sort_values(by='amount_spent', ascending=False)
VIP= grouped_orders[grouped_orders.amount_spent > grouped_orders.amount_spent.quantile(.95)]
Preferred= grouped_orders[(grouped_orders.amount_spent < grouped_orders.amount_spent.quantile(.95)) & (grouped_orders.amount_spent > grouped_orders.amount_spent.quantile(.75))]
Preferred

                           amount_spent
CustomerID Country
15218      United Kingdom       5756.89
17686      United Kingdom       5739.46
13178      United Kingdom       5725.47
16553      United Kingdom       5719.82
13468      United Kingdom       5704.97
14110      United Kingdom       5683.15
14049      United Kingdom       5681.72
17049      United Kingdom       5659.98
17716      United Kingdom       5655.99
13004      United Kingdom       5655.91
18118      United Kingdom       5653.82
14688      United Kingdom       5630.87
17757      United Kingdom       5605.29
12481      Germany              5596.32
12839      United Kingdom       5591.42
16767      United Kingdom       5580.60
16161      United Kingdom       5575.56
12539      Spain                5568.35
15805      United Kingdom       5528.48
12431      Australia            5514.67
18225      United Kingdom       5509.12
16609      United Kingdom       5493.46
16985      United Kingdom       5464.12
16265      United Kingdom       5447.00
18198      United Kingdom       5425.56
12490      France               5417.93
17809      United Kingdom       5411.91
16701      United Kingdom       5398.30
17719      United Kingdom       5396.04
17850      United Kingdom       5391.21
...                                 ...
15240      United Kingdom       1706.57
16398      United Kingdom       1705.80
17282      United Kingdom       1703.41
12843      United Kingdom       1702.26
16007      United Kingdom       1701.94
13184      United Kingdom       1701.29
17193      United Kingdom       1699.30
13824      United Kingdom       1698.94
12455      Cyprus               1698.90
16775      United Kingdom       1695.66
12764      Lebanon              1693.88
14245      United Kingdom       1693.45
15549      United Kingdom       1693.26
16813      United Kingdom       1692.98
16671      United Kingdom       1692.27
15380      United Kingdom       1690.26
17152      United Kingdom       1689.50
12635      Germany              1689.18
13162      United Kingdom       1688.29
13577      United Kingdom       1687.60
16638      United Kingdom       1680.72
13647      United Kingdom       1678.12
13149      United Kingdom       1676.06
17656      United Kingdom       1674.69
16115      United Kingdom       1667.97
12912      United Kingdom       1662.30
12530      Germany              1662.28
13012      United Kingdom       1661.84
15214      United Kingdom       1661.44
15024      United Kingdom       1661.33

[869 rows x 1 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [82]:
# your code here
VIP_country=VIP.groupby('Country').count()
VIP_country.sort_values(by='amount_spent',ascending=False).head(1)

                 amount_spent
Country
United Kingdom            178
Germany                    11
France                      9
Switzerland                 3
Spain                       2
Portugal                    2
Japan                       2
EIRE                        2
Finland                     1
Channel Islands             1
Netherlands                 1
Norway                      1
Singapore                   1
Denmark                     1
Sweden                      1
Cyprus                      1
Australia                   1

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [89]:
# your code here
VIP_Preferred=pd.concat([VIP,Preferred],axis=0)
VIP_Preferred_country=VIP_Preferred.groupby('Country').count()
VIP_Preferred_country

                 amount_spent
Country
Australia                   4
Austria                     1
Belgium                    11
Canada                      1
Channel Islands             4
Cyprus                      3
Denmark                     3
EIRE                        3
Finland                     5
France                     29
Germany                    39
Greece                      1
Iceland                     1
Israel                      2
Italy                       5
Japan                       4
Lebanon                     1
Malta                       1
Netherlands                 1
Norway                      7
Poland                      1
Portugal                    7
Singapore                   1
Spain                       7
Sweden                      2
Switzerland                 9
United Kingdom            934

In [91]:
VIP_Preferred_country.sort_values(by='amount_spent',ascending=False)

                 amount_spent
Country
United Kingdom            934
Germany                    39
France                     29
Belgium                    11
Switzerland                 9
Spain                       7
Portugal                    7
Norway                      7
Italy                       5
Finland                     5
Japan                       4
Australia                   4
Channel Islands             4
EIRE                        3
Denmark                     3
Cyprus                      3
Sweden                      2
Israel                      2
Iceland                     1
Austria                     1
Greece                      1
Lebanon                     1
Malta                       1
Netherlands                 1
Poland                      1
Singapore                   1
Canada                      1