# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv(filepath_or_buffer=("../data/Orders.csv"))

In [3]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
# your code here

In [5]:
#1.2.0.1  Sub Problem 1: How to aggregate the amount_spent for unique customers?

In [6]:
#count the number of unique customers:
#this is not necessary, but good to know that the aggregate worked well.
num_customers=len(orders["CustomerID"].unique())
num_customers

4339

In [7]:
#groupby customers and print the sum of their expenses
customers_df=orders.groupby('CustomerID').agg({'amount_spent': 'sum'})

In [52]:
customers_df.sort_values(by=['amount_spent'], ascending=False)

            amount_spent
CustomerID
14646          280206.02
18102          259657.30
17450          194550.79
16446          168472.50
14911          143825.06
...                  ...
17956              12.75
16454               6.90
14792               6.20
16738               3.75
13256               0.00

[4339 rows x 1 columns]

In [10]:
type(customers_df)

pandas.core.frame.DataFrame

In [13]:
#compute the total spent by clients. Just for me
customers_df["amount_spent"].values.sum()

8911407.904

In [13]:
# How to select customers whose aggregated amount_spent is in a given quantile range?

In [ ]:
#first calculate the 0.95 and 0.75 quantile

In [ ]:
#DataFrame.quantile(q=0.5, axis=0, numeric_only=True, interpolation='linear')

In [14]:
#I don't understand why it is axis 0 and not 1
customers_df.quantile(0.75)

amount_spent    1661.64
Name: 0.75, dtype: float64

In [31]:
seventyfive=customers_df.quantile(0.75)

In [32]:
ninetyfive=customers_df.quantile(0.95)

In [33]:
ninetyfive

amount_spent    5840.182
Name: 0.95, dtype: float64

In [34]:
ninetyfive["amount_spent"]

5840.181999999983

In [36]:
vip=customers_df[customers_df["amount_spent"] > ninetyfive["amount_spent"]]

In [47]:
pref=customers_df[customers_df["amount_spent"]> seventyfive["amount_spent"]]

In [48]:
pref=pref[pref["amount_spent"]<=ninetyfive["amount_spent"]]

In [49]:
vip

            amount_spent
CustomerID
12346           77183.60
12357            6207.67
12359            6372.58
12409           11072.67
12415          124914.53
...                  ...
18109            8052.97
18139            8438.34
18172            7561.68
18223            6484.54
18229            7276.90

[217 rows x 1 columns]

In [50]:
pref

            amount_spent
CustomerID
12347            4310.00
12348            1797.24
12349            1757.55
12352            2506.04
12356            2811.43
...                  ...
18259            2338.60
18260            2643.20
18272            3078.58
18283            2094.88
18287            1837.28

[868 rows x 1 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here