# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
driver = 'mysql+pymysql:'
user = 'ironhacker_read'
password = 'ir0nhack3r'
ip = '35.239.232.23'
database = 'orders'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
query = """
        SELECT * FROM orders
"""

df = pd.read_sql(query, engine)
df

,index,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08
10,10,536367,22745,2010,12,3,8,poppy s playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
11,11,536367,22748,2010,12,3,8,poppy s playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
20,20,536367,48187,2010,12,3,8,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
21,21,536368,22960,2010,12,3,8,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
22,22,536368,22913,2010,12,3,8,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
23,23,536368,22912,2010,12,3,8,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
24,24,536368,22914,2010,12,3,8,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
25,25,536369,21756,2010,12,3,8,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom,17.85
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397894,397894,581585,22726,2011,12,5,12,alarm clock bakelike green,8,2011-12-09 12:31:00,3.75,15804,United Kingdom,30.00
397895,397895,581585,22727,2011,12,5,12,alarm clock bakelike red,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00
397896,397896,581585,16016,2011,12,5,12,large chinese style scissor,10,2011-12-09 12:31:00,0.85,15804,United Kingdom,8.50
397897,397897,581585,21916,2011,12,5,12,set 12 retro white chalk sticks,24,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.08
397898,397898,581585,84692,2011,12,5,12,box of 24 cocktail parasols,25,2011-12-09 12:31:00,0.42,15804,United Kingdom,10.50
397899,397899,581585,84946,2011,12,5,12,antique silver t-light glass,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.00
397900,397900,581585,21684,2011,12,5,12,small medina stamped metal bowl,12,2011-12-09 12:31:00,0.85,15804,United Kingdom,10.20
397901,397901,581585,22398,2011,12,5,12,magnets pack of 4 swallows,12,2011-12-09 12:31:00,0.39,15804,United Kingdom,4.68
397902,397902,581585,23328,2011,12,5,12,set 6 school milk bottles in crate,4,2011-12-09 12:31:00,3.75,15804,United Kingdom,15.00
397903,397903,581585,23145,2011,12,5,12,zinc t-light holder star large,12,2011-12-09 12:31:00,0.95,15804,United Kingdom,11.40
397904,397904,581585,22466,2011,12,5,12,fairy tale cottage night light,12,2011-12-09 12:31:00,1.95,15804,United Kingdom,23.40
397905,397905,581586,22061,2011,12,5,12,large cake stand hanging strawbery,8,2011-12-09 12:49:00,2.95,13113,United Kingdom,23.60
397906,397906,581586,23275,2011,12,5,12,set of 3 hanging owls ollie beak,24,2011-12-09 12:49:00,1.25,13113,United Kingdom,30.00
397907,397907,581586,21217,2011,12,5,12,red retrospot round cake tins,24,2011-12-09 12:49:00,8.95,13113,United Kingdom,214.80
397908,397908,581586,20685,2011,12,5,12,doormat red retrospot,10,2011-12-09 12:49:00,7.08,13113,United Kingdom,70.80
397909,397909,581587,22631,2011,12,5,12,circus parade lunch box,12,2011-12-09 12:50:00,1.95,12680,France,23.40
397910,397910,581587,22556,2011,12,5,12,plasters in tin circus parade,12,2011-12-09 12:50:00,1.65,12680,France,19.80
397911,397911,581587,22555,2011,12,5,12,plasters in tin strongman,12,2011-12-09 12:50:00,1.65,12680,France,19.80
397912,397912,581587,22728,2011,12,5,12,alarm clock bakelike pink,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397913,397913,581587,22727,2011,12,5,12,alarm clock bakelike red,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397914,397914,581587,22726,2011,12,5,12,alarm clock bakelike green,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397915,397915,581587,22730,2011,12,5,12,alarm clock bakelike ivory,4,2011-12-09 12:50:00,3.75,12680,France,15.00
397916,397916,581587,22367,2011,12,5,12,childrens apron spaceboy design,8,2011-12-09 12:50:00,1.95,12680,France,15.60
397917,397917,581587,22629,2011,12,5,12,spaceboy lunch box,12,2011-12-09 12:50:00,1.95,12680,France,23.40
397918,397918,581587,23256,2011,12,5,12,childrens cutlery spaceboy,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397919,397919,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,397920,581587,22899,2011,12,5,12,children s apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,397921,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,397922,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,397923,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

In [ ]:
df.to_csv("../orders.csv", sep=",")

In [3]:
orders = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 14 columns):
index           397924 non-null int64
InvoiceNo       397924 non-null int64
StockCode       397924 non-null object
year            397924 non-null int64
month           397924 non-null int64
day             397924 non-null int64
hour            397924 non-null int64
Description     397924 non-null object
Quantity        397924 non-null int64
InvoiceDate     397924 non-null object
UnitPrice       397924 non-null float64
CustomerID      397924 non-null int64
Country         397924 non-null object
amount_spent    397924 non-null float64
dtypes: float64(2), int64(8), object(4)
memory usage: 42.5+ MB

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [4]:
# your code here

In [6]:
customers_aggregate = df.groupby("CustomerID").sum()
customers_aggregate.head()

,index,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,37126,541431,2011,1,2,10,74215,1.04,77183.60
12347,30294108,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,1900064,16869685,62324,257,111,472,2341,178.71,1797.24
12349,26148016,42165457,146803,803,73,657,631,605.10,1757.55
12350,838678,9231629,34187,34,51,272,197,65.30,334.40

In [8]:
customers_aggregate = customers_aggregate[["amount_spent"]]
customers_aggregate.head()

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40

In [9]:
customers_aggregate[["amount_spent"]].sum()

amount_spent    8911407.904
dtype: float64

In [10]:
quantiles_custom = customers_aggregate.quantile([1,.95,.75,.50,.25,0])
quantiles_custom

      amount_spent
1.00    280206.020
0.95      5840.182
0.75      1661.640
0.50       674.450
0.25       307.245
0.00         0.000

In [31]:
quantiles_custom_095 = int(customers_aggregate.quantile(.95)["amount_spent"])
quantiles_custom_075 = int(customers_aggregate.quantile(.75)["amount_spent"])
print(quantiles_custom_095,quantiles_custom_075)

5840 1661

In [14]:
customers_aggregate.head(10)

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
12352            2506.04
12353              89.00
12354            1079.40
12355             459.40
12356            2811.43

In [38]:
def find_type_of_cust(amount):
    if amount >= quantiles_custom_095:
        return "VIP_cust"
    elif quantiles_custom_075 <= amount < quantiles_custom_095:
        return "Preferred cust"
    return "Normal cust"

In [40]:
customers_aggregate["Type_of_customer"] = customers_aggregate["amount_spent"].apply(find_type_of_cust)
customers_aggregate

            amount_spent Type_of_customer
CustomerID
12346           77183.60         VIP_cust
12347            4310.00   Preferred cust
12348            1797.24   Preferred cust
12349            1757.55   Preferred cust
12350             334.40      Normal cust
12352            2506.04   Preferred cust
12353              89.00      Normal cust
12354            1079.40      Normal cust
12355             459.40      Normal cust
12356            2811.43   Preferred cust
12357            6207.67         VIP_cust
12358            1168.06      Normal cust
12359            6372.58         VIP_cust
12360            2662.06   Preferred cust
12361             189.90      Normal cust
12362            5226.23   Preferred cust
12363             552.00      Normal cust
12364            1313.10      Normal cust
12365             641.38      Normal cust
12367             168.90      Normal cust
12370            3545.69   Preferred cust
12371            1887.96   Preferred cust
12372            1298.04      Normal cust
12373             364.60      Normal cust
12374             742.93      Normal cust
12375             457.50      Normal cust
12377            1628.12      Normal cust
12378            4008.62   Preferred cust
12379             852.24      Normal cust
12380            2724.81   Preferred cust
...                  ...              ...
18242            2232.49   Preferred cust
18245            2567.06   Preferred cust
18246             596.10      Normal cust
18248             804.02      Normal cust
18249              95.34      Normal cust
18250             349.27      Normal cust
18251            4314.72   Preferred cust
18252             526.67      Normal cust
18255             103.30      Normal cust
18257            2337.63   Preferred cust
18259            2338.60   Preferred cust
18260            2643.20   Preferred cust
18261             324.24      Normal cust
18262             149.48      Normal cust
18263            1213.16      Normal cust
18265             801.51      Normal cust
18268              25.50      Normal cust
18269             168.60      Normal cust
18270             283.15      Normal cust
18272            3078.58   Preferred cust
18273             204.00      Normal cust
18274             175.92      Normal cust
18276             335.86      Normal cust
18277             110.38      Normal cust
18278             173.90      Normal cust
18280             180.60      Normal cust
18281              80.82      Normal cust
18282             178.05      Normal cust
18283            2094.88   Preferred cust
18287            1837.28   Preferred cust

[4339 rows x 2 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [58]:
# your code here
df_countries = df[["Country","CustomerID"]]#,"CustomerID",
df_countries.head()

          Country  CustomerID
0  United Kingdom       17850
1  United Kingdom       17850
2  United Kingdom       17850
3  United Kingdom       17850
4  United Kingdom       17850

In [75]:
customers_aggregate_countries = df_countries.drop_duplicates()
#customers_aggregate_countries[customers_aggregate_countries["CustomerID"]==17850]
customers_aggregate_countries = customers_aggregate_countries.sort_values("CustomerID")
customers_aggregate_countries.head(10)

               Country  CustomerID
37126   United Kingdom       12346
10516          Iceland       12347
23010          Finland       12348
358156           Italy       12349
49326           Norway       12350
57551           Norway       12352
136162         Bahrain       12353
113099           Spain       12354
124376         Bahrain       12355
37090         Portugal       12356

In [78]:
merged_countries_VIP = customers_aggregate_countries.merge(customers_aggregate,left_on="CustomerID",right_on="CustomerID")
merged_countries_VIP.head()

          Country  CustomerID  amount_spent Type_of_customer
0  United Kingdom       12346      77183.60         VIP_cust
1         Iceland       12347       4310.00   Preferred cust
2         Finland       12348       1797.24   Preferred cust
3           Italy       12349       1757.55   Preferred cust
4          Norway       12350        334.40      Normal cust

In [94]:
merged_countries_VIP = merged_countries_VIP.loc[(merged_countries_VIP["Type_of_customer"]=="VIP_cust")]
#print(merged_countries_VIP["Type_of_customer"].count())
#merged_countries_VIP
merged_countries_VIP["Country"].unique()

array(['United Kingdom', 'Switzerland', 'Cyprus', 'Australia', 'Finland',
       'Belgium', 'Norway', 'Denmark', 'Germany', 'France', 'Spain',
       'Singapore', 'Japan', 'Portugal', 'EIRE', 'Netherlands',
       'Channel Islands', 'Sweden'], dtype=object)

In [96]:
len(set(merged_countries_VIP["Country"]))

18

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [37]:
# your code here