# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Import data set.

Import `pokemon_stats` table from database `Pokemon` from Ironhack's databases. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
pokemon = pd.read_csv("../datasets/Pokemon.csv", index_col=0)

#### Print first 10 rows of `pokemon`.

In [3]:
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Extract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [4]:
# Make copy
pokemon_original = pokemon.copy()

In [5]:
# work further with pokemon
# Change space into _
pokemon.columns

Index(['Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [6]:
pokemon.columns = ['Name', 'Type_1', 'Type_2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp._Atk', 'Sp._Def', 'Speed', 'Generation', 'Legendary']

In [7]:
#print("The length of all values of Type 1:" , len(pokemon.Type_1))
#print(pokemon.Type_1.drop_duplicates())
#print(pokemon.Type_2.drop_duplicates())
type_1= list(pokemon.Type_1.drop_duplicates())
type_2= list(pokemon.Type_2.drop_duplicates())
pokemon_distinct= type_1 + type_2 
df= pd.DataFrame(pokemon_distinct)
df.drop_duplicates()

           0
0      Grass
1       Fire
2      Water
3        Bug
4     Normal
5     Poison
6   Electric
7     Ground
8      Fairy
9   Fighting
10   Psychic
11      Rock
12     Ghost
13       Ice
14    Dragon
15      Dark
16     Steel
17    Flying
19       NaN

In [8]:
# (ANYTHING before mega->).* means everything outside, template for finding a certain string
# import re, re created for string manipulation
# any WORD
# \d+ (+ if more than 1)
# ".*(Mega)","Mega"
#pokemon['Name']   .*

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [9]:
pokemon['Name'] = pokemon['Name'].str.replace(".*(Mega)", "Mega")

# method 2 
#pokemon['Name'] = pokemon['Name'].str.replace(".*(?=Mega)", "")
# .* = Anything
# () = To specify a pattern that you want to find in a string
# ?= to preserve this pattern and only take into consideration everything before
# This means that you want to replace anything that comes before the pattern (Mega) with nothing

# test transformed data
pokemon.head(10)

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [10]:
pokemon["A/D Ratio"]= pokemon["Attack"] / pokemon["Defense"]

#pokemon["A/D Ratio"]

#### Identify the pokemon with the highest `A/D Ratio`.

In [11]:
pokemon.nlargest(3,"A/D Ratio")

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary,A/D Ratio
#,,,,,,,,,,,,,
386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.00
318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.50
15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75

#### Identify the pokemon with the lowest A/D Ratio.

In [12]:
pokemon.nsmallest(3,"A/D Ratio")

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary,A/D Ratio
#,,,,,,,,,,,,,
213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478
129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,0.181818
436,Bronzor,Steel,Psychic,300,57,24,86,24,86,23,4,False,0.279070

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [22]:
pokemon['Type_2'] = pokemon['Type_2'].fillna("")

In [23]:
def combo_mixer(row):
    if row['Type_2'] == "":
        return row['Type_1']
    else:
        return row['Type_1'] + '-' + row['Type_2']

pokemon['Combo_Type'] = pokemon.apply(combo_mixer, axis=1)
pokemon.head()

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary,A/D Ratio,Combo_Type
#,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [26]:
pokemon_top = pokemon.nlargest(5, "A/D Ratio")
pokemon_top

,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary,A/D Ratio,Combo_Type
#,,,,,,,,,,,,,,
386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000,Psychic
318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125,Rock
319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [34]:
unique_top= pokemon_top.groupby("Combo_Type").aggregate({"A/D Ratio":"max"})
print(unique_top)
unique_top.values.tolist()

            A/D Ratio
Combo_Type
Bug-Poison      3.750
Psychic         9.000
Rock            3.125
Water-Dark      4.500

[[3.75], [9.0], [3.125], [4.5]]

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [45]:
# Bug-Poison, Psychic, Rock, Water-Dark

x = pokemon.groupby("Combo_Type").mean()

x.loc[["Bug-Poison","Psychic","Rock","Water-Dark"],:]

,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary,A/D Ratio
Combo_Type,,,,,,,,,,
Bug-Poison,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315989
Psychic,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164196
Rock,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.260091
Water-Dark,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291949