# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
orders=pd.read_csv("../Datasets/Orders.csv")

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [6]:
orders=orders[['InvoiceNo', 'StockCode', 'year', 'month', 'day', 'hour',
       'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID',
       'Country', 'amount_spent']]

In [7]:
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [90]:
aggregated_amount_costumer=orders.groupby("CustomerID")["amount_spent"].sum()

#returns series with index as CustomerID and it contains the aggregated amount spent

In [ ]:
# VIP ------------------  aggregated expenses > 0.95 quantile
#Prefered costumers-----  0.75 < aggregated expenses < 0.95

In [56]:
aggregated_amount_costumer.describe().round(decimals=2)

count      4339.00
mean       2053.79
std        8988.25
min           0.00
25%         307.24
50%         674.45
75%        1661.64
max      280206.02
Name: amount_spent, dtype: float64

In [127]:
#.95 quantile
q95=aggregated_amount_costumer.quantile(0.95).round(decimals=2)
#95% aggregated amount_spent data below 5840.18

#1 quantile (same as max)
q1=aggregated_amount_costumer.quantile(1) #or looking at the table above there is the max value
#All the data below 280206.02

#.075 quantile
q75=aggregated_amount_costumer.quantile(.75)

In [128]:
# the VIP and prefered costumers

VIP = aggregated_amount_costumer[(aggregated_amount_costumer > q95) & (aggregated_amount_costumer < q1)]
prefered_cost = aggregated_amount_costumer[(aggregated_amount_costumer > q75) & (aggregated_amount_costumer < q95)]

In [148]:
# Costumer number of VIP and prefered costumers
VIP_ID= VIP.index.tolist()
prefered_cost_ID=prefered_cost.index.tolist()
VIP

CustomerID
12346     77183.60
12357      6207.67
12359      6372.58
12409     11072.67
12415    124914.53
           ...
18109      8052.97
18139      8438.34
18172      7561.68
18223      6484.54
18229      7276.90
Name: amount_spent, Length: 216, dtype: float64

In [158]:
orders["Customer_type"].value_counts()

VIP    397924
Name: Customer_type, dtype: int64

In [159]:
# let's create a new column that specifies if it is a VIP or prefered costumer

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
#groupby Country and count the VIP

In [ ]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
#groupby country and sum both