# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [14]:
import pandas as pd
import numpy as np
import re

#### Import data set.

Import `pokemon_stats` table from the file `Pokemon.csv` from the `data` folder. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [15]:
# import data set from Ironhack's database

In [16]:
pokemon =pd.DataFrame(pd.read_csv("/Users/macbook/Documents/Ironhack/Week2/Day3/lab-df-calculation-and-transformation/lab-df-calculation-and-transformation/data/Pokemon.csv"))

In [17]:
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

#### Print first 10 rows of `pokemon`.

In [8]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Extract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [12]:
types = np.array(pokemon[["Type 1", "Type 2"]])

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [22]:
name_venu = "VenusaurMega Venusaur"
re.sub(r"\S*Mega", "Mega", name_venu)

'Mega Venusaur'

In [23]:
name_chari = "CharizardMega Charizard X"
re.sub(r"\S*Mega", "Mega", name_chari)

'Mega Charizard X'

In [24]:
name_reg=re.compile(r"\S*Mega",flags=re.IGNORECASE)

In [26]:
pokemon["Name"].replace(to_replace=name_reg, value="Mega").value_counts()

Stunky        1
Loudred       1
Weezing       1
Bibarel       1
Clauncher     1
             ..
Bellossom     1
Delibird      1
Politoed      1
Bouffalant    1
Marowak       1
Name: Name, Length: 800, dtype: int64

In [27]:
pokemon["Name"].replace(to_replace=name_reg, value="Mega", inplace=True)

In [28]:
# your code here


# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [29]:
pokemon["A/D Ratio"] = pokemon["Attack"] / pokemon["Defense"]

In [30]:
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952

#### Identify the pokemon with the highest `A/D Ratio`.

In [ ]:
pokemon.loc()

In [42]:
pokemon["A/D Ratio"].idxmax()

429

In [43]:
 pokemon.loc[pokemon["A/D Ratio"].idxmax()]

#                            386
Name          DeoxysAttack Forme
Type 1                   Psychic
Type 2                       NaN
Total                        600
HP                            50
Attack                       180
Defense                       20
Sp. Atk                      180
Sp. Def                       20
Speed                        150
Generation                     3
Legendary                   True
A/D Ratio                      9
Name: 429, dtype: object

In [37]:
pokemon.groupby("Name")["A/D Ratio"].max().sort_values()

Name
Shuckle                 0.043478
Magikarp                0.181818
Bronzor                 0.279070
Onix                    0.281250
DarmanitanZen Mode      0.285714
                          ...
AegislashBlade Forme    3.000000
Cranidos                3.125000
Mega Beedrill           3.750000
Carvanha                4.500000
DeoxysAttack Forme      9.000000
Name: A/D Ratio, Length: 800, dtype: float64

#### Identify the pokemon with the lowest A/D Ratio.

In [49]:
pokemon.loc[pokemon["A/D Ratio"].idxmin()]

#                   213
Name            Shuckle
Type 1              Bug
Type 2             Rock
Total               505
HP                   20
Attack               10
Defense             230
Sp. Atk              10
Sp. Def             230
Speed                 5
Generation            2
Legendary         False
A/D Ratio     0.0434783
Name: 230, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [89]:
pokemon["Combo Type"] = pokemon["Type 1"]+ ( "-" + pokemon["Type 2"])

In [90]:
pokemon["Combo Type"]

0       Grass-Poison
1       Grass-Poison
2       Grass-Poison
3       Grass-Poison
4                NaN
           ...
795       Rock-Fairy
796       Rock-Fairy
797    Psychic-Ghost
798     Psychic-Dark
799       Fire-Water
Name: Combo Type, Length: 800, dtype: object

In [67]:
pokemon["Combo Type"] =

SyntaxError: invalid syntax (<ipython-input-67-ed8f885a5ee8>, line 1)

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [86]:
pokemon_group =pd.DataFrame(pokemon.groupby("Name")["A/D Ratio"].max().sort_values(ascending= False).head(5))

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [87]:
pokemon_agg = pokemon_group

In [88]:
pokemon_agg

                      A/D Ratio
Name
DeoxysAttack Forme        9.000
Carvanha                  4.500
Mega Beedrill             3.750
Cranidos                  3.125
AegislashBlade Forme      3.000

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [ ]:
# your code here