# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# your code here

orders = pd.read_csv("data/Orders.csv")

In [4]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [29]:
# your code here

total_amount_spent = orders.groupby("CustomerID").sum().drop(["Unnamed: 0", "InvoiceNo", "year", "month","day","hour","Quantity","UnitPrice"], axis=1)

In [15]:
total_amount_spent.head(10)

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
12352            2506.04
12353              89.00
12354            1079.40
12355             459.40
12356            2811.43

In [30]:
#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?

In [33]:
total_amount_spent["Quartiles"] = pd.qcut(total_amount_spent["amount_spent"], q=4, labels=["quantile 1", "quantile 2", "quantile 3","quantile 4"])

In [36]:
total_amount_spent.sort_values(by="amount_spent", ascending=False)

            amount_spent   Quartiles
CustomerID
14646          280206.02  quantile 4
18102          259657.30  quantile 4
17450          194550.79  quantile 4
16446          168472.50  quantile 4
14911          143825.06  quantile 4
...                  ...         ...
17956              12.75  quantile 1
16454               6.90  quantile 1
14792               6.20  quantile 1
16738               3.75  quantile 1
13256               0.00  quantile 1

[4339 rows x 2 columns]

In [37]:
# Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

In [40]:
total_amount_spent["customer_level"] = np.where(total_amount_spent["Quartiles"] == "quantile 4", "VIP", "Preferred")

In [122]:
total_final = total_amount_spent.sort_values(by="amount_spent", ascending=False).reset_index()

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [123]:
# your code here
dict(zip(orders.CustomerID, orders.Country))
#orders_total = pd.merge(orders, total_amount_spent, on='CustomerID')

{17850: 'United Kingdom',
 13047: 'United Kingdom',
 12583: 'France',
 13748: 'United Kingdom',
 15100: 'United Kingdom',
 15291: 'United Kingdom',
 14688: 'United Kingdom',
 17809: 'United Kingdom',
 15311: 'United Kingdom',
 16098: 'United Kingdom',
 18074: 'United Kingdom',
 17420: 'United Kingdom',
 16029: 'United Kingdom',
 16250: 'United Kingdom',
 12431: 'Australia',
 17511: 'United Kingdom',
 13705: 'United Kingdom',
 13747: 'United Kingdom',
 13408: 'United Kingdom',
 13767: 'United Kingdom',
 17924: 'United Kingdom',
 13448: 'United Kingdom',
 15862: 'United Kingdom',
 15513: 'United Kingdom',
 12791: 'Netherlands',
 16218: 'United Kingdom',
 14045: 'United Kingdom',
 14307: 'United Kingdom',
 17908: 'United Kingdom',
 17920: 'United Kingdom',
 12838: 'United Kingdom',
 13255: 'United Kingdom',
 16583: 'United Kingdom',
 18085: 'United Kingdom',
 13758: 'United Kingdom',
 13694: 'United Kingdom',
 15983: 'United Kingdom',
 14849: 'United Kingdom',
 17968: 'United Kingdom',
 16210: 'United Kingdom',
 17897: 'United Kingdom',
 17377: 'United Kingdom',
 16552: 'United Kingdom',
 17181: 'United Kingdom',
 17951: 'United Kingdom',
 14729: 'United Kingdom',
 12748: 'United Kingdom',
 15012: 'United Kingdom',
 12868: 'United Kingdom',
 17572: 'United Kingdom',
 14078: 'United Kingdom',
 14001: 'United Kingdom',
 12662: 'Germany',
 15525: 'United Kingdom',
 14237: 'United Kingdom',
 17905: 'United Kingdom',
 15485: 'United Kingdom',
 12433: 'Norway',
 16955: 'United Kingdom',
 15350: 'United Kingdom',
 15605: 'United Kingdom',
 18144: 'United Kingdom',
 15922: 'United Kingdom',
 14594: 'United Kingdom',
 15165: 'United Kingdom',
 14911: 'EIRE',
 16456: 'United Kingdom',
 17346: 'United Kingdom',
 17643: 'United Kingdom',
 17841: 'United Kingdom',
 17873: 'United Kingdom',
 13093: 'United Kingdom',
 12921: 'United Kingdom',
 13468: 'United Kingdom',
 17760: 'United Kingdom',
 16928: 'United Kingdom',
 16048: 'United Kingdom',
 16274: 'United Kingdom',
 14496: 'United Kingdom',
 14696: 'United Kingdom',
 16539: 'United Kingdom',
 17025: 'United Kingdom',
 13777: 'United Kingdom',
 17690: 'United Kingdom',
 12947: 'United Kingdom',
 17460: 'United Kingdom',
 18229: 'United Kingdom',
 14142: 'United Kingdom',
 17069: 'United Kingdom',
 13065: 'United Kingdom',
 14606: 'United Kingdom',
 16835: 'United Kingdom',
 15235: 'United Kingdom',
 13576: 'United Kingdom',
 18011: 'United Kingdom',
 13090: 'United Kingdom',
 15694: 'United Kingdom',
 14741: 'United Kingdom',
 13715: 'United Kingdom',
 17732: 'United Kingdom',
 12855: 'United Kingdom',
 15752: 'United Kingdom',
 17855: 'United Kingdom',
 14047: 'United Kingdom',
 17925: 'United Kingdom',
 13941: 'United Kingdom',
 17017: 'United Kingdom',
 14135: 'United Kingdom',
 13108: 'United Kingdom',
 15601: 'United Kingdom',
 13418: 'United Kingdom',
 15658: 'United Kingdom',
 14388: 'United Kingdom',
 14901: 'United Kingdom',
 18041: 'United Kingdom',
 15955: 'United Kingdom',
 15070: 'United Kingdom',
 16244: 'United Kingdom',
 15111: 'United Kingdom',
 14390: 'United Kingdom',
 16546: 'United Kingdom',
 15260: 'United Kingdom',
 13305: 'United Kingdom',
 14491: 'United Kingdom',
 14060: 'United Kingdom',
 15923: 'United Kingdom',
 16752: 'United Kingdom',
 17287: 'United Kingdom',
 15363: 'United Kingdom',
 12915: 'United Kingdom',
 15544: 'United Kingdom',
 15738: 'United Kingdom',
 17381: 'United Kingdom',
 15827: 'United Kingdom',
 14180: 'United Kingdom',
 13117: 'United Kingdom',
 16916: 'United Kingdom',
 17964: 'United Kingdom',
 14466: 'United Kingdom',
 17235: 'United Kingdom',
 16510: 'United Kingdom',
 17802: 'United Kingdom',
 15107: 'United Kingdom',
 17976: 'United Kingdom',
 14449: 'United Kingdom',
 16781: 'United Kingdom',
 13491: 'United Kingdom',
 16186: 'United Kingdom',
 17685: 'United Kingdom',
 17581: 'United Kingdom',
 15732: 'United Kingdom',
 13138: 'United Kingdom',
 15823: 'United Kingdom',
 17567: 'United Kingdom',
 15061: 'United Kingdom',
 16203: 'United Kingdom',
 15640: 'United Kingdom',
 15574: 'United Kingdom',
 16770: 'United Kingdom',
 17838: 'United Kingdom',
 17228: 'United Kingdom',
 14829: 'United Kingdom',
 17412: 'United Kingdom',
 14031: 'United Kingdom',
 14775: 'United Kingdom',
 12971: 'United Kingdom',
 17659: 'United Kingdom',
 15299: 'United Kingdom',
 15646: 'United Kingdom',
 13402: 'United Kingdom',
 17757: 'United Kingdom',
 13011: 'United Kingdom',
 13798: 'United Kingdom',
 16754: 'United Kingdom',
 16634: 'United Kingdom',
 18239: 'United Kingdom',
 14576: 'United Kingdom',
 13145: 'United Kingdom',
 18168: 'United Kingdom',
 14395: 'United Kingdom',
 14865: 'United Kingdom',
 15093: 'United Kingdom',
 12738: 'Germany',
 16150: 'United Kingdom',
 17552: 'United Kingdom',
 14236: 'United Kingdom',
 17961: 'United Kingdom',
 14573: 'United Kingdom',
 17135: 'United Kingdom',
 17396: 'United Kingdom',
 12967: 'United Kingdom',
 12686: 'France',
 13370: 'United Kingdom',
 16883: 'United Kingdom',
 13520: 'Switzerland',
 12841: 'United Kingdom',
 16905: 'United Kingdom',
 12427: 'Germany',
 17967: 'United Kingdom',
 16891: 'United Kingdom',
 14589: 'United Kingdom',
 14156: 'EIRE',
 14680: 'United Kingdom',
 17884: 'United Kingdom',
 12557: 'Spain',
 14083: 'United Kingdom',
 13013: 'United Kingdom',
 14210: 'United Kingdom',
 16477: 'United Kingdom',
 12600: 'Germany',
 16013: 'United Kingdom',
 17949: 'United Kingdom',
 12779: 'Poland',
 16926: 'United Kingdom',
 17787: 'United Kingdom',
 12682: 'France',
 14723: 'United Kingdom',
 17954: 'United Kingdom',
 17819: 'United Kingdom',
 12712: 'Germany',
 15373: 'United Kingdom',
 16140: 'United Kingdom',
 17198: 'United Kingdom',
 17238: 'United Kingdom',
 12793: 'Portugal',
 15769: 'United Kingdom',
 14396: 'United Kingdom',
 14898: 'United Kingdom',
 12725: 'Italy',
 16725: 'United Kingdom',
 12395: 'Belgium',
 16455: 'United Kingdom',
 13081: 'United Kingdom',
 15545: 'United Kingdom',
 17243: 'United Kingdom',
 15465: 'United Kingdom',
 13089: 'United Kingdom',
 16033: 'United Kingdom',
 13838: 'United Kingdom',
 18055: 'United Kingdom',
 15038: 'United Kingdom',
 18109: 'United Kingdom',
 13069: 'United Kingdom',
 16241: 'United Kingdom',
 14800: 'United Kingdom',
 15708: 'United Kingdom',
 16839: 'United Kingdom',
 16168: 'United Kingdom',
 16931: 'United Kingdom',
 16814: 'United Kingdom',
 15351: 'United Kingdom',
 13269: 'United Kingdom',
 14813: 'United Kingdom',
 12567: 'France',
 17062: 'United Kingdom',
 15332: 'Lithuania',
 14810: 'United Kingdom',
 16353: 'United Kingdom',
 18118: 'United Kingdom',
 13831: 'United Kingdom',
 13506: 'United Kingdom',
 17796: 'United Kingdom',
 15716: 'United Kingdom',
 18156: 'United Kingdom',
 16983: 'United Kingdom',
 17059: 'United Kingdom',
 16327: 'United Kingdom',
 17211: 'United Kingdom',
 17026: 'United Kingdom',
 15570: 'United Kingdom',
 15880: 'United Kingdom',
 16718: 'United Kingdom',
 15808: 'United Kingdom',
 17858: 'United Kingdom',
 16393: 'United Kingdom',
 14527: 'United Kingdom',
 14161: 'United Kingdom',
 17863: 'United Kingdom',
 16411: 'United Kingdom',
 16402: 'United Kingdom',
 15023: 'United Kingdom',
 17402: 'United Kingdom',
 15426: 'United Kingdom',
 12647: 'Germany',
 15894: 'United Kingdom',
 15867: 'United Kingdom',
 12472: 'Germany',
 14506: 'United Kingdom',
 15555: 'United Kingdom',
 13034: 'United Kingdom',
 15889: 'United Kingdom',
 15953: 'United Kingdom',
 16143: 'United Kingdom',
 12720: 'Germany',
 16422: 'United Kingdom',
 12747: 'United Kingdom',
 15502: 'United Kingdom',
 12763: 'Japan',
 14081: 'United Kingdom',
 17965: 'United Kingdom',
 14404: 'United Kingdom',
 13579: 'United Kingdom',
 13174: 'United Kingdom',
 15987: 'United Kingdom',
 17677: 'United Kingdom',
 13652: 'United Kingdom',
 17428: 'United Kingdom',
 16858: 'United Kingdom',
 16161: 'United Kingdom',
 18219: 'United Kingdom',
 14293: 'United Kingdom',
 14748: 'United Kingdom',
 16638: 'United Kingdom',
 17674: 'United Kingdom',
 12808: 'Portugal',
 13094: 'United Kingdom',
 15899: 'United Kingdom',
 12708: 'Germany',
 15898: 'United Kingdom',
 14443: 'United Kingdom',
 17691: 'United Kingdom',
 17227: 'United Kingdom',
 15039: 'United Kingdom',
 15919: 'United Kingdom',
 13497: 'United Kingdom',
 15860: 'United Kingdom',
 14189: 'United Kingdom',
 15304: 'United Kingdom',
 14344: 'United Kingdom',
 16719: 'United Kingdom',
 15048: 'United Kingdom',
 15301: 'United Kingdom',
 14708: 'United Kingdom',
 16898: 'United Kingdom',
 14825: 'United Kingdom',
 18113: 'United Kingdom',
 17596: 'United Kingdom',
 15078: 'United Kingdom',
 14085: 'United Kingdom',
 17860: 'United Kingdom',
 13155: 'United Kingdom',
 15028: 'United Kingdom',
 16919: 'United Kingdom',
 17259: 'United Kingdom',
 17019: 'United Kingdom',
 16722: 'United Kingdom',
 15882: 'United Kingdom',
 14667: 'United Kingdom',
 16710: 'United Kingdom',
 15984: 'United Kingdom',
 14487: 'United Kingdom',
 17682: 'United Kingdom',
 16658: 'United Kingdom',
 16550: 'United Kingdom',
 17068: 'United Kingdom',
 15356: 'United Kingdom',
 17223: 'United Kingdom',
 16817: 'United Kingdom',
 13030: 'United Kingdom',
 17191: 'United Kingdom',
 15194: 'United Kingdom',
 14409: 'United Kingdom',
 16654: 'United Kingdom',
 13495: 'United Kingdom',
 17519: 'United Kingdom',
 17218: 'United Kingdom',
 17812: 'United Kingdom',
 14215: 'United Kingdom',
 15602: 'United Kingdom',
 17320: 'United Kingdom',
 12913: 'United Kingdom',
 17869: 'United Kingdom',
 13564: 'United Kingdom',
 13963: 'United Kingdom',
 17450: 'United Kingdom',
 17091: 'United Kingdom',
 17470: 'United Kingdom',
 17616: 'United Kingdom',
 15649: 'United Kingdom',
 12681: 'France',
 14907: 'United Kingdom',
 17735: 'United Kingdom',
 16059: 'United Kingdom',
 17720: 'United Kingdom',
 15018: 'United Kingdom',
 15838: 'United Kingdom',
 14733: 'United Kingdom',
 13756: 'United Kingdom',
 14176: 'United Kingdom',
 15353: 'United Kingdom',
 18119: 'United Kingdom',
 17491: 'United Kingdom',
 14282: 'United Kingdom',
 13569: 'United Kingdom',
 14673: 'United Kingdom',
 13488: 'United Kingdom',
 16221: 'United Kingdom',
 15002: 'United Kingdom',
 15965: 'United Kingdom',
 15024: 'United Kingdom',
 17675: 'United Kingdom',
 13769: 'United Kingdom',
 16904: 'United Kingdom',
 16086: 'United Kingdom',
 13786: 'United Kingdom',
 13880: 'United Kingdom',
 13173: 'United Kingdom',
 15858: 'United Kingdom',
 15180: 'United Kingdom',
 12347: 'Iceland',
 14739: 'United Kingdom',
 16293: 'United Kingdom',
 17419: 'United Kingdom',
 16775: 'United Kingdom',
 16306: 'United Kingdom',
 16950: 'United Kingdom',
 17591: 'United Kingdom',
 12839: 'United Kingdom',
 13807: 'United Kingdom',
 16125: 'United Kingdom',
 15081: 'United Kingdom',
 18102: 'United Kingdom',
 16365: 'United Kingdom',
 17870: 'United Kingdom',
 14821: 'United Kingdom',
 16863: 'United Kingdom',
 13078: 'United Kingdom',
 13267: 'United Kingdom',
 13050: 'United Kingdom',
 12709: 'Germany',
 15628: 'United Kingdom',
 12386: 'Australia',
 16779: 'United Kingdom',
 13599: 'United Kingdom',
 13329: 'United Kingdom',
 18077: 'United Kingdom',
 14744: 'United Kingdom',
 17406: 'United Kingdom',
 15750: 'United Kingdom',
 13983: 'United Kingdom',
 13842: 'United Kingdom',
 14796: 'United Kingdom',
 12441: 'France',
 13199: 'United Kingdom',
 14032: 'United Kingdom',
 17706: 'United Kingdom',
 16081: 'United Kingdom',
 16525: 'United Kingdom',
 17975: 'United Kingdom',
 16122: 'United Kingdom',
 13126: 'United Kingdom',
 15973: 'United Kingdom',
 16558: 'United Kingdom',
 16893: 'United Kingdom',
 15021: 'United Kingdom',
 15529: 'United Kingdom',
 15498: 'United Kingdom',
 18043: 'United Kingdom',
 16016: 'United Kingdom',
 17722: 'United Kingdom',
 17324: 'United Kingdom',
 17341: 'United Kingdom',
 14051: 'United Kingdom',
 16233: 'United Kingdom',
 16385: 'United Kingdom',
 15032: 'United Kingdom',
 16713: 'United Kingdom',
 17213: 'United Kingdom',
 18061: 'United Kingdom',
 15916: 'United Kingdom',
 15221: 'United Kingdom',
 13455: 'United Kingdom',
 13113: 'United Kingdom',
 14217: 'United Kingdom',
 17262: 'United Kingdom',
 18259: 'United Kingdom',
 17676: 'United Kingdom',
 16679: 'United Kingdom',
 18269: 'United Kingdom',
 12766: 'Portugal',
 15298: 'United Kingdom',
 13523: 'United Kingdom',
 15005: 'United Kingdom',
 15581: 'United Kingdom',
 15680: 'United Kingdom',
 13649: 'United Kingdom',
 17894: 'United Kingdom',
 13270: 'United Kingdom',
 14866: 'United Kingdom',
 13077: 'United Kingdom',
 13531: 'United Kingdom',
 13848: 'United Kingdom',
 13140: 'United Kingdom',
 15713: 'United Kingdom',
 17999: 'United Kingdom',
 15347: 'United Kingdom',
 14766: 'United Kingdom',
 17340: 'United Kingdom',
 13984: 'United Kingdom',
 15996: 'United Kingdom',
 14030: 'United Kingdom',
 16596: 'United Kingdom',
 16700: 'United Kingdom',
 16011: 'United Kingdom',
 17655: 'United Kingdom',
 16717: 'United Kingdom',
 14243: 'United Kingdom',
 12963: 'United Kingdom',
 15079: 'United Kingdom',
 14437: 'United Kingdom',
 12942: 'United Kingdom',
 15660: 'United Kingdom',
 18092: 'United Kingdom',
 15358: 'United Kingdom',
 13319: 'United Kingdom',
 12481: 'Germany',
 12621: 'Germany',
 14299: 'United Kingdom',
 18071: 'United Kingdom',
 12683: 'France',
 12755: 'Japan',
 13854: 'United Kingdom',
 12797: 'Portugal',
 16782: 'United Kingdom',
 13369: 'United Kingdom',
 12494: 'France',
 17857: 'United Kingdom',
 14932: 'Channel Islands',
 12429: 'Denmark',
 14987: 'United Kingdom',
 14355: 'United Kingdom',
 17526: 'United Kingdom',
 14896: 'United Kingdom',
 14440: 'United Kingdom',
 13240: 'United Kingdom',
 14479: 'United Kingdom',
 16065: 'United Kingdom',
 17430: 'United Kingdom',
 16520: 'United Kingdom',
 15945: 'United Kingdom',
 15856: 'United Kingdom',
 13102: 'United Kingdom',
 15271: 'United Kingdom',
 13982: 'United Kingdom',
 15288: 'United Kingdom',
 17978: 'United Kingdom',
 16795: 'United Kingdom',
 16519: 'United Kingdom',
 17816: 'United Kingdom',
 16255: 'United Kingdom',
 17671: 'United Kingdom',
 17646: 'United Kingdom',
 12872: 'United Kingdom',
 17339: 'United Kingdom',
 17097: 'Spain',
 15192: 'United Kingdom',
 15380: 'United Kingdom',
 17950: 'United Kingdom',
 12826: 'United Kingdom',
 17456: 'United Kingdom',
 15811: 'United Kingdom',
 13327: 'United Kingdom',
 18225: 'United Kingdom',
 15211: 'United Kingdom',
 15596: 'United Kingdom',
 16163: 'United Kingdom',
 16907: 'United Kingdom',
 17576: 'United Kingdom',
 14713: 'United Kingdom',
 14702: 'United Kingdom',
 13230: 'United Kingdom',
 13969: 'United Kingdom',
 17530: 'United Kingdom',
 15805: 'United Kingdom',
 12471: 'Germany',
 17696: 'United Kingdom',
 17076: 'United Kingdom',
 17827: 'United Kingdom',
 16265: 'United Kingdom',
 17880: 'United Kingdom',
 13000: 'United Kingdom',
 16499: 'United Kingdom',
 17790: 'United Kingdom',
 12731: 'France',
 14419: 'United Kingdom',
 14082: 'United Kingdom',
 17912: 'United Kingdom',
 15723: 'United Kingdom',
 16656: 'United Kingdom',
 14037: 'United Kingdom',
 14256: 'United Kingdom',
 14543: 'United Kingdom',
 16062: 'United Kingdom',
 18116: 'United Kingdom',
 16019: 'United Kingdom',
 18178: 'United Kingdom',
 18065: 'United Kingdom',
 14952: 'United Kingdom',
 13148: 'United Kingdom',
 12989: 'United Kingdom',
 14107: 'United Kingdom',
 15881: 'United Kingdom',
 12785: 'Portugal',
 16727: 'United Kingdom',
 15514: 'United Kingdom',
 13787: 'United Kingdom',
 17865: 'United Kingdom',
 17220: 'United Kingdom',
 16565: 'United Kingdom',
 16873: 'United Kingdom',
 14062: 'United Kingdom',
 18016: 'United Kingdom',
 14448: 'United Kingdom',
 15503: 'United Kingdom',
 17251: 'United Kingdom',
 16923: 'United Kingdom',
 14159: 'United Kingdom',
 14577: 'United Kingdom',
 17126: 'United Kingdom',
 12753: 'Japan',
 17236: 'United Kingdom',
 17372: 'United Kingdom',
 16367: 'United Kingdom',
 12875: 'United Kingdom',
 17917: 'United Kingdom',
 16010: 'United Kingdom',
 17085: 'United Kingdom',
 15224: 'United Kingdom',
 13668: 'United Kingdom',
 14684: 'United Kingdom',
 17188: 'United Kingdom',
 15547: 'United Kingdom',
 15998: 'United Kingdom',
 14413: 'United Kingdom',
 18004: 'United Kingdom',
 13959: 'United Kingdom',
 16665: 'United Kingdom',
 15454: 'United Kingdom',
 15044: 'United Kingdom',
 17937: 'United Kingdom',
 14608: 'United Kingdom',
 17618: 'United Kingdom',
 14505: 'United Kingdom',
 18037: 'United Kingdom',
 13198: 'United Kingdom',
 12540: 'Spain',
 13225: 'United Kingdom',
 15361: 'United Kingdom',
 15689: 'United Kingdom',
 14290: 'United Kingdom',
 13209: 'United Kingdom',
 13999: 'United Kingdom',
 14498: 'United Kingdom',
 15854: 'United Kingdom',
 16701: 'United Kingdom',
 16927: 'United Kingdom',
 17990: 'United Kingdom',
 14544: 'United Kingdom',
 17338: 'United Kingdom',
 17799: 'United Kingdom',
 14565: 'United Kingdom',
 16726: 'United Kingdom',
 17303: 'United Kingdom',
 14639: 'United Kingdom',
 17611: 'United Kingdom',
 17231: 'United Kingdom',
 17179: 'United Kingdom',
 17524: 'United Kingdom',
 12476: 'Germany',
 17293: 'United Kingdom',
 17890: 'United Kingdom',
 17375: 'United Kingdom',
 17371: 'United Kingdom',
 17969: 'United Kingdom',
 14625: 'United Kingdom',
 15159: 'United Kingdom',
 13211: 'United Kingdom',
 15777: 'United Kingdom',
 14525: 'United Kingdom',
 13324: 'United Kingdom',
 13948: 'United Kingdom',
 16202: 'United Kingdom',
 16442: 'United Kingdom',
 18075: 'United Kingdom',
 14524: 'United Kingdom',
 14961: 'United Kingdom',
 17041: 'United Kingdom',
 16458: 'United Kingdom',
 16083: 'United Kingdom',
 17194: 'United Kingdom',
 14057: 'United Kingdom',
 14871: 'United Kingdom',
 13178: 'United Kingdom',
 18044: 'United Kingdom',
 16812: 'United Kingdom',
 16191: 'United Kingdom',
 12370: 'Cyprus',
 14298: 'United Kingdom',
 17158: 'United Kingdom',
 16899: 'United Kingdom',
 16531: 'United Kingdom',
 17404: 'Sweden',
 14415: 'United Kingdom',
 16556: 'United Kingdom',
 16805: 'United Kingdom',
 16503: 'United Kingdom',
 16553: 'United Kingdom',
 17739: 'United Kingdom',
 13238: 'United Kingdom',
 12829: 'United Kingdom',
 13097: 'United Kingdom',
 15392: 'United Kingdom',
 13846: 'United Kingdom',
 12867: 'United Kingdom',
 14401: 'United Kingdom',
 16145: 'United Kingdom',
 17629: 'United Kingdom',
 14150: 'United Kingdom',
 13496: 'United Kingdom',
 13611: 'United Kingdom',
 16954: 'United Kingdom',
 17454: 'United Kingdom',
 17449: 'United Kingdom',
 13295: 'United Kingdom',
 17230: 'United Kingdom',
 15384: 'United Kingdom',
 15950: 'United Kingdom',
 15512: 'United Kingdom',
 17525: 'United Kingdom',
 13458: 'United Kingdom',
 16003: 'United Kingdom',
 13092: 'United Kingdom',
 13426: 'United Kingdom',
 15101: 'United Kingdom',
 17033: 'United Kingdom',
 13221: 'United Kingdom',
 14201: 'United Kingdom',
 17692: 'United Kingdom',
 15822: 'United Kingdom',
 16134: 'United Kingdom',
 17551: 'United Kingdom',
 18050: 'United Kingdom',
 14913: 'United Kingdom',
 15641: 'United Kingdom',
 13124: 'United Kingdom',
 17214: 'United Kingdom',
 15456: 'United Kingdom',
 15062: 'United Kingdom',
 12928: 'United Kingdom',
 15727: 'United Kingdom',
 17980: 'United Kingdom',
 15290: 'United Kingdom',
 17752: 'United Kingdom',
 15615: 'United Kingdom',
 12577: 'France',
 17189: 'United Kingdom',
 17496: 'United Kingdom',
 16607: 'United Kingdom',
 13317: 'United Kingdom',
 13890: 'United Kingdom',
 17001: 'United Kingdom',
 15246: 'United Kingdom',
 15482: 'United Kingdom',
 13021: 'United Kingdom',
 16037: 'United Kingdom',
 14841: 'United Kingdom',
 16670: 'United Kingdom',
 16985: 'United Kingdom',
 16705: 'United Kingdom',
 14414: 'United Kingdom',
 15563: 'United Kingdom',
 12980: 'United Kingdom',
 16746: 'United Kingdom',
 16470: 'United Kingdom',
 14878: 'United Kingdom',
 16743: 'United Kingdom',
 17146: 'United Kingdom',
 12877: 'United Kingdom',
 15394: 'United Kingdom',
 14621: 'United Kingdom',
 15379: 'United Kingdom',
 14309: 'United Kingdom',
 17288: 'United Kingdom',

In [146]:
total_final["country"] = total_final["CustomerID"].map(dict(zip(orders.CustomerID, orders.Country)))

In [147]:
total_final

      CustomerID  amount_spent   Quartiles customer_level         country
0          14646     280206.02  quantile 4            VIP     Netherlands
1          18102     259657.30  quantile 4            VIP  United Kingdom
2          17450     194550.79  quantile 4            VIP  United Kingdom
3          16446     168472.50  quantile 4            VIP  United Kingdom
4          14911     143825.06  quantile 4            VIP            EIRE
...          ...           ...         ...            ...             ...
4334       17956         12.75  quantile 1      Preferred  United Kingdom
4335       16454          6.90  quantile 1      Preferred  United Kingdom
4336       14792          6.20  quantile 1      Preferred  United Kingdom
4337       16738          3.75  quantile 1      Preferred  United Kingdom
4338       13256          0.00  quantile 1      Preferred  United Kingdom

[4339 rows x 5 columns]

In [153]:
total_vip = total_final[total_final["customer_level"] == "VIP"]

In [154]:
total_vip.groupby("country")["customer_level"].count().sort_values(ascending=False)

country
United Kingdom     932
Germany             39
France              29
Belgium             11
Spain                8
Switzerland          8
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Australia            4
Japan                4
EIRE                 3
Denmark              3
Cyprus               3
Sweden               2
Israel               2
Lebanon              1
Iceland              1
Greece               1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Austria              1
Name: customer_level, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [155]:
# your code here

total_final.groupby("country")["customer_level"].count().sort_values(ascending=False)

country
United Kingdom          3921
Germany                   94
France                    87
Spain                     29
Belgium                   23
Switzerland               19
Portugal                  19
Italy                     14
Finland                   12
Norway                    10
Austria                    9
Channel Islands            9
Denmark                    9
Australia                  9
Netherlands                9
Japan                      8
Sweden                     8
Cyprus                     7
Poland                     6
Unspecified                4
Greece                     4
USA                        4
Canada                     4
Israel                     3
EIRE                       3
United Arab Emirates       2
Bahrain                    2
Malta                      2
Czech Republic             1
Singapore                  1
Lithuania                  1
Saudi Arabia               1
Brazil                     1
RSA                        1
Iceland                    1
Lebanon                    1
European Community         1
Name: customer_level, dtype: int64