# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd
import numpy as np

#### Import data set.

Import `pokemon_stats` table from database `Pokemon` from Ironhack's databases. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set from Ironhack's database
pokemon = pd.read_csv('Pokemon.csv')

In [3]:
pokemon_original = pokemon.copy()

#### Print first 10 rows of `pokemon`.

In [4]:
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Extract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
pokemon.loc[:,['Type 1', 'Type 2']]

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire     NaN
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

In [6]:
pokemon_type1 = pokemon['Type 1'].unique()
pokemon_type2 = pokemon['Type 2'].unique()
pokemon_types = np.array([pokemon['Type 1'] + pokemon['Type 2']])
pokemon_types

array([['GrassPoison', 'GrassPoison', 'GrassPoison', 'GrassPoison', nan,
        nan, 'FireFlying', 'FireDragon', 'FireFlying', nan, nan, nan,
        nan, nan, nan, 'BugFlying', 'BugPoison', 'BugPoison',
        'BugPoison', 'BugPoison', 'NormalFlying', 'NormalFlying',
        'NormalFlying', 'NormalFlying', nan, nan, 'NormalFlying',
        'NormalFlying', nan, nan, nan, nan, nan, nan, nan, nan,
        'PoisonGround', nan, nan, 'PoisonGround', nan, nan, nan, nan,
        'NormalFairy', 'NormalFairy', 'PoisonFlying', 'PoisonFlying',
        'GrassPoison', 'GrassPoison', 'GrassPoison', 'BugGrass',
        'BugGrass', 'BugPoison', 'BugPoison', nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, 'WaterFighting', nan, nan,
        nan, nan, nan, nan, nan, 'GrassPoison', 'GrassPoison',
        'GrassPoison', 'WaterPoison', 'WaterPoison', 'RockGround',
        'RockGround', 'RockGround', nan, nan, 'WaterPsychic',
        'WaterPsychic', 'WaterPsychic', 'ElectricSteel', 'ElectricSteel',
        'NormalFlying', 'NormalFlying', 'NormalFlying', nan, 'WaterIce',
        nan, nan, nan, 'WaterIce', 'GhostPoison', 'GhostPoison',
        'GhostPoison', 'GhostPoison', 'RockGround', nan, nan, nan, nan,
        nan, nan, 'GrassPsychic', 'GrassPsychic', nan, nan, nan, nan,
        nan, nan, nan, 'GroundRock', 'GroundRock', nan, nan, nan, nan,
        nan, nan, nan, nan, nan, 'WaterPsychic', 'PsychicFairy',
        'BugFlying', 'IcePsychic', nan, nan, nan, 'BugFlying', nan, nan,
        'WaterFlying', 'WaterDark', 'WaterIce', nan, nan, nan, nan, nan,
        nan, 'RockWater', 'RockWater', 'RockWater', 'RockWater',
        'RockFlying', 'RockFlying', nan, 'IceFlying', 'ElectricFlying',
        'FireFlying', nan, nan, 'DragonFlying', nan, 'PsychicFighting',
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        'NormalFlying', 'NormalFlying', 'BugFlying', 'BugFlying',
        'BugPoison', 'BugPoison', 'PoisonFlying', 'WaterElectric',
        'WaterElectric', nan, nan, 'NormalFairy', nan, 'FairyFlying',
        'PsychicFlying', 'PsychicFlying', nan, nan, nan,
        'ElectricDragon', nan, 'WaterFairy', 'WaterFairy', nan, nan,
        'GrassFlying', 'GrassFlying', 'GrassFlying', nan, nan, nan,
        'BugFlying', 'WaterGround', 'WaterGround', nan, nan,
        'DarkFlying', 'WaterPsychic', nan, nan, nan, 'NormalPsychic',
        nan, 'BugSteel', nan, 'GroundFlying', 'SteelGround',
        'SteelGround', nan, nan, 'WaterPoison', 'BugSteel', 'BugSteel',
        'BugRock', 'BugFighting', 'BugFighting', 'DarkIce', nan, nan,
        nan, 'FireRock', 'IceGround', 'IceGround', 'WaterRock', nan, nan,
        'IceFlying', 'WaterFlying', 'SteelFlying', 'DarkFire',
        'DarkFire', 'DarkFire', 'WaterDragon', nan, nan, nan, nan, nan,
        nan, nan, 'IcePsychic', nan, nan, nan, nan, nan, nan, nan,
        'RockGround', 'RockGround', 'RockDark', 'RockDark',
        'PsychicFlying', 'FireFlying', 'PsychicGrass', nan, nan, nan,
        'GrassDragon', nan, 'FireFighting', 'FireFighting',
        'FireFighting', nan, 'WaterGround', 'WaterGround', 'WaterGround',
        nan, nan, nan, nan, nan, nan, 'BugFlying', nan, 'BugPoison',
        'WaterGrass', 'WaterGrass', 'WaterGrass', nan, 'GrassDark',
        'GrassDark', 'NormalFlying', 'NormalFlying', 'WaterFlying',
        'WaterFlying', 'PsychicFairy', 'PsychicFairy', 'PsychicFairy',
        'PsychicFairy', 'BugWater', 'BugFlying', nan, 'GrassFighting',
        nan, nan, nan, 'BugGround', 'BugFlying', 'BugGhost', nan, nan,
        nan, nan, nan, 'NormalFairy', nan, nan, nan, 'DarkGhost',
        'DarkGhost', 'SteelFairy', 'SteelFairy', 'SteelRock',
        'SteelRock', 'SteelRock', nan, 'FightingPsychic',
        'FightingPsychic', 'FightingPsychic', nan, nan, nan, nan, nan,
        nan, nan, 'GrassPoison', nan, nan, 'WaterDark', 'WaterDark',
        'WaterDark', nan, nan, 'FireGround', 'FireGround', 'FireGround',
        nan, nan, nan, nan, nan, 'GroundDragon', 'GroundDragon', nan,
        'GrassDark', 'NormalFlying', 'DragonFlying', 'DragonFairy', nan,
        nan, 'RockPsychic', 'RockPsychic', 'WaterGround', 'WaterGround',
        nan, 'WaterDark', 'GroundPsychic', 'GroundPsychic', 'RockGrass',
        'RockGrass', 'RockBug', 'RockBug', nan, nan, nan, nan, nan, nan,
        nan, nan, nan, 'GrassFlying', nan, nan, nan, nan, nan, nan, nan,
        'IceWater', 'IceWater', 'IceWater', nan, nan, nan, 'WaterRock',
        nan, nan, nan, 'DragonFlying', 'DragonFlying', 'SteelPsychic',
        'SteelPsychic', 'SteelPsychic', 'SteelPsychic', nan, nan, nan,
        'DragonPsychic', 'DragonPsychic', 'DragonPsychic',
        'DragonPsychic', nan, nan, nan, 'GroundFire', 'DragonFlying',
        'DragonFlying', 'SteelPsychic', nan, nan, nan, nan, nan, nan,
        'GrassGround', nan, 'FireFighting', 'FireFighting', nan, nan,
        'WaterSteel', 'NormalFlying', 'NormalFlying', 'NormalFlying',
        nan, 'NormalWater', nan, nan, nan, nan, nan, 'GrassPoison',
        'GrassPoison', nan, nan, 'RockSteel', 'RockSteel', nan,
        'BugGrass', 'BugGround', 'BugSteel', 'BugFlying', 'BugFlying',
        'BugFlying', nan, nan, nan, nan, nan, nan, 'WaterGround', nan,
        'GhostFlying', 'GhostFlying', nan, nan, 'NormalFighting', nan,
        'DarkFlying', nan, nan, nan, 'PoisonDark', 'PoisonDark',
        'SteelPsychic', 'SteelPsychic', nan, 'PsychicFairy', nan,
        'NormalFlying', 'GhostDark', 'DragonGround', 'DragonGround',
        'DragonGround', 'DragonGround', nan, nan, 'FightingSteel',
        'FightingSteel', nan, nan, 'PoisonBug', 'PoisonDark',
        'PoisonFighting', 'PoisonFighting', nan, nan, nan, 'WaterFlying',
        'GrassIce', 'GrassIce', 'GrassIce', 'DarkIce', 'ElectricSteel',
        nan, 'GroundRock', nan, nan, nan, 'FairyFlying', 'BugFlying',
        nan, nan, 'GroundFlying', 'IceGround', nan, 'PsychicFighting',
        'PsychicFighting', 'RockSteel', nan, 'IceGhost', 'ElectricGhost',
        'ElectricFire', 'ElectricWater', 'ElectricIce', 'ElectricFlying',
        'ElectricGrass', nan, nan, nan, 'SteelDragon', 'WaterDragon',
        'FireSteel', nan, 'GhostDragon', 'GhostDragon', nan, nan, nan,
        nan, nan, 'GrassFlying', nan, 'PsychicFire', nan, nan, nan, nan,
        'FireFighting', 'FireFighting', nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        'NormalFlying', 'NormalFlying', 'NormalFlying', nan, nan, nan,
        nan, nan, 'PsychicFlying', 'PsychicFlying', nan, 'GroundSteel',
        nan, 'NormalFairy', nan, nan, nan, nan, 'WaterGround',
        'WaterGround', nan, nan, 'BugGrass', 'BugGrass', 'BugGrass',
        'BugPoison', 'BugPoison', 'BugPoison', 'GrassFairy',
        'GrassFairy', nan, nan, nan, 'GroundDark', 'GroundDark',
        'GroundDark', nan, nan, 'FirePsychic', nan, 'BugRock', 'BugRock',
        'DarkFighting', 'DarkFighting', 'PsychicFlying', nan, nan,
        'WaterRock', 'WaterRock', 'RockFlying', 'RockFlying', nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'WaterFlying',
        'WaterFlying', nan, nan, nan, 'NormalGrass', 'NormalGrass',
        'ElectricFlying', nan, 'BugSteel', 'GrassPoison', 'GrassPoison',
        'WaterGhost', 'WaterGhost', nan, 'BugElectric', 'BugElectric',
        'GrassSteel', 'GrassSteel', nan, nan, nan, nan, nan, nan, nan,
        nan, 'GhostFire', 'GhostFire', 'GhostFire', nan, nan, nan, nan,
        nan, nan, nan, nan, 'GroundElectric', nan, nan, nan,
        'GroundGhost', 'GroundGhost', 'DarkSteel', 'DarkSteel', nan,
        'NormalFlying', 'NormalFlying', 'DarkFlying', 'DarkFlying', nan,
        'BugSteel', 'DarkDragon', 'DarkDragon', 'DarkDragon', 'BugFire',
        'BugFire', 'SteelFighting', 'RockFighting', 'GrassFighting', nan,
        nan, 'ElectricFlying', 'ElectricFlying', 'DragonFire',
        'DragonElectric', 'GroundFlying', 'GroundFlying', 'DragonIce',
        'DragonIce', 'DragonIce', 'WaterFighting', 'WaterFighting',
        'NormalPsychic', 'NormalFighting', 'BugSteel', nan, nan,
        'GrassFighting', nan, nan, 'FirePsychic', nan, nan, 'WaterDark',
        nan, 'NormalGround', 'NormalFlying', 'FireFlying', 'FireFlying',
        nan, nan, 'BugFlying', 'FireNormal', 'FireNormal', nan, nan, nan,
        nan, nan, nan, 'FightingDark', nan, nan, nan, nan, 'SteelGhost',
        'SteelGhost', 'SteelGhost', 'SteelGhost', nan, nan, nan, nan,
        'DarkPsychic', 'DarkPsychic', 'RockWater', 'RockWater',
        'PoisonWater', 'PoisonDragon', nan, nan, 'ElectricNormal',
        'ElectricNormal', 'RockDragon', 'RockDragon', 'RockIce',
        'RockIce', nan, 'FightingFlying', 'ElectricFairy', 'RockFairy',
        nan, nan, nan, 'SteelFairy', 'GhostGrass', 'GhostGrass',
        'GhostGrass', 'GhostGrass', 'GhostGrass', 'GhostGrass',
        'GhostGrass', 'GhostGrass', 'GhostGrass', 'GhostGrass', nan, nan,
        'FlyingDragon', 'FlyingDragon', nan, 'DarkFlying',
        'DragonGround', 'RockFairy', 'RockFairy', 'PsychicGhost',
        'PsychicDark', 'FireWater']], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [7]:
# .* means anything that comes before Mega
# ?= this means don't do anything with what comes after

pokemon['Name'] = pokemon['Name'].str.replace(".*(?=Mega)", "")

# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [11]:
pokemon['AD_Ratio'] = (pokemon['Attack']/pokemon['Defense'])
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,AD_Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

In [12]:
# check:
pokemon.columns.tolist()

['#',
 'Name',
 'Type 1',
 'Type 2',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'AD_Ratio']

#### Identify the pokemon with the highest `A/D Ratio`.

In [13]:
AD_Ratio_max = pokemon['AD_Ratio'].max()
AD_Ratio_max

9.0

In [24]:
pokemon.loc[pokemon['AD_Ratio'].idxmax()]

#                            386
Name          DeoxysAttack Forme
Type 1                   Psychic
Type 2                       NaN
Total                        600
HP                            50
Attack                       180
Defense                       20
Sp. Atk                      180
Sp. Def                       20
Speed                        150
Generation                     3
Legendary                   True
AD_Ratio                       9
Name: 429, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [14]:
AD_Ratio_min = pokemon['AD_Ratio'].min()
AD_Ratio_min

0.043478260869565216

In [15]:
pokemon.loc[pokemon['AD_Ratio'].idxmin()]

#                   213
Name            Shuckle
Type 1              Bug
Type 2             Rock
Total               505
HP                   20
Attack               10
Defense             230
Sp. Atk              10
Sp. Def             230
Speed                 5
Generation            2
Legendary         False
AD_Ratio      0.0434783
Name: 230, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [16]:
pokemon["Type 2"] = pokemon["Type 2"].fillna("")
def combo_mixer(row):
    if row["Type 2"] == "":
        return row["Type 1"]
    else:
        return row["Type 1"] + "-" + row["Type 2"]
    
pokemon["Combo Type"] = pokemon.apply(combo_mixer, axis = 1)
pokemon.head(10)

# other method to check:  df.loc[df['column name'] condition, 'new column name'] = 'value if condition is met'

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,AD_Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire-Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire-Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire-Flying
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False,0.738462,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [20]:
AD_Ratio_sorted = pokemon.sort_values(by=['AD_Ratio'], ascending = False)
AD_Ratio_sorted

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,AD_Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500000,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750000,Bug-Poison
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125000,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000000,Water-Dark
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False,0.285714,Fire-Psychic
103,95,Onix,Rock,Ground,385,35,45,160,30,45,70,1,False,0.281250,Rock-Ground
484,436,Bronzor,Steel,Psychic,300,57,24,86,24,86,23,4,False,0.279070,Steel-Psychic
139,129,Magikarp,Water,,200,20,10,55,15,20,80,1,False,0.181818,Water
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478,Bug-Rock

In [35]:
AD_Ratio_Top5 = AD_Ratio_sorted.head()
AD_Ratio_Top5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,AD_Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

In [38]:
AD_Ratio_Top5_list = AD_Ratio_Top5[['Name', 'AD_Ratio', 'Combo Type']]
AD_Ratio_Top5_list

                   Name  AD_Ratio  Combo Type
429  DeoxysAttack Forme     9.000     Psychic
347            Carvanha     4.500  Water-Dark
19        Mega Beedrill     3.750  Bug-Poison
453            Cranidos     3.125        Rock
348            Sharpedo     3.000  Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [54]:
toplist = []
for element in AD_Ratio_Top5_list['Combo Type'].unique():
    toplist.append(element)

toplist

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [70]:
AD

KeyError: False