# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from the file `Oders.csv` located in the `data` folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here

orders = pd.read_csv('../data/Orders.csv')
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
#Sub Problem 1: How to aggregate the amount_spent for unique customers?

amount_spent = orders[['CustomerID','amount_spent','Country']].groupby(['CustomerID','Country']).sum()

amount_spent

                           amount_spent
CustomerID Country
12346      United Kingdom      77183.60
12347      Iceland              4310.00
12348      Finland              1797.24
12349      Italy                1757.55
12350      Norway                334.40
...                                 ...
18280      United Kingdom        180.60
18281      United Kingdom         80.82
18282      United Kingdom        178.05
18283      United Kingdom       2094.88
18287      United Kingdom       1837.28

[4347 rows x 1 columns]

In [17]:
#Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range?
#Sub Problem 3: How to label selected customers as "VIP" or "Preferred"

quantile75 = float(amount_spent['amount_spent'].quantile([0.75]))
quantile95 = float(amount_spent['amount_spent'].quantile([0.95]))

vip_customers = amount_spent[amount_spent.loc[:,'amount_spent'] >= quantile95]


preferred_customers = amount_spent[(amount_spent.loc[:,'amount_spent'] >= quantile75) &
                                   (amount_spent.loc[:, 'amount_spent']<quantile95)]

top_customers = pd.concat([vip_customers,preferred_customers])

top_customers

                           amount_spent
CustomerID Country
12346      United Kingdom      77183.60
12357      Switzerland          6207.67
12359      Cyprus               6372.58
12409      Switzerland         11072.67
12415      Australia          124914.53
...                                 ...
18259      United Kingdom       2338.60
18260      United Kingdom       2643.20
18272      United Kingdom       3078.58
18283      United Kingdom       2094.88
18287      United Kingdom       1837.28

[1087 rows x 1 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [53]:
top_customers["Customer_Status"] = ["VIP" if amount >= quantile95 else "Preferred" for amount in top_customers["amount_spent"]]

vip_customers.columns

# vip_customers = vip_customers.reset_index()

vip_customers.columns

vip_customers_ordered = vip_customers.groupby(['Country'])['CustomerID'].count().sort_values(ascending=False)

df_vip_customers = vip_customers_ordered.to_frame().reset_index()

df_vip_customers.max()

Country       United Kingdom
CustomerID               178
dtype: object

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [11]:
# your code here

top_customers['Type of client'] = 'Special Client'

top_customers.groupby(['Country'])['Type of client'].count().sort_values(ascending=False)

Country
United Kingdom     934
Germany             39
France              29
Belgium             11
Switzerland          9
Spain                7
Portugal             7
Norway               7
Italy                5
Finland              5
Channel Islands      4
Australia            4
Japan                4
EIRE                 3
Denmark              3
Cyprus               3
Sweden               2
Israel               2
Lebanon              1
Iceland              1
Greece               1
Malta                1
Netherlands          1
Poland               1
Singapore            1
Canada               1
Austria              1
Name: Type of client, dtype: int64