# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [6]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [8]:
orders=pd.read_csv("../data/orders.csv", index_col="Unnamed: 0")
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [42]:
grouped_customers_expenses=orders.groupby(["CustomerID", "Country"], as_index = False)["amount_spent"].sum()
grouped_customers_expenses

      CustomerID         Country  amount_spent
0          12346  United Kingdom      77183.60
1          12347         Iceland       4310.00
2          12348         Finland       1797.24
3          12349           Italy       1757.55
4          12350          Norway        334.40
...          ...             ...           ...
4342       18280  United Kingdom        180.60
4343       18281  United Kingdom         80.82
4344       18282  United Kingdom        178.05
4345       18283  United Kingdom       2094.88
4346       18287  United Kingdom       1837.28

[4347 rows x 3 columns]

In [65]:
quantile95=grouped_customers_expenses["amount_spent"].quantile(0.95)
quantile75=grouped_customers_expenses["amount_spent"].quantile(0.75)

In [70]:
def client_kind(row):
    if (row["amount_spent"]>=quantile95):
        return "VIP"
    elif ((row["amount_spent"]>=quantile75) and (row["amount_spent"]<quantile95)):
        return "Preferred"
    else:
        return ""

grouped_customers_expenses["client_kind"]=grouped_customers_expenses.apply(client_kind, axis=1)
grouped_customers_expenses

      CustomerID         Country  amount_spent client_kind
0          12346  United Kingdom      77183.60         VIP
1          12347         Iceland       4310.00   Preferred
2          12348         Finland       1797.24   Preferred
3          12349           Italy       1757.55   Preferred
4          12350          Norway        334.40
...          ...             ...           ...         ...
4342       18280  United Kingdom        180.60
4343       18281  United Kingdom         80.82
4344       18282  United Kingdom        178.05
4345       18283  United Kingdom       2094.88   Preferred
4346       18287  United Kingdom       1837.28   Preferred

[4347 rows x 4 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [94]:
country_customers=grouped_customers_expenses.groupby("client_kind")["Country"].value_counts()
country_customers["VIP"]

Country
United Kingdom     178
Germany             11
France               9
Switzerland          3
EIRE                 2
Japan                2
Portugal             2
Spain                2
Australia            1
Channel Islands      1
Cyprus               1
Denmark              1
Finland              1
Netherlands          1
Norway               1
Singapore            1
Sweden               1
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [114]:
grouped_customers_expenses["good_customer"]=np.where(grouped_customers_expenses["client_kind"]=="","None","Good")
grouped_customers_expenses.groupby(["Country", "good_customer"]).count().sort_values(by="CustomerID", ascending = False)

                                    CustomerID  amount_spent  client_kind
Country              good_customer
United Kingdom       None                 2987          2987         2987
                     Good                  934           934          934
France               None                   58            58           58
Germany              None                   55            55           55
                     Good                   39            39           39
France               Good                   29            29           29
Spain                None                   23            23           23
Belgium              None                   14            14           14
Portugal             None                   12            12           12
Switzerland          None                   12            12           12
Belgium              Good                   11            11           11
Austria              None                   10            10           10
Italy                None                    9             9            9
Switzerland          Good                    9             9            9
Netherlands          None                    8             8            8
Portugal             Good                    7             7            7
Norway               Good                    7             7            7
Finland              None                    7             7            7
Spain                Good                    7             7            7
Sweden               None                    6             6            6
Denmark              None                    6             6            6
Cyprus               None                    5             5            5
Channel Islands      None                    5             5            5
Finland              Good                    5             5            5
Poland               None                    5             5            5
Australia            None                    5             5            5
Italy                Good                    5             5            5
USA                  None                    4             4            4
Japan                None                    4             4            4
                     Good                    4             4            4
Australia            Good                    4             4            4
Unspecified          None                    4             4            4
Channel Islands      Good                    4             4            4
Greece               None                    3             3            3
Canada               None                    3             3            3
Cyprus               Good                    3             3            3
EIRE                 Good                    3             3            3
Norway               None                    3             3            3
Denmark              Good                    3             3            3
Bahrain              None                    2             2            2
United Arab Emirates None                    2             2            2
Israel               Good                    2             2            2
Sweden               Good                    2             2            2
Netherlands          Good                    1             1            1
Lithuania            None                    1             1            1
Austria              Good                    1             1            1
Brazil               None                    1             1            1
Canada               Good                    1             1            1
Iceland              Good                    1             1            1
Lebanon              Good                    1             1            1
Czech Republic       None                    1             1            1
Greece               Good                    1             1            1
Singapore            Good                    1             1            1
Saudi Arabia         None                    1             1            1
RSA                  None                    1             1            1
Malta                Good                    1             1            1
European Community   None                    1             1            1
Poland               Good                    1             1            1
Malta                None                    1             1            1
Israel               None                    1             1            1