# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# your code here
orders = pd.read_csv('../Data/Orders.csv',index_col=0)
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [12]:
# Sub Problem 1: aggregation of amount spent by customer
amount_by_customer = orders.groupby('CustomerID',as_index=False)[['amount_spent']].sum()
amount_by_customer.head()

   CustomerID  amount_spent
0       12346      77183.60
1       12347       4310.00
2       12348       1797.24
3       12349       1757.55
4       12350        334.40

In [13]:
# Sub problem 2: select customers in each quantile range:
quantile_95 = amount_by_customer["amount_spent"].quantile(0.95)
quantile_75 = amount_by_customer["amount_spent"].quantile(0.75)
top_customers = amount_by_customer[amount_by_customer['amount_spent'] >= quantile_75]
top_customers.head()

   CustomerID  amount_spent
0       12346      77183.60
1       12347       4310.00
2       12348       1797.24
3       12349       1757.55
5       12352       2506.04

In [16]:
# Sub problem 3: I finally create a column with the labels:
top_customers["Customer_Label"] = ["VIP" if amount >= quantile_95 else "Preferred" for amount in top_customers["amount_spent"]]
top_customers.head()

/usr/local/Cellar/jupyterlab/2.1.0/libexec/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   CustomerID  amount_spent Customer_Label
0       12346      77183.60            VIP
1       12347       4310.00      Preferred
2       12348       1797.24      Preferred
3       12349       1757.55      Preferred
5       12352       2506.04      Preferred

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [20]:
# I first join the country to the top_customers dataframe based con CustomerID:
top_cust_countries = pd.merge(top_customers,orders[['CustomerID','Country']],on='CustomerID',how='left')
top_cust_countries.head()

   CustomerID  amount_spent Customer_Label         Country
0       12346       77183.6            VIP  United Kingdom
1       12347        4310.0      Preferred         Iceland
2       12347        4310.0      Preferred         Iceland
3       12347        4310.0      Preferred         Iceland
4       12347        4310.0      Preferred         Iceland

In [25]:
#I then group the customers by country and customer label:
grouped_countries = top_cust_countries.groupby(['Country','Customer_Label'],as_index=False)['CustomerID'].count()
grouped_countries

            Country Customer_Label  CustomerID
0         Australia      Preferred         130
1         Australia            VIP         898
2           Austria      Preferred         158
3           Belgium      Preferred        1503
4           Belgium            VIP          54
5            Canada      Preferred         135
6   Channel Islands      Preferred         225
7   Channel Islands            VIP         364
8            Cyprus      Preferred         203
9            Cyprus            VIP         248
10          Denmark      Preferred         181
11          Denmark            VIP          36
12             EIRE      Preferred         161
13             EIRE            VIP        7077
14          Finland      Preferred         210
15          Finland            VIP         294
16           France      Preferred        3011
17           France            VIP        3290
18          Germany      Preferred        4222
19          Germany            VIP        3127
20           Greece      Preferred          32
21          Iceland      Preferred         182
22           Israel      Preferred         214
23            Italy      Preferred         507
24            Japan      Preferred          67
25            Japan            VIP         205
26          Lebanon      Preferred          45
27            Malta      Preferred          67
28      Netherlands            VIP        2080
29           Norway      Preferred         608
30           Norway            VIP         420
31           Poland      Preferred         149
32         Portugal      Preferred         412
33         Portugal            VIP         681
34        Singapore            VIP         222
35            Spain      Preferred        1058
36            Spain            VIP         511
37           Sweden      Preferred          75
38           Sweden            VIP         198
39      Switzerland      Preferred         776
40      Switzerland            VIP         594
41   United Kingdom      Preferred      137450
42   United Kingdom            VIP       84185

In [26]:
#And I finally select the countries with most VIP customers:
grouped_countries[grouped_countries["Customer_Label"] == "VIP"].sort_values("CustomerID",ascending=False)

            Country Customer_Label  CustomerID
42   United Kingdom            VIP       84185
13             EIRE            VIP        7077
17           France            VIP        3290
19          Germany            VIP        3127
28      Netherlands            VIP        2080
1         Australia            VIP         898
33         Portugal            VIP         681
40      Switzerland            VIP         594
36            Spain            VIP         511
30           Norway            VIP         420
7   Channel Islands            VIP         364
15          Finland            VIP         294
9            Cyprus            VIP         248
34        Singapore            VIP         222
25            Japan            VIP         205
38           Sweden            VIP         198
4           Belgium            VIP          54
11          Denmark            VIP          36

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [27]:
# In this case, we just need to group by country and sort the values:
grouped_countries_all = top_cust_countries.groupby('Country',as_index=False)['CustomerID'].count()

In [29]:
grouped_countries_all.sort_values('CustomerID',ascending=False)

            Country  CustomerID
26   United Kingdom      221635
10          Germany        7349
7              EIRE        7238
9            France        6301
18      Netherlands        2080
23            Spain        1569
2           Belgium        1557
25      Switzerland        1370
21         Portugal        1093
19           Norway        1028
0         Australia        1028
4   Channel Islands         589
14            Italy         507
8           Finland         504
5            Cyprus         451
24           Sweden         273
15            Japan         272
22        Singapore         222
6           Denmark         217
13           Israel         214
12          Iceland         182
1           Austria         158
20           Poland         149
3            Canada         135
17            Malta          67
16          Lebanon          45
11           Greece          32