# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd
import numpy as np

#### Import data set.

Import `pokemon_stats` table from database `Pokemon` from Ironhack's databases. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [7]:
path = r'C:\Users\Usuario\Desktop\gits\lab-df-calculation-and-transformation\data'
pokemon = pd.read_csv(path+'/'+'Pokemon.csv',index_col='#')

#### Print first 10 rows of `pokemon`.

In [29]:
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Extract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [31]:
type_list1 = pokemon['Type 1']
type_list2 = pokemon['Type 2']
type_list = type_list1+type_list2
type_set = set(type_list)
type_set
type_array = np.array(type_set)
type_array

array({nan, 'ElectricFairy', 'DarkIce', 'GroundRock', 'SteelFighting', 'DragonFire', 'DarkPsychic', 'DragonElectric', 'DragonPsychic', 'PsychicFighting', 'RockGrass', 'RockSteel', 'WaterPsychic', 'WaterFighting', 'RockBug', 'DarkFire', 'GroundDark', 'FireSteel', 'PoisonBug', 'GhostGrass', 'PoisonWater', 'GroundGhost', 'SteelRock', 'DragonIce', 'FireFighting', 'WaterElectric', 'BugFighting', 'BugRock', 'PsychicFairy', 'GhostDark', 'BugPoison', 'RockFighting', 'SteelFlying', 'IcePsychic', 'BugWater', 'DragonFairy', 'GrassGround', 'ElectricFire', 'BugGhost', 'WaterGhost', 'FireGround', 'DarkSteel', 'NormalGrass', 'DarkFlying', 'IceFlying', 'GroundFlying', 'BugElectric', 'PsychicGrass', 'GrassIce', 'SteelGhost', 'SteelGround', 'FairyFlying', 'ElectricNormal', 'WaterPoison', 'FightingDark', 'IceGround', 'GrassFighting', 'NormalGround', 'PsychicFire', 'GrassFairy', 'GhostPoison', 'FirePsychic', 'FireFlying', 'GrassDark', 'NormalWater', 'BugGround', 'PoisonFlying', 'WaterDragon', 'ElectricIce', 'RockFairy', 'WaterRock', 'GrassPsychic', 'SteelPsychic', 'NormalFlying', 'RockPsychic', 'NormalFairy', 'RockDragon', 'WaterIce', 'FightingFlying', 'BugGrass', 'DragonFlying', 'RockWater', 'SteelDragon', 'SteelFairy', 'GrassDragon', 'FireNormal', 'ElectricWater', 'BugFlying', 'GroundElectric', 'PsychicDark', 'GroundSteel', 'GrassPoison', 'DarkFighting', 'FightingPsychic', 'IceGhost', 'GhostFlying', 'DarkDragon', 'GroundDragon', 'ElectricGrass', 'GhostDragon', 'RockDark', 'RockIce', 'GroundPsychic', 'ElectricDragon', 'DarkGhost', 'PoisonGround', 'RockGround', 'RockFlying', 'WaterGrass', 'GrassFlying', 'WaterFairy', 'NormalPsychic', 'BugSteel', 'FireRock', 'ElectricFlying', 'NormalFighting', 'ElectricSteel', 'GhostFire', 'PoisonFighting', 'PsychicGhost', 'FireWater', 'DragonGround', 'WaterDark', 'FlyingDragon', 'PoisonDark', 'WaterFlying', 'IceWater', 'WaterGround', 'BugFire', 'PoisonDragon', 'GroundFire', 'FireDragon', 'ElectricGhost', 'FightingSteel', 'GrassSteel', 'WaterSteel', 'PsychicFlying'},
      dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [37]:
pokemon['Name'].str.replace('.*(?=Mega)','')
pokemon['Name'] = pokemon['Name'].str.replace(".*(?=Mega)", "")

# test transformed data
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [68]:
pokemon['A/D_Ratio'] = (pokemon['Attack']/pokemon['Defense'])
pokemon.tail(400)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio
#,,,,,,,,,,,,,
365,Walrein,Ice,Water,530,110,80,90,95,90,65,3,False,0.888889
366,Clamperl,Water,NaN,345,35,64,85,74,55,32,3,False,0.752941
367,Huntail,Water,NaN,485,55,104,105,94,75,52,3,False,0.990476
368,Gorebyss,Water,NaN,485,55,84,105,114,75,52,3,False,0.800000
369,Relicanth,Water,Rock,485,100,90,130,45,65,55,3,False,0.692308
...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667

#### Identify the pokemon with the highest `A/D Ratio`.

In [70]:
#First we are finding out what is the value of the max A/D, then we are locating its name, imposing to /D the value of 9
print(pokemon['A/D_Ratio'].max())
print(pokemon.loc[pokemon['A/D_Ratio']==9.0,'Name'])

9.0
#
386    DeoxysAttack Forme
Name: Name, dtype: object

#### Identify the pokemon with the lowest A/D Ratio.

In [72]:
print(pokemon['A/D_Ratio'].min())
print(pokemon.loc[pokemon['A/D_Ratio']==0.043478260869565216,'Name'])

0.043478260869565216
#
213    Shuckle
Name: Name, dtype: object

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [92]:
'''def comber_func(row):
    for row in pokemon['Type 1','Type 2']:
        if i != 'NaN' and j !='NaN':
            return f'{pokemon['Type 1'][row]}-{pokemon['Type 2'][row]}'
            Combo_Type.append(comb)
        elif i =='Nan':
            comb = j
            Combo_Type.append(comb)
        elif j =='NaN':
            comb = i
            Combo_Type.append(comb)
        else:
            comb == '-'
            Combo_Type.append(comb)
    return Combo_Type
            '''

In [94]:
#pokemon["Combo_Type"] = pokemon[['Type 1','Type 2']].apply(comber_func, axis=1)
pokemon['Combo_Type'] = pokemon[['Type 1', 'Type 2']].fillna('').agg('-'.join, axis=1)

pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio,Combo_Type
#,,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667,Rock-Fairy
719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545,Rock-Fairy
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333,Psychic-Ghost
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667,Psychic-Dark
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667,Fire-Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [107]:
top_5 = pokemon.nlargest(5,'A/D_Ratio')
top_5

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio,Combo_Type
#,,,,,,,,,,,,,,
386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic-
318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock-
319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [157]:
pokemon.groupby(top_5.Name).aggregate({'A/D_Ratio':'max','Combo_Type':'head'})
#We aggregate the Combo_type, mayne a bit uncesary, for the dataframe top5 we created and convert it to a list.
#converting to a list in pandas is not as simple as list(df) you need to use .values.tolist()
t_list = top_5.aggregate({'Name':'head','Combo_Type':'head'}).values.tolist()

#it converts it into a matrix 5x2 and thus we use list comprehension to extract those values, then make it into a set for unqueness.
t_list =[t_list[i][t] for i in range(5) for t in range (2)]
t_list = set(t_list)
t_list = list(t_list)
t_list

['Carvanha',
 'Rock-',
 'Sharpedo',
 'Mega Beedrill',
 'Cranidos',
 'Water-Dark',
 'Psychic-',
 'Bug-Poison',
 'DeoxysAttack Forme']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [159]:
top_5.groupby('Combo_Type').mean()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D_Ratio
Combo_Type,,,,,,,,,,
Bug-Poison,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,False,3.750
Psychic-,600.0,50.0,180.0,20.0,180.0,20.0,150.0,3.0,True,9.000
Rock-,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,False,3.125
Water-Dark,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,False,3.750