# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd

from sqlalchemy import create_engine

import numpy as np

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
driver   = 'mysql+pymysql:'
user     = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
ip       = '34.65.10.136'
database = 'pokemon'

In [3]:
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
print(connection_string)

mysql+pymysql://data-students:iR0nH@cK-D4T4B4S3@34.65.10.136/pokemon

In [4]:
engine = create_engine(connection_string)
print(engine)

Engine(mysql+pymysql://data-students:***@34.65.10.136/pokemon)

In [5]:
pokemon_show = pd.read_sql('SHOW TABLES', engine)
pokemon_show

  Tables_in_pokemon
0     pokemon_stats

In [6]:
pokemon_db = pd.read_sql('SELECT * FROM pokemon_stats', engine)

pokemon_db

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [7]:
pokemon_db2 = pd.read_sql('SELECT * FROM pokemon_stats', engine)

#### Print first 10 rows of `pokemon`.

In [8]:
pokemon_db.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [9]:
type1_unique = pokemon_db['Type 1'].unique()
type1_unique

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [10]:
type2_unique = pokemon_db['Type 2'].unique()
type2_unique

array(['Poison', '', 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [11]:
types_concat = np.concatenate([type1_unique, type2_unique])
types_concat

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying', 'Poison', '', 'Flying',
       'Dragon', 'Ground', 'Fairy', 'Grass', 'Fighting', 'Psychic',
       'Steel', 'Ice', 'Rock', 'Dark', 'Water', 'Electric', 'Fire',
       'Ghost', 'Bug', 'Normal'], dtype=object)

In [12]:
types_concat_unique = np.array(types_concat)

In [13]:
types_concat_unique = np.unique(types_concat_unique)
types_concat_unique

array(['', 'Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting',
       'Fire', 'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal',
       'Poison', 'Psychic', 'Rock', 'Steel', 'Water'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [14]:
import re

In [15]:
pokemon_db['Name'] = pokemon_db['Name'].apply(lambda x : re.sub(r'\w+Mega',"Mega", x))

pokemon_db['Name'] = pokemon_db['Name'].apply(lambda x : re.sub(r'\w+Hoopa',"Hoopa", x))

# test transformed data
pokemon_db['Name']

0           Bulbasaur
1             Ivysaur
2            Venusaur
3       Mega Venusaur
4          Charmander
            ...
795           Diancie
796      Mega Diancie
797    Hoopa Confined
798     Hoopa Unbound
799         Volcanion
Name: Name, Length: 800, dtype: object

In [16]:
pokemon_db['Name'].unique()

array(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Mega Venusaur', 'Charmander',
       'Charmeleon', 'Charizard', 'Mega Charizard X', 'Mega Charizard Y',
       'Squirtle', 'Wartortle', 'Blastoise', 'Mega Blastoise', 'Caterpie',
       'Metapod', 'Butterfree', 'Weedle', 'Kakuna', 'Beedrill',
       'Mega Beedrill', 'Pidgey', 'Pidgeotto', 'Pidgeot', 'Mega Pidgeot',
       'Rattata', 'Raticate', 'Spearow', 'Fearow', 'Ekans', 'Arbok',
       'Pikachu', 'Raichu', 'Sandshrew', 'Sandslash', 'Nidoran‚ôÄ',
       'Nidorina', 'Nidoqueen', 'Nidoran‚ôÇ', 'Nidorino', 'Nidoking',
       'Clefairy', 'Clefable', 'Vulpix', 'Ninetales', 'Jigglypuff',
       'Wigglytuff', 'Zubat', 'Golbat', 'Oddish', 'Gloom', 'Vileplume',
       'Paras', 'Parasect', 'Venonat', 'Venomoth', 'Diglett', 'Dugtrio',
       'Meowth', 'Persian', 'Psyduck', 'Golduck', 'Mankey', 'Primeape',
       'Growlithe', 'Arcanine', 'Poliwag', 'Poliwhirl', 'Poliwrath',
       'Abra', 'Kadabra', 'Alakazam', 'Mega Alakazam', 'Machop',
       'Machoke', 'Machamp', 'Bellsprout', 'Weepinbell', 'Victreebel',
       'Tentacool', 'Tentacruel', 'Geodude', 'Graveler', 'Golem',
       'Ponyta', 'Rapidash', 'Slowpoke', 'Slowbro', 'Mega Slowbro',
       'Magnemite', 'Magneton', "Farfetch'd", 'Doduo', 'Dodrio', 'Seel',
       'Dewgong', 'Grimer', 'Muk', 'Shellder', 'Cloyster', 'Gastly',
       'Haunter', 'Gengar', 'Mega Gengar', 'Onix', 'Drowzee', 'Hypno',
       'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Exeggcute',
       'Exeggutor', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan',
       'Lickitung', 'Koffing', 'Weezing', 'Rhyhorn', 'Rhydon', 'Chansey',
       'Tangela', 'Kangaskhan', 'Mega Kangaskhan', 'Horsea', 'Seadra',
       'Goldeen', 'Seaking', 'Staryu', 'Starmie', 'Mr. Mime', 'Scyther',
       'Jynx', 'Electabuzz', 'Magmar', 'Pinsir', 'Mega Pinsir', 'Tauros',
       'Magikarp', 'Gyarados', 'Mega Gyarados', 'Lapras', 'Ditto',
       'Eevee', 'Vaporeon', 'Jolteon', 'Flareon', 'Porygon', 'Omanyte',
       'Omastar', 'Kabuto', 'Kabutops', 'Aerodactyl', 'Mega Aerodactyl',
       'Snorlax', 'Articuno', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair',
       'Dragonite', 'Mewtwo', 'Mega Mewtwo X', 'Mega Mewtwo Y', 'Mew',
       'Chikorita', 'Bayleef', 'Meganium', 'Cyndaquil', 'Quilava',
       'Typhlosion', 'Totodile', 'Croconaw', 'Feraligatr', 'Sentret',
       'Furret', 'Hoothoot', 'Noctowl', 'Ledyba', 'Ledian', 'Spinarak',
       'Ariados', 'Crobat', 'Chinchou', 'Lanturn', 'Pichu', 'Cleffa',
       'Igglybuff', 'Togepi', 'Togetic', 'Natu', 'Xatu', 'Mareep',
       'Flaaffy', 'Ampharos', 'Mega Ampharos', 'Bellossom', 'Marill',
       'Azumarill', 'Sudowoodo', 'Politoed', 'Hoppip', 'Skiploom',
       'Jumpluff', 'Aipom', 'Sunkern', 'Sunflora', 'Yanma', 'Wooper',
       'Quagsire', 'Espeon', 'Umbreon', 'Murkrow', 'Slowking',
       'Misdreavus', 'Unown', 'Wobbuffet', 'Girafarig', 'Pineco',
       'Forretress', 'Dunsparce', 'Gligar', 'Steelix', 'Mega Steelix',
       'Snubbull', 'Granbull', 'Qwilfish', 'Scizor', 'Mega Scizor',
       'Shuckle', 'Heracross', 'Mega Heracross', 'Sneasel', 'Teddiursa',
       'Ursaring', 'Slugma', 'Magcargo', 'Swinub', 'Piloswine', 'Corsola',
       'Remoraid', 'Octillery', 'Delibird', 'Mantine', 'Skarmory',
       'Houndour', 'Houndoom', 'Mega Houndoom', 'Kingdra', 'Phanpy',
       'Donphan', 'Porygon2', 'Stantler', 'Smeargle', 'Tyrogue',
       'Hitmontop', 'Smoochum', 'Elekid', 'Magby', 'Miltank', 'Blissey',
       'Raikou', 'Entei', 'Suicune', 'Larvitar', 'Pupitar', 'Tyranitar',
       'Mega Tyranitar', 'Lugia', 'Ho-oh', 'Celebi', 'Treecko', 'Grovyle',
       'Sceptile', 'Mega Sceptile', 'Torchic', 'Combusken', 'Blaziken',
       'Mega Blaziken', 'Mudkip', 'Marshtomp', 'Swampert',
       'Mega Swampert', 'Poochyena', 'Mightyena', 'Zigzagoon', 'Linoone',
       'Wurmple', 'Silcoon', 'Beautifly', 'Cascoon', 'Dustox', 'Lotad',
       'Lombre', 'Ludicolo', 'Seedot', 'Nuzleaf', 'Shiftry', 'Taillow',
       'Swellow', 'Wingull', 'Pelipper', 'Ralts', 'Kirlia', 'Gardevoir',
       'Mega Gardevoir', 'Surskit', 'Masquerain', 'Shroomish', 'Breloom',
       'Slakoth', 'Vigoroth', 'Slaking', 'Nincada', 'Ninjask', 'Shedinja',
       'Whismur', 'Loudred', 'Exploud', 'Makuhita', 'Hariyama', 'Azurill',
       'Nosepass', 'Skitty', 'Delcatty', 'Sableye', 'Mega Sableye',
       'Mawile', 'Mega Mawile', 'Aron', 'Lairon', 'Aggron', 'Mega Aggron',
       'Meditite', 'Medicham', 'Mega Medicham', 'Electrike', 'Manectric',
       'Mega Manectric', 'Plusle', 'Minun', 'Volbeat', 'Illumise',
       'Roselia', 'Gulpin', 'Swalot', 'Carvanha', 'Sharpedo',
       'Mega Sharpedo', 'Wailmer', 'Wailord', 'Numel', 'Camerupt',
       'Mega Camerupt', 'Torkoal', 'Spoink', 'Grumpig', 'Spinda',
       'Trapinch', 'Vibrava', 'Flygon', 'Cacnea', 'Cacturne', 'Swablu',
       'Altaria', 'Mega Altaria', 'Zangoose', 'Seviper', 'Lunatone',
       'Solrock', 'Barboach', 'Whiscash', 'Corphish', 'Crawdaunt',
       'Baltoy', 'Claydol', 'Lileep', 'Cradily', 'Anorith', 'Armaldo',
       'Feebas', 'Milotic', 'Castform', 'Kecleon', 'Shuppet', 'Banette',
       'Mega Banette', 'Duskull', 'Dusclops', 'Tropius', 'Chimecho',
       'Absol', 'Mega Absol', 'Wynaut', 'Snorunt', 'Glalie',
       'Mega Glalie', 'Spheal', 'Sealeo', 'Walrein', 'Clamperl',
       'Huntail', 'Gorebyss', 'Relicanth', 'Luvdisc', 'Bagon', 'Shelgon',
       'Salamence', 'Mega Salamence', 'Beldum', 'Metang', 'Metagross',
       'Mega Metagross', 'Regirock', 'Regice', 'Registeel', 'Latias',
       'Mega Latias', 'Latios', 'Mega Latios', 'Kyogre',
       'KyogrePrimal Kyogre', 'Groudon', 'GroudonPrimal Groudon',
       'Rayquaza', 'Mega Rayquaza', 'Jirachi', 'DeoxysNormal Forme',
       'DeoxysAttack Forme', 'DeoxysDefense Forme', 'DeoxysSpeed Forme',
       'Turtwig', 'Grotle', 'Torterra', 'Chimchar', 'Monferno',
       'Infernape', 'Piplup', 'Prinplup', 'Empoleon', 'Starly',
       'Staravia', 'Staraptor', 'Bidoof', 'Bibarel', 'Kricketot',
       'Kricketune', 'Shinx', 'Luxio', 'Luxray', 'Budew', 'Roserade',
       'Cranidos', 'Rampardos', 'Shieldon', 'Bastiodon', 'Burmy',
       'WormadamPlant Cloak', 'WormadamSandy Cloak',
       'WormadamTrash Cloak', 'Mothim', 'Combee', 'Vespiquen',
       'Pachirisu', 'Buizel', 'Floatzel', 'Cherubi', 'Cherrim', 'Shellos',
       'Gastrodon', 'Ambipom', 'Drifloon', 'Drifblim', 'Buneary',
       'Lopunny', 'Mega Lopunny', 'Mismagius', 'Honchkrow', 'Glameow',
       'Purugly', 'Chingling', 'Stunky', 'Skuntank', 'Bronzor',
       'Bronzong', 'Bonsly', 'Mime Jr.', 'Happiny', 'Chatot', 'Spiritomb',
       'Gible', 'Gabite', 'Garchomp', 'Mega Garchomp', 'Munchlax',
       'Riolu', 'Lucario', 'Mega Lucario', 'Hippopotas', 'Hippowdon',
       'Skorupi', 'Drapion', 'Croagunk', 'Toxicroak', 'Carnivine',
       'Finneon', 'Lumineon', 'Mantyke', 'Snover', 'Abomasnow',
       'Mega Abomasnow', 'Weavile', 'Magnezone', 'Lickilicky',
       'Rhyperior', 'Tangrowth', 'Electivire', 'Magmortar', 'Togekiss',
       'Yanmega', 'Leafeon', 'Glaceon', 'Gliscor', 'Mamoswine',
       'Porygon-Z', 'Gallade', 'Mega Gallade', 'Probopass', 'Dusknoir',
       'Froslass', 'Rotom', 'RotomHeat Rotom', 'RotomWash Rotom',
       'RotomFrost Rotom', 'RotomFan Rotom', 'RotomMow Rotom', 'Uxie',
       'Mesprit', 'Azelf', 'Dialga', 'Palkia', 'Heatran', 'Regigigas',
       'GiratinaAltered Forme', 'GiratinaOrigin Forme', 'Cresselia',
       'Phione', 'Manaphy', 'Darkrai', 'ShayminLand Forme',
       'ShayminSky Forme', 'Arceus', 'Victini', 'Snivy', 'Servine',
       'Serperior', 'Tepig', 'Pignite', 'Emboar', 'Oshawott', 'Dewott',
       'Samurott', 'Patrat', 'Watchog', 'Lillipup', 'Herdier',
       'Stoutland', 'Purrloin', 'Liepard', 'Pansage', 'Simisage',
       'Pansear', 'Simisear', 'Panpour', 'Simipour', 'Munna', 'Musharna',
       'Pidove', 'Tranquill', 'Unfezant', 'Blitzle', 'Zebstrika',
       'Roggenrola', 'Boldore', 'Gigalith', 'Woobat', 'Swoobat',
       'Drilbur', 'Excadrill', 'Audino', 'Mega Audino', 'Timburr',
       'Gurdurr', 'Conkeldurr', 'Tympole', 'Palpitoad', 'Seismitoad',
       'Throh', 'Sawk', 'Sewaddle', 'Swadloon', 'Leavanny', 'Venipede',
       'Whirlipede', 'Scolipede', 'Cottonee', 'Whimsicott', 'Petilil',
       'Lilligant', 'Basculin', 'Sandile', 'Krokorok', 'Krookodile',
       'Darumaka', 'DarmanitanStandard Mode', 'DarmanitanZen Mode',
       'Maractus', 'Dwebble', 'Crustle', 'Scraggy', 'Scrafty', 'Sigilyph',
       'Yamask', 'Cofagrigus', 'Tirtouga', 'Carracosta', 'Archen',
       'Archeops', 'Trubbish', 'Garbodor', 'Zorua', 'Zoroark', 'Minccino',
       'Cinccino', 'Gothita', 'Gothorita', 'Gothitelle', 'Solosis',
       'Duosion', 'Reuniclus', 'Ducklett', 'Swanna', 'Vanillite',
       'Vanillish', 'Vanilluxe', 'Deerling', 'Sawsbuck', 'Emolga',
       'Karrablast', 'Escavalier', 'Foongus', 'Amoonguss', 'Frillish',
       'Jellicent', 'Alomomola', 'Joltik', 'Galvantula', 'Ferroseed',
       'Ferrothorn', 'Klink', 'Klang', 'Klinklang', 'Tynamo', 'Eelektrik',
       'Eelektross', 'Elgyem', 'Beheeyem', 'Litwick', 'Lampent',
       'Chandelure', 'Axew', 'Fraxure', 'Haxorus', 'Cubchoo', 'Beartic',
       'Cryogonal', 'Shelmet', 'Accelgor', 'Stunfisk', 'Mienfoo',
       'Mienshao', 'Druddigon', 'Golett', 'Golurk', 'Pawniard', 'Bisharp',
       'Bouffalant', 'Rufflet', 'Braviary', 'Vullaby', 'Mandibuzz',
       'Heatmor', 'Durant', 'Deino', 'Zweilous', 'Hydreigon', 'Larvesta',
       'Volcarona', 'Cobalion', 'Terrakion', 'Virizion',
       'TornadusIncarnate Forme', 'TornadusTherian Forme',
       'ThundurusIncarnate Forme', 'ThundurusTherian Forme', 'Reshiram',
       'Zekrom', 'LandorusIncarnate Forme', 'LandorusTherian Forme',
       'Kyurem', 'KyuremBlack Kyurem', 'KyuremWhite Kyurem',
       'KeldeoOrdinary Forme', 'KeldeoResolute Forme',
       'MeloettaAria Forme', 'MeloettaPirouette Forme', 'Genesect',
       'Chespin', 'Quilladin', 'Chesnaught', 'Fennekin', 'Braixen',
       'Delphox', 'Froakie', 'Frogadier', 'Greninja', 'Bunnelby',
       'Diggersby', 'Fletchling', 'Fletchinder', 'Talonflame',
       'Scatterbug', 'Spewpa', 'Vivillon', 'Litleo', 'Pyroar',
       'Flab√©b√©', 'Floette', 'Florges', 'Skiddo', 'Gogoat', 'Pancham',
       'Pangoro', 'Furfrou', 'Espurr', 'MeowsticMale', 'MeowsticFemale',
       'Honedge', 'Doublade', 'AegislashBlade Forme',
       'AegislashShield Forme', 'Spritzee', 'Aromatisse', 'Swirlix',
       'Slurpuff', 'Inkay', 'Malamar', 'Binacle', 'Barbaracle', 'Skrelp',
       'Dragalge', 'Clauncher', 'Clawitzer', 'Helioptile', 'Heliolisk',
       'Tyrunt', 'Tyrantrum', 'Amaura', 'Aurorus', 'Sylveon', 'Hawlucha',
       'Dedenne', 'Carbink', 'Goomy', 'Sliggoo', 'Goodra', 'Klefki',
       'Phantump', 'Trevenant', 'PumpkabooAverage Size',
       'PumpkabooSmall Size', 'PumpkabooLarge Size',
       'PumpkabooSuper Size', 'GourgeistAverage Size',
       'GourgeistSmall Size', 'GourgeistLarge Size',
       'GourgeistSuper Size', 'Bergmite', 'Avalugg', 'Noibat', 'Noivern',
       'Xerneas', 'Yveltal', 'Zygarde50% Forme', 'Diancie',
       'Mega Diancie', 'Hoopa Confined', 'Hoopa Unbound', 'Volcanion'],
      dtype=object)

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [17]:
pokemon_db['A/D Ratio'] = pokemon_db.Attack / pokemon_db.Defense
pokemon_db

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545
797,720,Hoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333
798,720,Hoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667

#### Identify the pokemon with the highest `A/D Ratio`.

In [18]:
poke_AD_max = pokemon_db['A/D Ratio'].max()
pokemon_db[pokemon_db['A/D Ratio'] == poke_AD_max]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [19]:
poke_AD_min = pokemon_db['A/D Ratio'].min()
pokemon_db[pokemon_db['A/D Ratio'] == poke_AD_min]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [21]:
def combo_type_creator(row):
    if row['Type 2'] == "":
        return row['Type 1']
    else:
        return row['Type 1'] +" - "+ row['Type 2']

In [22]:
pokemon_db['Combo Type'] = pokemon_db.apply(lambda row: combo_type_creator(row), axis=1)
pokemon_db.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass - Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass - Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass - Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass - Poison
4,4,Charmander,Fire,,309,39,52,43,60,50,65,1,False,1.209302,Fire

In [23]:
# apply gets a function 
# row.apply
# when giving the axis, for X in rows
# define a function before that does ONE thing, knowing that you have a row with 2 columns
# lambda x : x[0]x[1]

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [27]:
poke_AD_top5 = pokemon_db.nlargest(5, 'A/D Ratio')
poke_AD_top5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water - Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug - Poison
453,408,Cranidos,Rock,,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water - Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [45]:
combo_list =list(poke_AD_top5["Combo Type"].unique())
combo_list

['Psychic', 'Water - Dark', 'Bug - Poison', 'Rock']

In [43]:
#create a DataFrame of Pokemon featuring top 5 Type

top_5 = pokemon_db.loc[(pokemon_db["Combo Type"] == 'Psychic')|(pokemon_db["Combo Type"] == 'Water - Dark')|( pokemon_db["Combo Type"] == 'Bug - Poison')| 
(pokemon_db["Combo Type"] == 'Rock')]

In [48]:
top_5

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,1.166667,Bug - Poison
17,14,Kakuna,Bug,Poison,205,45,25,50,25,25,35,1,False,0.500000,Bug - Poison
18,15,Beedrill,Bug,Poison,395,65,90,40,45,80,75,1,False,2.250000,Bug - Poison
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750000,Bug - Poison
53,48,Venonat,Bug,Poison,305,60,55,50,40,55,45,1,False,1.100000,Bug - Poison
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,606,Beheeyem,Psychic,,485,75,75,75,125,95,40,5,False,1.000000,Psychic
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False,1.417910,Water - Dark
745,677,Espurr,Psychic,,355,62,48,54,63,60,68,6,False,0.888889,Psychic
746,678,MeowsticMale,Psychic,,466,74,48,76,83,81,104,6,False,0.631579,Psychic
747,678,MeowsticFemale,Psychic,,466,74,48,76,83,81,104,6,False,0.631579,Psychic

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [49]:
top_5.groupby('Combo Type').aggregate('mean')

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
Combo Type,,,,,,,,,,
Bug - Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,1.315989
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,1.164196
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,1.260091
Water - Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,2.291949