# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [4]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [5]:
# import data set from Ironhack's database

driver = 'mysql+pymysql:'
user = 'ironhacker_read'
password = 'ir0nhack3r'
ip = '35.239.232.23'
database = 'retail_sales'

In [6]:
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'

In [7]:
engine = create_engine(connection_string)

In [13]:
# Have a look at the tables we need sales_by_shop and sales_by item
query = """
        SELECT * FROM sales_by_shop
"""

In [14]:
sales_by_shop = pd.read_sql(query, engine)
sales_by_shop.head()

   shop_id  shop_earnings  total_items_sold        date
0        2        33023.5              27.0  03/09/2019
1        3        22481.0              11.0  03/09/2019
2        4         9787.0              13.0  03/09/2019
3        5        11046.0              15.0  03/09/2019
4        6        38784.0              50.0  03/09/2019

In [15]:
query = """
        SELECT * FROM sales_by_item
"""

In [16]:
sales_by_item = pd.read_sql(query, engine)
sales_by_item.head()

   item_id  item_earnings  total_items_sold        date
0       30          169.0               1.0  03/09/2019
1       31          363.0               1.0  03/09/2019
2       32          149.0               1.0  03/09/2019
3       42          299.0               1.0  03/09/2019
4       59          249.0               1.0  03/09/2019

In [19]:
# Cleaning of the sales_by_shop table
## the column names are correct so no need to change them

## Let's check the types of the table
sales_by_shop.dtypes

shop_id               int64
shop_earnings       float64
total_items_sold    float64
date                 object
dtype: object

In [25]:
## We need to change the date type from oblject to datetime64
sales_by_shop.astype({"date":"datetime64"}).head()

   shop_id  shop_earnings  total_items_sold       date
0        2        33023.5              27.0 2019-03-09
1        3        22481.0              11.0 2019-03-09
2        4         9787.0              13.0 2019-03-09
3        5        11046.0              15.0 2019-03-09
4        6        38784.0              50.0 2019-03-09

In [24]:
## Check if the date type is now correct
sales_by_shop.dtypes

shop_id               int64
shop_earnings       float64
total_items_sold    float64
date                 object
dtype: object

In [27]:
## The datetime type has not been changed (even though the way the date is written has been changed 
## but I don' t understand why

In [28]:
## Check if there is any null or NaN value in any of the columns
sales_by_shop.isnull().any()

shop_id             False
shop_earnings       False
total_items_sold    False
date                False
dtype: bool

In [29]:
## There is not any null, missing or NaN values in the columns.
## We can also check the number of indexes for each column by using info() 
sales_by_shop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 4 columns):
shop_id             90 non-null int64
shop_earnings       90 non-null float64
total_items_sold    90 non-null float64
date                90 non-null object
dtypes: float64(2), int64(1), object(1)
memory usage: 2.9+ KB

In [ ]:
## All indexes are equal to 90 so we confirm there's no missing values

In [ ]:
# We can clean the sales_item using the same process

In [30]:
## Let's check the types of the table
sales_by_item.dtypes

item_id               int64
item_earnings       float64
total_items_sold    float64
date                 object
dtype: object

In [31]:
## We need to change the date type from oblject to datetime64
sales_by_item.astype({"date":"datetime64"}).head()

   item_id  item_earnings  total_items_sold       date
0       30          169.0               1.0 2019-03-09
1       31          363.0               1.0 2019-03-09
2       32          149.0               1.0 2019-03-09
3       42          299.0               1.0 2019-03-09
4       59          249.0               1.0 2019-03-09

In [32]:
## Check if the date type is now correct
sales_by_item.dtypes

item_id               int64
item_earnings       float64
total_items_sold    float64
date                 object
dtype: object

In [33]:
## Check if there is any null or NaN value in any of the columns
sales_by_shop.isnull().any()

shop_id             False
shop_earnings       False
total_items_sold    False
date                False
dtype: bool

In [34]:
## There is not any null, missing or NaN values in the columns.
## We can also check the number of indexes for each column by using info() 
sales_by_shop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 4 columns):
shop_id             90 non-null int64
shop_earnings       90 non-null float64
total_items_sold    90 non-null float64
date                90 non-null object
dtypes: float64(2), int64(1), object(1)
memory usage: 2.9+ KB

In [ ]:
## All indexes are equal to 90 so we confirm there's no missing values

In [ ]:
## Check for some more info on the sales_by_shop table
sales_by_shop.info()

In [ ]:
## They all have the same index so no missing index in any of the columns
## Check for the presence of NaN

In [18]:
sales_by_shop

    shop_id  shop_earnings  total_items_sold        date
0         2   33023.500000              27.0  03/09/2019
1         3   22481.000000              11.0  03/09/2019
2         4    9787.000000              13.0  03/09/2019
3         5   11046.000000              15.0  03/09/2019
4         6   38784.000000              50.0  03/09/2019
5         7   17457.000000              21.0  03/09/2019
6        10    7569.000000              10.0  03/09/2019
7        12   70732.133333              72.0  03/09/2019
8        14   11152.000000              17.0  03/09/2019
9        15   41713.000000              31.0  03/09/2019
10       16   39842.000000              22.0  03/09/2019
11       18   11797.000000              32.0  03/09/2019
12       19   20336.000000              20.0  03/09/2019
13       21   74939.500000              60.0  03/09/2019
14       22   41555.000000              47.0  03/09/2019
15       24   18985.000000              23.0  03/09/2019
16       25   93932.000000             104.0  03/09/2019
17       26   39675.000000              37.0  03/09/2019
18       27   52108.000000              60.0  03/09/2019
19       28   58538.000000              82.0  03/09/2019
20       29   28579.000000              24.0  03/09/2019
21       31   89366.000000             134.0  03/09/2019
22       34    4039.000000               6.0  03/09/2019
23       35   29779.000000              28.0  03/09/2019
24       37   70701.000000              21.0  03/09/2019
25       38   24494.000000              22.0  03/09/2019
26       39   10123.000000              18.0  03/09/2019
27       41   12280.000000              10.0  03/09/2019
28       42  109288.000000              83.0  03/09/2019
29       44   47690.000000              17.0  03/09/2019
..      ...            ...               ...         ...
60       24   18985.000000              23.0  03/12/2019
61       25   93932.000000             104.0  03/12/2019
62       26   39675.000000              37.0  03/12/2019
63       27   52108.000000              60.0  03/12/2019
64       28   58538.000000              82.0  03/12/2019
65       29   28579.000000              24.0  03/12/2019
66       31   89366.000000             134.0  03/12/2019
67       34    4039.000000               6.0  03/12/2019
68       35   29779.000000              28.0  03/12/2019
69       37   70701.000000              21.0  03/12/2019
70       38   24494.000000              22.0  03/12/2019
71       39   10123.000000              18.0  03/12/2019
72       41   12280.000000              10.0  03/12/2019
73       42  109288.000000              83.0  03/12/2019
74       44   47690.000000              17.0  03/12/2019
75       45   16369.000000              32.0  03/12/2019
76       46   31061.800000              33.0  03/12/2019
77       47   26714.000000              26.0  03/12/2019
78       48   10915.000000              21.0  03/12/2019
79       49   11928.000000              11.0  03/12/2019
80       50   47336.000000              23.0  03/12/2019
81       51    3095.000000               8.0  03/12/2019
82       52   21837.340000              24.0  03/12/2019
83       53   16631.000000              26.0  03/12/2019
84       54   39784.000000              65.0  03/12/2019
85       55   24204.200000              60.0  03/12/2019
86       56   15703.000000              25.0  03/12/2019
87       57   73078.000000             108.0  03/12/2019
88       58   45106.000000              56.0  03/12/2019
89       59   37451.000000              37.0  03/12/2019

[90 rows x 4 columns]