# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [1]:
# your code here

from functools import reduce
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

import sys
sys.executable


# Connection Data
driver = 'mysql+pymysql'
ip = '34.65.10.136'
username = 'data-students'
password = 'iR0nH@cK-D4T4B4S3'
db = 'retail_sales'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'
# Engine & Query
engine = create_engine(connection_string)
query = 'SELECT * FROM raw_sales'
# Database Request
sales = pd.read_sql(query,engine)

In [2]:
sales

           date  shop_id  item_id  item_price  item_cnt_day
0    2015-01-04       29     1469      1199.0           1.0
1    2015-01-04       28    21364       479.0           1.0
2    2015-01-04       28    21365       999.0           2.0
3    2015-01-04       28    22104       249.0           2.0
4    2015-01-04       28    22091       179.0           1.0
5    2015-01-04       28    21842       149.0           1.0
6    2015-01-04       28    21881       299.0           1.0
7    2015-01-04       29     6930      2199.0           1.0
8    2015-01-04       29    10515       169.0           1.0
9    2015-01-04       29     8624       149.0           1.0
10   2015-01-04       29     4178      1590.0           1.0
11   2015-01-04       29     5643      2990.0           1.0
12   2015-01-04       29     5823      2799.0           1.0
13   2015-01-04       29     5037      2599.0           1.0
14   2015-01-04       29     5013       698.0           1.0
15   2015-01-04       29     5822      1149.0           1.0
16   2015-01-04       28    16487       399.0           1.0
17   2015-01-04       28    16360       799.0           1.0
18   2015-01-04       28    15698        99.0           1.0
19   2015-01-04       28    15812       999.0           1.0
20   2015-01-04       28    15818       699.0           1.0
21   2015-01-04       28    17748       349.0           1.0
22   2015-01-04       28    16923       599.0           2.0
23   2015-01-04       28    16889        99.0           1.0
24   2015-01-04       28    16880       199.0           1.0
25   2015-01-04       28    17027       399.0           1.0
26   2015-01-04       28    15922      2149.0           1.0
27   2015-01-04       28    15645       399.0           1.0
28   2015-01-04       28    20225       479.0           2.0
29   2015-01-04       28    20434      1899.0           1.0
...         ...      ...      ...         ...           ...
4515 2015-01-04       15    15698        99.0           1.0
4516 2015-01-04       15    20231        99.0           1.0
4517 2015-01-04       15    17875       148.0           1.0
4518 2015-01-04       15    19439      3999.0           1.0
4519 2015-01-04       15    19436       799.0           1.0
4520 2015-01-04       15     8078        99.0           1.0
4521 2015-01-04       15    11227        99.0           1.0
4522 2015-01-04       15    11575        99.0           1.0
4523 2015-01-04       15    11927       539.0           1.0
4524 2015-01-04       15    11926      1199.0           1.0
4525 2015-01-04       15    13400     19990.0           1.0
4526 2015-01-04       15    14258       299.0           1.0
4527 2015-01-04       15    15212       335.0           1.0
4528 2015-01-04       15    14844       339.0           1.0
4529 2015-01-04       15    13041        99.0           1.0
4530 2015-01-04       15    14227        99.0           1.0
4531 2015-01-04       15    13970        49.0           1.0
4532 2015-01-04       14    11926      1079.0           1.0
4533 2015-01-04       14    18441       249.0           1.0
4534 2015-01-04       14    15240       599.0           1.0
4535 2015-01-04       14     8958       499.0           1.0
4536 2015-01-04       14     8570       499.0           1.0
4537 2015-01-04       14     6422        58.0           1.0
4538 2015-01-04       14     6861       498.0           1.0
4539 2015-01-04       15     2975      2199.0           1.0
4540 2015-01-04       15     4240      1299.0           1.0
4541 2015-01-04       14    21922        99.0           1.0
4542 2015-01-04       15     1969      3999.0           1.0
4543 2015-01-04       14    22091       179.0           1.0
4544 2015-01-04       15     1007      1199.0           1.0

[4545 rows x 5 columns]

In [3]:
type(sales)

pandas.core.frame.DataFrame

In [4]:
sales.isna().any()

date            False
shop_id         False
item_id         False
item_price      False
item_cnt_day    False
dtype: bool

In [5]:
sales.dtypes

date            datetime64[ns]
shop_id                  int64
item_id                  int64
item_price             float64
item_cnt_day           float64
dtype: object

In [6]:
sales.shop_id.unique()

array([29, 28, 31, 27, 35, 34, 24, 25, 21, 22, 19, 26, 56, 55, 54, 57, 58,
       48, 49, 50, 47, 53, 52, 51, 44, 45, 41, 46, 37, 38, 39, 59, 42,  6,
        7, 10,  3,  4,  2,  5, 18, 16, 15, 12, 14], dtype=int64)

In [7]:
sales.item_id.unique()

array([ 1469, 21364, 21365, 22104, 22091, 21842, 21881,  6930, 10515,
        8624,  4178,  5643,  5823,  5037,  5013,  5822, 16487, 16360,
       15698, 15812, 15818, 17748, 16923, 16889, 16880, 17027, 15922,
       15645, 20225, 20434, 20069, 19816, 20949, 20916, 18407, 18148,
       18048, 18439, 19116, 18477,  2868,  2853,  2852,  2817,  3141,
        3084,  2047,  2286,  1969,  1744,  2445,  4102,  4334,  4554,
        3553,  3734, 17717, 16205, 16174, 16788, 18147, 12362, 13517,
       13511, 11927, 20610,  1364,  1858,  1563,  1570,  1568, 21362,
       20259, 21367,    32,   486,  1971,  1878,    30, 21605,  3342,
        3340,  3071,  3934,  3777,  2293,  2284,  2578,  2799, 15817,
       16441, 15739, 17322, 14822, 15257, 16113, 16136, 16116, 15856,
       15989, 15857, 20608, 20544, 20521, 18042, 18030, 18026, 18050,
       18046, 18049, 11431,  8079, 11899, 10476, 10164, 14308, 13803,
       14597, 12091, 13591, 12839,  5459,  4393,  4003,  4872,  7308,
        7894,  6129,  6027,  6713,  6351, 18677, 20613, 21377, 19817,
       19894, 19692, 19752, 20465, 20055, 16356, 16555, 16790, 16058,
       16137, 16083, 15615, 17500, 17467, 16896, 17046, 17130, 16032,
       21386,  4806,  5821,  5663,  2976,  3072, 13802, 12477,  7736,
        7877,  9554, 10455, 22088, 22087, 21363, 21440, 21793, 21976,
         970,  1880,  1857,  1883,  1826,  1824, 13697, 15044,  9355,
        8012,  8008,  9495, 10478, 10633, 10615,  9697, 10266, 10378,
        5341,  5572,  4807,  4628,  5305,  4906,  6308,  6710,  7793,
        7233,  6051,  6128,  5962,  6496,  6252,  6226, 14437, 14458,
       13812, 14019, 14223, 15286, 15336, 15480, 14830, 14628, 15240,
       14844, 11926, 11688, 11711, 11795, 11181, 11247, 11134, 11106,
       11595, 12797, 12062, 12361,  8073,  9401,  6126,  6117,  8570,
        7856,    74, 14228, 14227, 19993, 20269, 22162, 17785,  1905,
       18923, 19162, 19161,  4231,  5240,  5380,  1914,  3146,  5272,
        5827,  4808,  4962,  6503,  5672,  5658,  5601,  6185,  6254,
        6028,  2416,  2575,  2778,  2819,  2808,  2755,  1390,  1535,
        1876,  3708,  4355,  3238,  3423, 10517,  9451, 12206,  6156,
        7805, 19436, 19307, 16249, 13387, 13367, 14652, 14386, 16055,
       16056, 16184, 16210,  3443,  3236,  3234,  4548,  4516,  4367,
        4190,   787,   482,  1534,  1389,   839,   837, 11311, 11306,
       12399, 12552, 12090,  8569,  8981,  8508,  8455, 15470, 16859,
       16493, 13827, 13229, 13230, 14243,  2517,  2813,  2254,  2946,
        1523,  1256,  5666,  7220,  7172,  7087,  6675,  6625,  3801,
        4717,  4904,  5046, 16676, 20226, 20540, 20405, 18975, 15450,
       16147, 21388, 21366,  1315,   971,  4352,  4103,  5820,  2252,
        2049,  2592, 10337, 10788, 10786, 10785, 10784, 10782, 11496,
        7812, 10216,  7794, 13721, 15040, 13881, 12411,  4181,  3753,
        3476,  3327,  6474,  4870, 12465, 12527, 12730, 14044, 14216,
       15114, 15112, 13674, 13687, 13856, 13723,  9396,  8888,  8856,
        8808,  7933,  8537,  8469, 11185, 11184, 11339, 11652, 10617,
       10578, 10382,  9994,  9929, 19686, 19438, 19118, 19893, 19986,
       19405, 18953, 18454, 21427, 21361, 20611, 20957, 15938, 16245,
       16160, 15456, 17104, 15787, 15844, 15746, 16310, 16826,  2308,
        2269,  2283,  2939,  2934, 21486, 19434,  3341,  4427, 13097,
       13099, 10205, 11286, 10583, 18015, 19288, 13342, 13341, 13359,
       14313, 19134,  9394,  9409,  9862, 12610, 10842, 19216, 19836,
       22058, 21684, 21679, 16359, 18253, 18699, 18882, 18884, 17398,
       18163,   799,   803,   492,   493,  7853, 10891, 10940, 10277,
       10003,  5837,  4701,  6432, 15085, 15088, 14710, 14845, 15193,
       14280, 15398, 12064, 11200, 11244, 13159, 13166, 13557,  1373,
        5760,  5917,  5759,  4899,  7967,  9121,  9124,  9458,  8040,
        7966,  7093,  3025,  3156,  1875,  4192,  3473,  3729,  3728,
       15778, 16434, 16524, 15941, 15555, 16128, 15650, 16169, 17956,
       17493, 17565, 18380, 18209, 16922, 13494, 12917, 12353, 13755,
       13119, 13105, 15063, 14506, 14510, 15045, 15438, 14755, 14810,
       14860, 14444, 13825, 14446, 14075, 14093,  1467, 22076,  3641,
        3343,  4228,  4138, 19771, 21704, 21669, 20311,  4365,  5811,
        1143,  1384,    59,  3007,  2937,  2954,  3148, 10379, 10829,
       10726, 10553,  9497,  9498,  9499,  9496,  9457, 12104, 11222,
       11245, 11094, 11142, 11454,  7018,  5834,  8702,  8209,  7872,
       22092,  7741,  4639, 12944, 13970, 14092, 17769, 18704, 16904,
        4498, 11893, 10937,  8961, 18106, 19647, 18625, 15866, 15850,
        1877,  2574, 13512, 11655, 11389, 15521, 15519,  6092,  5828,
        7498,  4445,  3605,  6297,  7780,  8245,  8312,  8571, 20920,
       19043,  2429,  2140,  3695,  6236,  6740, 16677, 17620, 16209,
       19258, 19794, 21420, 17042,  3028,  3077,  2861,  3617,    42,
         109,   259,  1010,  1260, 10659,  9541, 12286, 12463, 12475,
       13880, 17887, 18431, 14039, 12781,  3656, 21893, 11498,  7723,
        7003,  8366, 13151,  2760,  2753,  2070,  3329,  3108,  5674,
       16206,  8095, 13442,  4424,  4871, 11904, 17365, 15066,  4728,
        4467,  5669,  1114, 18626,  2918,  6875, 10360, 10357,  8807,
        8625,  9048,  5509,  6497,  5634,  5638, 14846, 15392, 18052,
       18051, 11796, 16038, 15685, 14307, 19041, 18958, 19037, 12933,
       16671,  8452,  9532,  6738, 13505,  2442, 15548, 13869, 13401,
       13405, 18622, 16450,  6768, 11968, 20347,  3251,  2734,  4029,
        3477,  2297,   806, 19093, 19046, 15395, 14654, 15702,  3842,
       22073,  3447,  7493,  8672, 22140,  2878, 15031, 14457, 19602,
       18834, 19597, 17654, 17891, 17880,  7852,  9405,  4736,  5247,
        5362, 16003, 14254,  4977, 21761,  6108,  8093,  8448,  7739,
        5361, 11460, 21591, 21447, 21414, 21400, 21485,   687, 21762,
       20739, 20614,  3580,  1941,  1892,  1866, 10768, 12105,  8819,
        8874,  9786, 11938, 13104,  4351,  3484,  2959,  3243,  3027,
        2919,  2851, 20346, 16179, 16227, 17048, 16061, 16042, 19126,
       20337, 19806,  5655,  4557,  4996,  7956,  8845,  8204,  7211,
        1045, 21260, 21962,  3054, 15552, 16167, 15319, 16825, 15799,
       14306, 14500, 14102, 14125, 14865, 18672, 18848, 19051, 19050,
       17302, 17375, 17403, 11133, 10513, 10477, 11800, 11811,  8065,
        9411, 10678, 10296, 12778, 12826, 13268, 12436, 12363, 12488,
       13205, 12709,  1201, 17662, 15757,  4471,  2766,  1682,  3170,
        3461,  3026,  8352,  8218, 10500,  5830,  5581,  7085,  6285,
        1556, 16177, 17457, 12319,  8061,  3928,  4242,  4241,  3115,
       13851,  7351,  7846,  9873,  3692,  4493,  1310,  3472, 21358,
        1970,  2881,  2871, 10489, 21677, 14256, 14259, 15047, 14368,
       11786, 10826, 14720, 18589, 15489, 14716,  9406, 21674,  1204,
          31, 16182, 18360, 18464, 18476, 18484,  8778,  6877,  6628,
        1670,  1370, 21368,  2354,  1968, 15283, 15443, 18441,  5051,
        4873,  6406,  5467,  2969,  3633,  3303,  3967, 21922, 21902,
       10855,  8510, 14143, 13071,  5900,  5485,  3331,  3460,  7834,
        7655,  9055, 13144, 16057, 14229, 14169, 15022, 15023,  7369,
        6641,  1569,  2690, 18257, 15261, 15229, 15265, 16261, 19295,
       19334, 19370, 19339, 17750, 12028, 13753, 13560,  4014,  4357,
       20654, 20641, 20773, 20195, 21387,  1855, 21726,  3735,   464,
         686,   494, 10614,  9462, 11373, 11372, 11370, 11369,  7917,
        8436,  8532,  7798,  8930, 16595, 15334, 20231, 17875, 19439,
        8078, 11227, 11575, 13400, 14258, 15212, 13041,  8958,  6422,
        6861,  2975,  4240,  1007], dtype=int64)

In [8]:
sales.item_price.unique()

array([1.19900000e+03, 4.79000000e+02, 9.99000000e+02, 2.49000000e+02,
       1.79000000e+02, 1.49000000e+02, 2.99000000e+02, 2.19900000e+03,
       1.69000000e+02, 1.59000000e+03, 2.99000000e+03, 2.79900000e+03,
       2.59900000e+03, 6.98000000e+02, 1.14900000e+03, 3.99000000e+02,
       7.99000000e+02, 9.90000000e+01, 6.99000000e+02, 3.49000000e+02,
       5.99000000e+02, 1.99000000e+02, 2.14900000e+03, 1.89900000e+03,
       9.80000000e+01, 5.00000000e+00, 1.71900000e+03, 4.49000000e+02,
       6.66000000e+02, 3.79900000e+03, 1.18000000e+03, 1.98000000e+02,
       2.99900000e+03, 3.99900000e+03, 3.39900000e+03, 1.00000000e+03,
       3.59000000e+02, 2.09900000e+03, 2.39000000e+03, 1.49900000e+03,
       1.09900000e+03, 1.79900000e+03, 1.99900000e+03, 7.49000000e+02,
       3.00000000e+02, 4.49900000e+03, 3.49900000e+03, 4.99000000e+02,
       1.25900000e+03, 1.59900000e+03, 6.59000000e+02, 8.99000000e+02,
       7.90000000e+01, 1.19800000e+03, 2.29000000e+03, 1.69900000e+03,
       1.35200000e+02, 6.32000000e+01, 1.39900000e+03, 4.90000000e+01,
       2.89900000e+03, 5.80000000e+01, 1.34600000e+02, 3.69000000e+03,
       3.99000000e+03, 1.19000000e+02, 3.19900000e+03, 2.84900000e+03,
       2.80000000e+01, 2.98000000e+02, 1.89000000e+03, 2.49900000e+03,
       5.29000000e+02, 3.39000000e+02, 1.13900000e+03, 5.69000000e+02,
       2.29900000e+03, 3.49000000e+03, 2.59000000e+03, 1.24900000e+03,
       2.19800000e+03, 1.39800000e+03, 2.39900000e+03, 2.39800000e+03,
       1.84900000e+03, 4.98000000e+02, 2.09000000e+03, 1.19200000e+03,
       4.20000000e+02, 3.30000000e+03, 1.29900000e+03, 1.99800000e+03,
       4.60000000e+03, 1.74450000e+03, 2.69900000e+04, 2.04900000e+03,
       9.98000000e+02, 1.07900000e+03, 5.89000000e+03, 2.49800000e+03,
       2.29000000e+02, 1.19000000e+03, 1.49000000e+03, 1.59000000e+02,
       1.64900000e+03, 6.89000000e+02, 2.24900000e+03, 6.49000000e+02,
       1.27900000e+03, 4.99900000e+03, 2.10000000e+02, 5.00000000e+01,
       5.00000000e+02, 1.50000000e+02, 5.49000000e+02, 2.50000000e+01,
       1.00000000e+02, 6.00000000e+02, 2.50000000e+02, 1.14800000e+03,
       1.12900000e+03, 6.90000000e+01, 7.92000000e+01, 5.90000000e+01,
       1.34900000e+03, 2.20000000e+02, 7.50000000e+01, 7.50000000e+02,
       2.34900000e+03, 1.49900000e+04, 2.90000000e+01, 1.04900000e+03,
       1.48000000e+02, 2.87900000e+03, 1.01045000e+03, 1.99000000e+03,
       8.66000000e+02, 7.21550000e+02, 1.85000000e+03, 1.15900000e+03,
       3.59900000e+03, 3.32670000e+02, 1.24800000e+03, 1.18900000e+03,
       2.75000000e+02, 1.67000000e+02, 5.64000000e+02, 4.60000000e+02,
       2.79900000e+04, 9.87580000e+02, 1.43900000e+03, 7.05210000e+02,
       3.19000000e+03, 7.79000000e+02, 2.39200000e+02, 2.73920000e+04,
       2.53920000e+04, 2.59800000e+03, 2.09800000e+03, 5.39000000e+02,
       2.17500000e+02, 3.90000000e+02, 3.63000000e+02, 2.89000000e+03,
       7.72030000e+02, 1.08115000e+03, 4.49000000e+03, 1.54482000e+03,
       2.64580000e+02, 9.89000000e+02, 3.29000000e+02, 4.31000000e+02,
       6.79900000e+03, 6.38040000e+02, 8.50950000e+02, 7.09010000e+02,
       1.94900000e+03, 1.29000000e+03, 6.99000000e+03, 2.48000000e+02,
       1.03900000e+03, 1.76884000e+03, 1.80325000e+03, 4.50140000e+02,
       1.44900000e+03, 1.44243000e+03, 9.01180000e+02, 7.98000000e+02,
       2.45600000e+03, 7.00000000e+01, 8.00000000e+01, 1.37400000e+03,
       5.33000000e+02, 7.34000000e+02, 1.85900000e+03, 8.99900000e+03,
       1.39950000e+03, 3.98000000e+02, 6.29000000e+02, 2.69170000e+02,
       1.79957000e+03, 6.29260000e+02, 6.19000000e+02, 1.59800000e+03,
       8.49000000e+02, 3.50000000e+02, 2.22000000e+02, 2.00800000e+02,
       7.20000000e+02, 1.50000000e+03, 3.80000000e+02, 3.00000000e+00,
       2.80000000e+02, 3.79000000e+02, 3.83333333e+02, 8.14000000e+02,
       2.33000000e+02, 8.55000000e+02, 5.50000000e+03, 1.79800000e+03,
       2.87000000e+02, 1.99900000e+04, 3.35000000e+02])

In [11]:
sales['item_price'].describe()

count     4545.000000
mean      1031.686121
std       2073.919990
min          3.000000
25%        249.000000
50%        479.000000
75%       1192.000000
max      27990.000000
Name: item_price, dtype: float64

In [12]:
sales.groupby(['item_id']).groups.keys()

dict_keys([30, 31, 32, 42, 59, 74, 109, 259, 464, 482, 486, 492, 493, 494, 686, 687, 787, 799, 803, 806, 837, 839, 970, 971, 1007, 1010, 1045, 1114, 1143, 1201, 1204, 1256, 1260, 1310, 1315, 1364, 1370, 1373, 1384, 1389, 1390, 1467, 1469, 1523, 1534, 1535, 1556, 1563, 1568, 1569, 1570, 1670, 1682, 1744, 1824, 1826, 1855, 1857, 1858, 1866, 1875, 1876, 1877, 1878, 1880, 1883, 1892, 1905, 1914, 1941, 1968, 1969, 1970, 1971, 2047, 2049, 2070, 2140, 2252, 2254, 2269, 2283, 2284, 2286, 2293, 2297, 2308, 2354, 2416, 2429, 2442, 2445, 2517, 2574, 2575, 2578, 2592, 2690, 2734, 2753, 2755, 2760, 2766, 2778, 2799, 2808, 2813, 2817, 2819, 2851, 2852, 2853, 2861, 2868, 2871, 2878, 2881, 2918, 2919, 2934, 2937, 2939, 2946, 2954, 2959, 2969, 2975, 2976, 3007, 3025, 3026, 3027, 3028, 3054, 3071, 3072, 3077, 3084, 3108, 3115, 3141, 3146, 3148, 3156, 3170, 3234, 3236, 3238, 3243, 3251, 3303, 3327, 3329, 3331, 3340, 3341, 3342, 3343, 3423, 3443, 3447, 3460, 3461, 3472, 3473, 3476, 3477, 3484, 3553, 3580, 3605, 3617, 3633, 3641, 3656, 3692, 3695, 3708, 3728, 3729, 3734, 3735, 3753, 3777, 3801, 3842, 3928, 3934, 3967, 4003, 4014, 4029, 4102, 4103, 4138, 4178, 4181, 4190, 4192, 4228, 4231, 4240, 4241, 4242, 4334, 4351, 4352, 4355, 4357, 4365, 4367, 4393, 4424, 4427, 4445, 4467, 4471, 4493, 4498, 4516, 4548, 4554, 4557, 4628, 4639, 4701, 4717, 4728, 4736, 4806, 4807, 4808, 4870, 4871, 4872, 4873, 4899, 4904, 4906, 4962, 4977, 4996, 5013, 5037, 5046, 5051, 5240, 5247, 5272, 5305, 5341, 5361, 5362, 5380, 5459, 5467, 5485, 5509, 5572, 5581, 5601, 5634, 5638, 5643, 5655, 5658, 5663, 5666, 5669, 5672, 5674, 5759, 5760, 5811, 5820, 5821, 5822, 5823, 5827, 5828, 5830, 5834, 5837, 5900, 5917, 5962, 6027, 6028, 6051, 6092, 6108, 6117, 6126, 6128, 6129, 6156, 6185, 6226, 6236, 6252, 6254, 6285, 6297, 6308, 6351, 6406, 6422, 6432, 6474, 6496, 6497, 6503, 6625, 6628, 6641, 6675, 6710, 6713, 6738, 6740, 6768, 6861, 6875, 6877, 6930, 7003, 7018, 7085, 7087, 7093, 7172, 7211, 7220, 7233, 7308, 7351, 7369, 7493, 7498, 7655, 7723, 7736, 7739, 7741, 7780, 7793, 7794, 7798, 7805, 7812, 7834, 7846, 7852, 7853, 7856, 7872, 7877, 7894, 7917, 7933, 7956, 7966, 7967, 8008, 8012, 8040, 8061, 8065, 8073, 8078, 8079, 8093, 8095, 8204, 8209, 8218, 8245, 8312, 8352, 8366, 8436, 8448, 8452, 8455, 8469, 8508, 8510, 8532, 8537, 8569, 8570, 8571, 8624, 8625, 8672, 8702, 8778, 8807, 8808, 8819, 8845, 8856, 8874, 8888, 8930, 8958, 8961, 8981, 9048, 9055, 9121, 9124, 9355, 9394, 9396, 9401, 9405, 9406, 9409, 9411, 9451, 9457, 9458, 9462, 9495, 9496, 9497, 9498, 9499, 9532, 9541, 9554, 9697, 9786, 9862, 9873, 9929, 9994, 10003, 10164, 10205, 10216, 10266, 10277, 10296, 10337, 10357, 10360, 10378, 10379, 10382, 10455, 10476, 10477, 10478, 10489, 10500, 10513, 10515, 10517, 10553, 10578, 10583, 10614, 10615, 10617, 10633, 10659, 10678, 10726, 10768, 10782, 10784, 10785, 10786, 10788, 10826, 10829, 10842, 10855, 10891, 10937, 10940, 11094, 11106, 11133, 11134, 11142, 11181, 11184, 11185, 11200, 11222, 11227, 11244, 11245, 11247, 11286, 11306, 11311, 11339, 11369, 11370, 11372, 11373, 11389, 11431, 11454, 11460, 11496, 11498, 11575, 11595, 11652, 11655, 11688, 11711, 11786, 11795, 11796, 11800, 11811, 11893, 11899, 11904, 11926, 11927, 11938, 11968, 12028, 12062, 12064, 12090, 12091, 12104, 12105, 12206, 12286, 12319, 12353, 12361, 12362, 12363, 12399, 12411, 12436, 12463, 12465, 12475, 12477, 12488, 12527, 12552, 12610, 12709, 12730, 12778, 12781, 12797, 12826, 12839, 12917, 12933, 12944, 13041, 13071, 13097, 13099, 13104, 13105, 13119, 13144, 13151, 13159, 13166, 13205, 13229, 13230, 13268, 13341, 13342, 13359, 13367, 13387, 13400, 13401, 13405, 13442, 13494, 13505, 13511, 13512, 13517, 13557, 13560, 13591, 13674, 13687, 13697, 13721, 13723, 13753, 13755, 13802, 13803, 13812, 13825, 13827, 13851, 13856, 13869, 13880, 13881, 13970, 14019, 14039, 14044, 14075, 14092, 14093, 14102, 14125, 14143, 14169, 14216, 14223, 14227, 14228, 14229, 14243, 14254, 14256, 14258, 14259, 14280, 14306, 14307, 14308, 14313, 14368, 14386, 14437, 14444, 14446, 14457, 14458, 14500, 14506, 14510, 14597, 14628, 14652, 14654, 14710, 14716, 14720, 14755, 14810, 14822, 14830, 14844, 14845, 14846, 14860, 14865, 15022, 15023, 15031, 15040, 15044, 15045, 15047, 15063, 15066, 15085, 15088, 15112, 15114, 15193, 15212, 15229, 15240, 15257, 15261, 15265, 15283, 15286, 15319, 15334, 15336, 15392, 15395, 15398, 15438, 15443, 15450, 15456, 15470, 15480, 15489, 15519, 15521, 15548, 15552, 15555, 15615, 15645, 15650, 15685, 15698, 15702, 15739, 15746, 15757, 15778, 15787, 15799, 15812, 15817, 15818, 15844, 15850, 15856, 15857, 15866, 15922, 15938, 15941, 15989, 16003, 16032, 16038, 16042, 16055, 16056, 16057, 16058, 16061, 16083, 16113, 16116, 16128, 16136, 16137, 16147, 16160, 16167, 16169, 16174, 16177, 16179, 16182, 16184, 16205, 16206, 16209, 16210, 16227, 16245, 16249, 16261, 16310, 16356, 16359, 16360, 16434, 16441, 16450, 16487, 16493, 16524, 16555, 16595, 16671, 16676, 16677, 16788, 16790, 16825, 16826, 16859, 16880, 16889, 16896, 16904, 16922, 16923, 17027, 17042, 17046, 17048, 17104, 17130, 17302, 17322, 17365, 17375, 17398, 17403, 17457, 17467, 17493, 17500, 17565, 17620, 17654, 17662, 17717, 17748, 17750, 17769, 17785, 17875, 17880, 17887, 17891, 17956, 18015, 18026, 18030, 18042, 18046, 18048, 18049, 18050, 18051, 18052, 18106, 18147, 18148, 18163, 18209, 18253, 18257, 18360, 18380, 18407, 18431, 18439, 18441, 18454, 18464, 18476, 18477, 18484, 18589, 18622, 18625, 18626, 18672, 18677, 18699, 18704, 18834, 18848, 18882, 18884, 18923, 18953, 18958, 18975, 19037, 19041, 19043, 19046, 19050, 19051, 19093, 19116, 19118, 19126, 19134, 19161, 19162, 19216, 19258, 19288, 19295, 19307, 19334, 19339, 19370, 19405, 19434, 19436, 19438, 19439, 19597, 19602, 19647, 19686, 19692, 19752, 19771, 19794, 19806, 19816, 19817, 19836, 19893, 19894, 19986, 19993, 20055, 20069, 20195, 20225, 20226, 20231, 20259, 20269, 20311, 20337, 20346, 20347, 20405, 20434, 20465, 20521, 20540, 20544, 20608, 20610, 20611, 20613, 20614, 20641, 20654, 20739, 20773, 20916, 20920, 20949, 20957, 21260, 21358, 21361, 21362, 21363, 21364, 21365, 21366, 21367, 21368, 21377, 21386, 21387, 21388, 21400, 21414, 21420, 21427, 21440, 21447, 21485, 21486, 21591, 21605, 21669, 21674, 21677, 21679, 21684, 21704, 21726, 21761, 21762, 21793, 21842, 21881, 21893, 21902, 21922, 21962, 21976, 22058, 22073, 22076, 22087, 22088, 22091, 22092, 22104, 22140, 22162])

In [13]:
sales.groupby('item_id')['item_id'].min()
sales.groupby('item_id')['item_id'].max()

item_id
30          30
31          31
32          32
42          42
59          59
74          74
109        109
259        259
464        464
482        482
486        486
492        492
493        493
494        494
686        686
687        687
787        787
799        799
803        803
806        806
837        837
839        839
970        970
971        971
1007      1007
1010      1010
1045      1045
1114      1114
1143      1143
1201      1201
         ...
21486    21486
21591    21591
21605    21605
21669    21669
21674    21674
21677    21677
21679    21679
21684    21684
21704    21704
21726    21726
21761    21761
21762    21762
21793    21793
21842    21842
21881    21881
21893    21893
21902    21902
21922    21922
21962    21962
21976    21976
22058    22058
22073    22073
22076    22076
22087    22087
22088    22088
22091    22091
22092    22092
22104    22104
22140    22140
22162    22162
Name: item_id, Length: 985, dtype: int64

In [14]:
sales.groupby(['shop_id', 'item_id'])['item_cnt_day'].sum()

shop_id  item_id
2        1970       3.0
         1971       3.0
         2871       3.0
         2881       3.0
         3028       3.0
         5380       3.0
         10489      3.0
         10826      3.0
         11786      3.0
         11927      3.0
         14256      3.0
         14259      3.0
         14368      3.0
         14716      3.0
         14720      3.0
         15047      3.0
         15112      6.0
         15489      3.0
         17717      6.0
         18589      3.0
         19118      3.0
         21363      3.0
         21366      3.0
         21367      3.0
         21677      3.0
3        1469       3.0
         1970       3.0
         3692       3.0
         4493       3.0
         4870       3.0
                   ...
59       2959       3.0
         3027       3.0
         3243       3.0
         3251       3.0
         3484       3.0
         4728       3.0
         4806       6.0
         5361       3.0
         5643       3.0
         5820       3.0
         6108       3.0
         7739       6.0
         7805       3.0
         8093       3.0
         8448       3.0
         11460      3.0
         11655      3.0
         13697      3.0
         14254      3.0
         16788      3.0
         17717      3.0
         18454      3.0
         18477      3.0
         19752      3.0
         19794      3.0
         20608      3.0
         20949      6.0
         21362      3.0
         21364      3.0
         21761      3.0
Name: item_cnt_day, Length: 1515, dtype: float64

In [16]:
sales.groupby('item_id', as_index=False).agg({"item_price": "sum"})

     item_id  item_price
0         30      507.00
1         31     1089.00
2         32      447.00
3         42      897.00
4         59      747.00
5         74     1497.00
6        109      747.00
7        259      747.00
8        464      897.00
9        482    19800.00
10       486     4500.00
11       492     1800.00
12       493      750.00
13       494     1140.00
14       686     4500.00
15       687     1800.00
16       787     1260.00
17       799       75.00
18       803      300.00
19       806     1494.00
20       837    13800.00
21       839    19800.00
22       970     2094.00
23       971     1047.00
24      1007     3597.00
25      1010     1497.00
26      1045      597.00
27      1114     1549.50
28      1143     1197.00
29      1201      897.00
..       ...         ...
955    21486      630.00
956    21591     1197.00
957    21605      297.00
958    21669      447.00
959    21674     1197.00
960    21677      147.00
961    21679      447.00
962    21684      447.00
963    21704      507.00
964    21726      297.00
965    21761     2316.09
966    21762     4497.00
967    21793     2997.00
968    21842      447.00
969    21881     2691.00
970    21893       84.00
971    21902      297.00
972    21922      594.00
973    21962     3747.00
974    21976     4497.00
975    22058      507.00
976    22073      297.00
977    22076       84.00
978    22087     1071.00
979    22088     2142.00
980    22091     1074.00
981    22092      537.00
982    22104      747.00
983    22140      652.50
984    22162     5985.00

[985 rows x 2 columns]

In [ ]:
ignore = ['17717','8452','6503','17662','1969','11655','13697','21363','15857','19436','2416','21361','21366','4102','17887','11926','21362','21365','1114','11688','11927','18052','18050','18042','21364','7780','21386','2954','19752','20949']
len(ignore)

In [17]:
# Group the data frame by month and item and extract a number of stats from each group
sales.groupby(
   ['shop_id', 'item_id']
).agg(
    {
         'item_cnt_day':sum,   
         'item_price': "min",  
        'item_price': "max"  
    })

                 item_cnt_day  item_price
shop_id item_id
2       1970              3.0     8999.00
        1971              3.0     4499.00
        2871              3.0      999.00
        2881              3.0      999.00
        3028              3.0     2599.00
        5380              3.0     3490.00
        10489             3.0      399.00
        10826             3.0       28.00
        11786             3.0       28.00
        11927             3.0      539.00
        14256             3.0       99.00
        14259             3.0       99.00
        14368             3.0       28.00
        14716             3.0       49.00
        14720             3.0       49.00
        15047             3.0     1499.00
        15112             6.0      159.00
        15489             3.0     1149.00
        17717             6.0     1399.50
        18589             3.0       99.00
        19118             3.0      699.00
        21363             3.0     2879.00
        21366             3.0     1439.00
        21367             3.0      749.00
        21677             3.0       49.00
3       1469              3.0     1199.00
        1970              3.0     8999.00
        3692              3.0     1299.00
        4493              3.0      699.00
        4870              3.0     1299.00
...                       ...         ...
59      2959              3.0      638.04
        3027              3.0     2999.00
        3243              3.0     1499.00
        3251              3.0       58.00
        3484              3.0     6799.00
        4728              3.0      249.00
        4806              6.0       99.00
        5361              3.0       28.00
        5643              3.0     2990.00
        5820              3.0     3199.00
        6108              3.0       98.00
        7739              6.0      148.00
        7805              3.0      498.00
        8093              3.0     1081.15
        8448              3.0     4490.00
        11460             3.0       99.00
        11655             3.0     1544.82
        13697             3.0      899.00
        14254             3.0      249.00
        16788             3.0     2099.00
        17717             3.0      750.00
        18454             3.0      199.00
        18477             3.0      249.00
        19752             3.0       79.00
        19794             3.0      149.00
        20608             3.0     1999.00
        20949             6.0        5.00
        21362             3.0     1099.00
        21364             3.0      479.00
        21761             3.0      772.03

[1515 rows x 2 columns]

In [ ]:
####
sales

In [18]:
sales_sum = sales.groupby(['shop_id', 'item_id'])

In [20]:
sales_sum.head()

           date  shop_id  item_id  item_price  item_cnt_day
0    2015-01-04       29     1469      1199.0           1.0
1    2015-01-04       28    21364       479.0           1.0
2    2015-01-04       28    21365       999.0           2.0
3    2015-01-04       28    22104       249.0           2.0
4    2015-01-04       28    22091       179.0           1.0
5    2015-01-04       28    21842       149.0           1.0
6    2015-01-04       28    21881       299.0           1.0
7    2015-01-04       29     6930      2199.0           1.0
8    2015-01-04       29    10515       169.0           1.0
9    2015-01-04       29     8624       149.0           1.0
10   2015-01-04       29     4178      1590.0           1.0
11   2015-01-04       29     5643      2990.0           1.0
12   2015-01-04       29     5823      2799.0           1.0
13   2015-01-04       29     5037      2599.0           1.0
14   2015-01-04       29     5013       698.0           1.0
15   2015-01-04       29     5822      1149.0           1.0
16   2015-01-04       28    16487       399.0           1.0
17   2015-01-04       28    16360       799.0           1.0
18   2015-01-04       28    15698        99.0           1.0
19   2015-01-04       28    15812       999.0           1.0
20   2015-01-04       28    15818       699.0           1.0
21   2015-01-04       28    17748       349.0           1.0
22   2015-01-04       28    16923       599.0           2.0
23   2015-01-04       28    16889        99.0           1.0
24   2015-01-04       28    16880       199.0           1.0
25   2015-01-04       28    17027       399.0           1.0
26   2015-01-04       28    15922      2149.0           1.0
27   2015-01-04       28    15645       399.0           1.0
28   2015-01-04       28    20225       479.0           2.0
29   2015-01-04       28    20434      1899.0           1.0
...         ...      ...      ...         ...           ...
4515 2015-01-04       15    15698        99.0           1.0
4516 2015-01-04       15    20231        99.0           1.0
4517 2015-01-04       15    17875       148.0           1.0
4518 2015-01-04       15    19439      3999.0           1.0
4519 2015-01-04       15    19436       799.0           1.0
4520 2015-01-04       15     8078        99.0           1.0
4521 2015-01-04       15    11227        99.0           1.0
4522 2015-01-04       15    11575        99.0           1.0
4523 2015-01-04       15    11927       539.0           1.0
4524 2015-01-04       15    11926      1199.0           1.0
4525 2015-01-04       15    13400     19990.0           1.0
4526 2015-01-04       15    14258       299.0           1.0
4527 2015-01-04       15    15212       335.0           1.0
4528 2015-01-04       15    14844       339.0           1.0
4529 2015-01-04       15    13041        99.0           1.0
4530 2015-01-04       15    14227        99.0           1.0
4531 2015-01-04       15    13970        49.0           1.0
4532 2015-01-04       14    11926      1079.0           1.0
4533 2015-01-04       14    18441       249.0           1.0
4534 2015-01-04       14    15240       599.0           1.0
4535 2015-01-04       14     8958       499.0           1.0
4536 2015-01-04       14     8570       499.0           1.0
4537 2015-01-04       14     6422        58.0           1.0
4538 2015-01-04       14     6861       498.0           1.0
4539 2015-01-04       15     2975      2199.0           1.0
4540 2015-01-04       15     4240      1299.0           1.0
4541 2015-01-04       14    21922        99.0           1.0
4542 2015-01-04       15     1969      3999.0           1.0
4543 2015-01-04       14    22091       179.0           1.0
4544 2015-01-04       15     1007      1199.0           1.0

[4545 rows x 5 columns]

In [ ]:
sales

In [21]:
sales['ExtRev'] = sales['item_price'] * sales['item_cnt_day']

In [22]:
sales_by_item = sales['ExtRev'].groupby([sales['item_id']]).sum()

In [23]:
rev_by_shop = sales['ExtRev'].groupby([sales['shop_id']]).sum()

In [24]:
type(rev_by_shop)

pandas.core.series.Series

In [25]:
#sales.groupby("shop_id")["ExtRev"].sum().to_frame()
rev_by_shop = sales.groupby("shop_id")["ExtRev"].sum().to_frame()

In [26]:
rev_by_shop

           ExtRev
shop_id
2        103746.0
3         67443.0
4         29361.0
5         33138.0
6        138678.0
7         52371.0
10        22716.0
12       295173.0
14        57450.0
15       125139.0
16       121923.0
18        35787.0
19        51420.0
21       228999.0
22       150717.0
24        56955.0
25       288432.0
26       120462.0
27       172959.0
28       202512.0
29        85737.0
31       304692.0
34        12117.0
35        65769.0
37       220500.0
38        73482.0
39        34686.0
41        36840.0
42       330111.0
44       137445.0
45        82350.0
46        93903.0
47        80142.0
48        32745.0
49        35784.0
50       142053.0
51        10665.0
52        63531.0
53        50505.0
54       125343.0
55       170847.6
56        54906.0
57       226269.0
58       142863.0
59       113109.0

In [27]:
#sales.groupby("shop_id")["ExtRev"].sum().to_frame()
rev_by_item = sales.groupby("item_id")["ExtRev"].sum().to_frame()
rev_by_item

           ExtRev
item_id
30         507.00
31        1089.00
32         447.00
42         897.00
59         747.00
74        1497.00
109        747.00
259        747.00
464        897.00
482      39600.00
486       6300.00
492       1800.00
493        750.00
494       1140.00
686       4500.00
687       1800.00
787       1260.00
799         75.00
803        300.00
806       2988.00
837      13800.00
839      19800.00
970       2094.00
971       1047.00
1007      3597.00
1010      1497.00
1045       597.00
1114      -244.50
1143      1197.00
1201       897.00
...           ...
21486      630.00
21591     1197.00
21605      297.00
21669      447.00
21674     1197.00
21677      147.00
21679      447.00
21684      447.00
21704      507.00
21726      297.00
21761     2316.09
21762     4497.00
21793     2997.00
21842      447.00
21881     2691.00
21893       84.00
21902      297.00
21922      594.00
21962     3747.00
21976     4497.00
22058      507.00
22073      297.00
22076       84.00
22087     1071.00
22088     3213.00
22091     1074.00
22092      537.00
22104     1494.00
22140      652.50
22162     7182.00

[985 rows x 1 columns]

In [28]:
rev_by_item.to_csv(r'rev_by_item.csv')
rev_by_shop.to_csv(r'rev_by_shop.csv')
sales.to_csv(r'sales_fixed.csv')

In [30]:
# Connection Data
driver = 'mysql+pymysql'
ip = '127.0.0.1'
username = 'root'
password = 'root'
db = 'retail_sales'
connection_string  = f'{driver}://{username}:{password}@{ip}/{db}'
# Engine & Query
engine = create_engine(connection_string)
query = 'SELECT * FROM raw_sales'
# Database Request
#sales = pd.read_sql(query,engine)

In [35]:
sales.to_sql('sales', con=engine)