# Mandatory Challenge
## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the dataset `retail_sales` from Ironhack's database. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Read the csv you can find in Ironhack's database.
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [1]:
# your code here
import pandas as pd
from sqlalchemy import create_engine

In [2]:
driver = 'mysql+pymysql:'
user = 'ironhacker_read'
password = 'ir0nhack3r'
ip = '35.239.232.23'
database = 'retail_sales'
connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)
query = """
        SELECT * FROM raw_sales
"""

df = pd.read_sql(query, engine)
df

           date  shop_id  item_id  item_price  item_cnt_day
0    2015-01-04       29     1469      1199.0           1.0
1    2015-01-04       28    21364       479.0           1.0
2    2015-01-04       28    21365       999.0           2.0
3    2015-01-04       28    22104       249.0           2.0
4    2015-01-04       28    22091       179.0           1.0
5    2015-01-04       28    21842       149.0           1.0
6    2015-01-04       28    21881       299.0           1.0
7    2015-01-04       29     6930      2199.0           1.0
8    2015-01-04       29    10515       169.0           1.0
9    2015-01-04       29     8624       149.0           1.0
10   2015-01-04       29     4178      1590.0           1.0
11   2015-01-04       29     5643      2990.0           1.0
12   2015-01-04       29     5823      2799.0           1.0
13   2015-01-04       29     5037      2599.0           1.0
14   2015-01-04       29     5013       698.0           1.0
15   2015-01-04       29     5822      1149.0           1.0
16   2015-01-04       28    16487       399.0           1.0
17   2015-01-04       28    16360       799.0           1.0
18   2015-01-04       28    15698        99.0           1.0
19   2015-01-04       28    15812       999.0           1.0
20   2015-01-04       28    15818       699.0           1.0
21   2015-01-04       28    17748       349.0           1.0
22   2015-01-04       28    16923       599.0           2.0
23   2015-01-04       28    16889        99.0           1.0
24   2015-01-04       28    16880       199.0           1.0
25   2015-01-04       28    17027       399.0           1.0
26   2015-01-04       28    15922      2149.0           1.0
27   2015-01-04       28    15645       399.0           1.0
28   2015-01-04       28    20225       479.0           2.0
29   2015-01-04       28    20434      1899.0           1.0
...         ...      ...      ...         ...           ...
4515 2015-01-04       15    15698        99.0           1.0
4516 2015-01-04       15    20231        99.0           1.0
4517 2015-01-04       15    17875       148.0           1.0
4518 2015-01-04       15    19439      3999.0           1.0
4519 2015-01-04       15    19436       799.0           1.0
4520 2015-01-04       15     8078        99.0           1.0
4521 2015-01-04       15    11227        99.0           1.0
4522 2015-01-04       15    11575        99.0           1.0
4523 2015-01-04       15    11927       539.0           1.0
4524 2015-01-04       15    11926      1199.0           1.0
4525 2015-01-04       15    13400     19990.0           1.0
4526 2015-01-04       15    14258       299.0           1.0
4527 2015-01-04       15    15212       335.0           1.0
4528 2015-01-04       15    14844       339.0           1.0
4529 2015-01-04       15    13041        99.0           1.0
4530 2015-01-04       15    14227        99.0           1.0
4531 2015-01-04       15    13970        49.0           1.0
4532 2015-01-04       14    11926      1079.0           1.0
4533 2015-01-04       14    18441       249.0           1.0
4534 2015-01-04       14    15240       599.0           1.0
4535 2015-01-04       14     8958       499.0           1.0
4536 2015-01-04       14     8570       499.0           1.0
4537 2015-01-04       14     6422        58.0           1.0
4538 2015-01-04       14     6861       498.0           1.0
4539 2015-01-04       15     2975      2199.0           1.0
4540 2015-01-04       15     4240      1299.0           1.0
4541 2015-01-04       14    21922        99.0           1.0
4542 2015-01-04       15     1969      3999.0           1.0
4543 2015-01-04       14    22091       179.0           1.0
4544 2015-01-04       15     1007      1199.0           1.0

[4545 rows x 5 columns]

In [3]:
#to save the table in a .csv file
df.to_csv("../raw_sales.csv", sep=",")

In [ ]:
df.describe()

In [ ]:
df["item_price"].hist()

In [ ]:
df.info()

In [ ]:
#per saber els Nan que hi ha a la taula
df.isna().sum()

In [ ]:
df_new = df.sort_values(["item_price"],ascending=False)

In [ ]:
df_new = df_new[df_new["item_price"] < 15000]

In [ ]:
df_new = df_new.sort_values(["item_price"],ascending=True)

In [ ]:
df_new = df_new[df_new["item_price"] > 100]

In [ ]:
#I decided to discard the lines above the 15000 and the lines below 100 because under my point of view they were not useful
df_new

In [ ]:
df_new["item_price"].hist()

In [ ]:
df_new.boxplot()

### Creation of the aggregates tables