## Context
You work in the data analysis team of a very important company. On Monday, the company shares some good news with you: you just got hired by a major retail company! So, let's get prepared for a huge amount of work!

Then you get to work with your team and define the following tasks to perform:   
1. You need to start your analysis using data from the past.  
2. You need to define a process that takes your daily data as an input and integrates it.  

You are in charge of the second part, so you are provided with a sample file that you will have to read daily. To complete you task, you need the following aggregates:
* One aggregate per store that adds up the rest of the values.
* One aggregate per item that adds up the rest of the values.

You can import the `raw_sales` table from the database `retail_sales` fon of Ironhack's databases. 

## Your task
Therefore, your process will consist of the following steps:
1. Read the sample file that a daily process will save in your folder. 
2. Clean up the data.
3. Create the aggregates.
4. Write three tables in your local database: 
    - A table for the cleaned data.
    - A table for the aggregate per store.
    - A table for the aggregate per item.

## Instructions
* Clean the data and create the aggregates as you consider.
* Create the tables in your local database.
* Populate them with your process.

In [1]:
# We first import the necessary libraries:
import pandas as pd
import numpy as np

In [9]:
#We then import the dataset and clean it
raw_sales = pd.read_csv('../Data/retail_sales-raw_sales.csv',sep=';')
raw_sales.drop(['date'],axis=1,inplace=True)
raw_sales.head()

   shop_id  item_id  item_price  item_cnt_day
0       29     1469      1199.0           1.0
1       28    21364       479.0           1.0
2       28    21365       999.0           2.0
3       28    22104       249.0           2.0
4       28    22091       179.0           1.0

In [17]:
#I compute the aggregate per item
sales_items = raw_sales.drop(['shop_id'],axis=1)
sales_items.groupby('item_id',as_index=False).sum().sort_values('item_cnt_day',ascending=False)

     item_id  item_price  item_cnt_day
932    20949       219.0          93.0
71      1969    190152.0          66.0
939    21364     22848.0          66.0
807    17717     59034.0          60.0
526    11927     20754.0          51.0
..       ...         ...           ...
94      2575      6297.0          -3.0
97      2690      4794.0          -3.0
43      1523      2397.0          -3.0
122     2946      1347.0          -3.0
372     8095      1497.0          -3.0

[985 rows x 3 columns]

In [18]:
#I finally compute the aggregate per store
sales_stores = raw_sales.drop(['item_id'],axis=1)
sales_stores.groupby('shop_id',as_index=False).sum().sort_values('item_cnt_day',ascending=False)

    shop_id  item_price  item_cnt_day
21       31   268098.00         402.0
42       57   219234.00         324.0
16       25   281796.00         312.0
28       42   327864.00         249.0
19       28   175614.00         246.0
7        12   212196.40         216.0
39       54   119352.00         195.0
40       55    72612.60         180.0
18       27   156324.00         180.0
13       21   224818.50         180.0
43       58   135318.00         168.0
4         6   116352.00         150.0
14       22   124665.00         141.0
17       26   119025.00         111.0
44       59   112353.00         111.0
31       46    93185.40          99.0
11       18    35391.00          96.0
30       45    49107.00          96.0
9        15   125139.00          93.0
23       35    89337.00          84.0
0         2    99070.50          81.0
32       47    80142.00          78.0
38       53    49893.00          78.0
41       56    47109.00          75.0
20       29    85737.00          72.0
37       52    65512.02          72.0
15       24    56955.00          69.0
35       50   142008.00          69.0
25       38    73482.00          66.0
10       16   119526.00          66.0
5         7    52371.00          63.0
33       48    32745.00          63.0
24       37   212103.00          63.0
12       19    61008.00          60.0
26       39    30369.00          54.0
8        14    33456.00          51.0
29       44   143070.00          51.0
3         5    33138.00          45.0
2         4    29361.00          39.0
1         3    67443.00          33.0
34       49    35784.00          33.0
27       41    36840.00          30.0
6        10    22707.00          30.0
36       51     9285.00          24.0
22       34    12117.00          18.0